<div class="set-12 loading" *ngIf="!isDataAvailable">
  <mat-spinner diameter="50"></mat-spinner>
</div>

<div class="set-12" *ngIf="isDataAvailable">
  <h3>Nuevo tema</h3>

  <form class="set-12" [formGroup]="addCategoryFormGroup" (submit)="onAddCategory(addCategoryFormGroup)">
    <mat-form-field appearance="outline">
      <mat-label>Nombre</mat-label>
      <input type="text" matInput formControlName="name">
    </mat-form-field>

    <div class="set-12 ctrls">
      <button type="button" mat-raised-button color="accent" [disabled]="submitted" (click)="killDialog()">
        <small>Cancelar</small>
      </button>
      <button type="submit" mat-raised-button color="primary" [disabled]="addCategoryFormGroup.invalid || submitted">
        <small>Guardar</small>
      </button>
    </div>
  </form>
</div>