<div class="set-12 loading" *ngIf="!isDataAvailable">
  <mat-spinner></mat-spinner>
</div>

<div class="set-12" *ngIf="isDataAvailable">
  <div class="crdlst">
    <div class="wll">
      <button type="button" mat-mini-fab color="primary" (click)="utilityService.linkMe('/posts')">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>Muro Colectivo</span>
    </div>
    <mat-card>
      <div class="set-12">
        <div class="set-12 crdh"
          [ngClass]="{'blueb': post['relation'] == 'testimony', 'greenb': post['relation'] == 'complaint'}">
          <div class="set-10">
            <button type="button" class="avatar">
              <span *ngIf="post['card']['createdBy'] == null">A</span>
              <span *ngIf="post['card']['createdBy'] != null && post['card']['isAnonymous']">A</span>

              <span
                *ngIf="post['card']['createdBy'] != null && post['card']['createdBy']['avatarImage'] == null && !post['card']['isAnonymous']">
                {{ post['card']['createdBy']['firstname'] | firstword | firstletter | titlecase }}{{
                post['card']['createdBy']['lastname'] | firstword | firstletter | titlecase }}
              </span>

              <img src="{{ post['card']['createdBy']['avatarImage'] }}" alt=""
                *ngIf="post['card']['createdBy'] != null && post['card']['createdBy']['avatarImage'] != null && !post['card']['isAnonymous']" />
            </button>

            <div>
              <p>
                <small *ngIf="post['card']['createdBy'] != null && !post['card']['isAnonymous']">
                  {{ post['card']["createdBy"]["firstname"] | titlecase }} {{ post['card']["createdBy"]["lastname"] |
                  titlecase }}
                </small>
                <small *ngIf="post['card']['isAnonymous']">Anónimo</small>
              </p>
              <p class="dates">
                <small>
                  {{ post['card']["createdAt"] | date : "mediumDate" }} - {{ post['card']["createdAt"] | date :
                  "mediumTime" }}
                </small>
              </p>
            </div>
          </div>
        </div>

        <div class="set-12 crddsc"
          [ngClass]="{'blueb': post['relation'] == 'testimony', 'greenb' : post['relation'] == 'complaint'}">
          <div class="set-12" [innerHTML]="utilityService.truncateHTML(post['card']['description'])"></div>
        </div>

        <div class="set-12 crdvp">
          <img [src]="post['card']['images'][0]" alt="" class="full" *ngIf="post['card']['images'].length != 0" />
          <img src="../../assets/images/mexicolectivo-small-blue.png" alt=""
            *ngIf="post['card']['images'].length == 0" />
          <video controls [src]="post['card']['images'][0]" *ngIf="post['card']['hasVideo']" class="full"></video>
        </div>

        <div class="set-12 crdft">
          <div class="set-6 types">
            <mat-icon>label</mat-icon>
            <small>Denuncia</small>
          </div>

          <div class="set-6 ctrls">
            <button type="button" matTooltip="Comentar" matTooltipClass="tooltip" (click)="openSinglePostDialog(post)">
              <mat-icon>forum</mat-icon>
            </button>
            <button type="button" matTooltip="Compartir" matTooltipClass="tooltip" (click)="sharePost(post)">
              <mat-icon>share</mat-icon>
            </button>

            <button type="button" matTooltip="Favorito" matTooltipClass="tooltip"
              (click)="handleTestimonyFavorite(post)" *ngIf="user['status'] == undefined">
              <mat-icon [color]="post['isFavorite'] ? 'warn' : 'primary'">favorite</mat-icon>
            </button>
            <button type="button" matTooltip="Favorito" matTooltipClass="tooltip" *ngIf="user['status'] != undefined"
              disabled>
              <mat-icon>favorite</mat-icon>
            </button>

            <button type="button" matTooltip="Votar" matTooltipClass="tooltip" (click)="openVoteDialog(post)"
              *ngIf="user['status'] == undefined">
              <mat-icon [color]="post['voted'] ? 'warn' : 'primary'">star</mat-icon>
            </button>
            <button type="button" matTooltip="Votar" matTooltipClass="tooltip" *ngIf="user['status'] != undefined"
              disabled>
              <mat-icon>star</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>