:host {
  width: 100%;
  float: left;
  padding: 20px;

  ::ng-deep .mat-form-field-subscript-wrapper {
    position: relative !important;
    font-style: italic;
  }

  .avatarhldr {
    margin: 40px 0;
  }

  .avatar {
    width: 90px;
    height: 90px;
    display: block;
    border-radius: 100%;
    overflow: hidden;
    background: #D9D9D9;

    mat-icon {
      color: #ffffff;
      font-size: 30pt;
    }
  }

  ::ng-deep .mat-form-field-wrapper {
    margin: 0 !important;
    padding-bottom: 10px !important;
  }

  .formsep {
    margin: 20px 0 30px 0;
  }

  form {
    margin-top: 20px;
  }







  ::ng-deep .mat-horizontal-stepper-header-container {
    display: none !important;
  }

  .mat-stepper-horizontal,
  .mat-stepper-vertical {
    background: none !important;
  }

  .loading {
    mat-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .drag-list {
    width: 100%;
    max-width: 100%;
    min-height: 60px;
    display: block;
    border-radius: 4px;
    overflow: hidden;
    margin: 20px 0 10px 0;

    .drag-box {
      padding: 20px 10px;
      color: rgba(0, 0, 0, 0.87);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      cursor: move;
      font-size: 14px;
      background: linear-gradient(180deg, #71F5AD 100%, #0EAA70 100%);
      border: 1px dashed #00031D;
      text-transform: uppercase;
      margin-bottom: 5px;
      border-radius: 5px;
    }

    .cdk-drag-preview {
      box-sizing: border-box;
      border-radius: 4px;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }

    .cdk-drag-placeholder {
      opacity: 0;
    }

    .cdk-drag-animating {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
  }

  .drag-sublist {
    width: 100%;
    max-width: 100%;
    min-height: 60px;
    display: block;
    border-radius: 4px;
    overflow: hidden;
    margin: 20px 0 10px 0;

    .drag-box {
      padding: 10px;
      color: rgba(0, 0, 0, 0.87);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      box-sizing: border-box;
      cursor: move;
      font-size: 14px;
      background: linear-gradient(180deg, #E1F2EC 100%, #E1F2EC 100%);
      border: 1px dashed #00031D;
      text-transform: uppercase;
      margin-bottom: 5px;
      border-radius: 5px;
    }

    .cdk-drag-preview {
      box-sizing: border-box;
      border-radius: 4px;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }

    .cdk-drag-placeholder {
      opacity: 0;
    }

    .cdk-drag-animating {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
  }

  .drag-chiplist {
    width: 100%;
    max-width: 100%;
    min-height: 60px;
    display: block;
    border-radius: 4px;
    overflow: hidden;
    margin: 20px 0 10px 0;

    .drag-chip {
      cursor: move;
      font-size: 9pt;
      background: gainsboro;
      border: 1px dashed #00031D;
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 10px;
      border-radius: 30px;
      padding: 5px 10px;
    }

    .cdk-drag-preview {
      box-sizing: border-box;
      border-radius: 4px;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }

    .cdk-drag-placeholder {
      opacity: 0;
    }

    .cdk-drag-animating {
      transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
  }

  .drag-list.cdk-drop-list-dragging .drag-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .drag-sublist.cdk-drop-list-dragging .drag-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .searchhldr {
    margin-top: 20px;
  }

  .ctrls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 10px;

    * {
      margin: 0;
    }

    button:not(:first-child) {
      margin-left: 10px;
    }

    mat-spinner {
      margin-left: 20px;
    }
  }

  .innerctrls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 10px 0;

    * {
      margin: 0;
    }
  }

  .note {
    padding: 0 20px;
  }

  .legals {
    margin-top: 20px;

    p {
      margin-bottom: 10px;
    }

    .row {
      display: flex;
      margin-bottom: 4px;

      * {
        margin: 0;
      }

      a {
        margin-left: 5px !important;
      }
    }
  }

  .activation-legend {
    margin-top: 10px;
  }
}