<div class="set-12 loading" *ngIf="!isDataAvailable">
  <mat-spinner diameter="50"></mat-spinner>
</div>

<div class="set-12" *ngIf="isDataAvailable">
  <div class="set-12 dialog-head">
    <div class="set-9">
      <h3>Agregar Categoría</h3>
    </div>
    <div class="set-3 txt-right">
      <button type="button" mat-icon-button color="primary" (click)="killDialog()" [disabled]="isSubmitted">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
  </div>

  <div class="set-12 dialog-body">
    <input type="file" #file (change)="onFileSelected($event)" multiple>
    <mat-stepper labelPosition="bottom" #stepper [disableRipple]="true" [linear]="true" [@.disabled]="true">
      <mat-step [stepControl]="stepTwoFormGroup">
        <ng-template matStepLabel>
          <small>Agrega tu esquema</small>
        </ng-template>

        <div class="set-12 step-content">
          <div class="set-12">
            <mat-form-field appearance="outline">
              <mat-label>Búscar categoría</mat-label>
              <mat-chip-list #chipList>
                <mat-chip *ngFor="let category of selectedCategories" (removed)="removeCategory(category)">
                  {{category}}
                  <button matChipRemove>
                    <mat-icon>cancel</mat-icon>
                  </button>
                </mat-chip>

                <input placeholder="..." #categoryInput [formControl]="categoryCtrl" [matAutocomplete]="auto"
                  [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  (matChipInputTokenEnd)="addCategory($event)">
              </mat-chip-list>

              <mat-autocomplete #auto="matAutocomplete" (optionSelected)="categorySelected($event)">
                <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
                  <small>{{category}}</small>
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

          <div class="set-12 ctrls">
            <button type="button" mat-raised-button color="accent" (click)="popAddRootCategoryDialog()">
              <small>Nueva Categoría</small>
            </button>
            <button type="button" mat-raised-button color="primary" matStepperNext
              [disabled]="stepTwoFormGroup.invalid">
              <small>Siguiente</small>
            </button>
          </div>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>
          <small>Agrega una descripción</small>
        </ng-template>

        <div class="set-12 step-content">
          <form class="editor-form" [formGroup]="stepOneFormGroup">
            <!-- <div class="set-9">
              <mat-form-field appearance="outline">
                <mat-label>Descripción</mat-label>
                <textarea matInput cdkTextareaAutosize formControlName="description"></textarea>
              </mat-form-field>
            </div>

            <div class="set-3">
              <button type="button" class="upload-img" (click)="file.click()">
                <mat-icon>add_a_photo</mat-icon>
              </button>
            </div> -->
            <div class="set-12">
              <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>
            </div>
          </form>

          <div class="set-12 ctrls">
            <button type="button" mat-raised-button color="primary" matStepperPrevious>
              <small>Atras</small>
            </button>
            <button type="button" mat-raised-button color="primary" matStepperNext>
              <small>Siguiente</small>
            </button>
          </div>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>
          <small>Carga tus imágenes</small>
        </ng-template>

        <div class="set-12 step-content">
          <button type="button" class="upload-img" (click)="file.click()">
            <mat-icon>add_a_photo</mat-icon>
          </button>

          <div class="set-12 file-hldr">
            <p *ngFor="let name of fileNames">
              <small>{{name}}</small>
            </p>
          </div>

          <div class="set-12 ctrls">
            <button type="button" mat-raised-button color="primary" matStepperPrevious [disabled]="isSubmitted">
              <small>Atras</small>
            </button>
            <button type="button" mat-raised-button color="accent" (click)="onAddLayout()" [disabled]="isSubmitted">
              <small>Guardar</small>
            </button>
            <mat-spinner diameter="20" *ngIf="isSubmitted"></mat-spinner>
          </div>
        </div>
      </mat-step>
    </mat-stepper>
  </div>
</div>