<div class="set-12 dialog-head">
  <div class="set-9">
    <h3>Agregar Categoría</h3>
  </div>
  <div class="set-3 txt-right">
    <button type="button" mat-icon-button color="primary" (click)="killDialog()">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
</div>

<div class="set-12 dialog-body" *ngIf="!isDataAvailable">
  <mat-spinner></mat-spinner>
</div>

<div class="set-12 dialog-body" *ngIf="isDataAvailable">
  <input type="file" #file (change)="onFileSelected($event)">
  <form class="set-12" [formGroup]="addCategoryFormGroup" (submit)="onAddLayout(addCategoryFormGroup)">
    <div class="set-12 tools">
      <button type="button" (click)="toggleCategoryField()">
        <span *ngIf="!new_category">Agregar categoría</span>
        <mat-icon *ngIf="!new_category">add_circle</mat-icon>
        <span *ngIf="new_category">Cancelar</span>
        <mat-icon *ngIf="new_category">cancel</mat-icon>
      </button>
    </div>

    <div class="set-12" *ngIf="new_category">
      <div class="set-6">&nbsp;</div>
      <div class="set-6">
        <form [formGroup]="addCategoryFormGroup" (submit)="onCreateCategory(addCategoryFormGroup)">
          <mat-form-field appearance="outline">
            <mat-label>Nombre</mat-label>
            <input type="text" matInput formControlName="category" autocomplete="off">
            <button type="submit" mat-icon-button matSuffix [disabled]="addCategoryFormGroup.invalid"
              matTooltip="Guardar categoría" matTooltipClass="tooltip" matTooltipPosition="left">
              <mat-icon>save</mat-icon>
            </button>
          </mat-form-field>
        </form>
      </div>
    </div>

    <div class="set-12">
      <mat-form-field appearance="outline">
        <mat-label>Búscar categoría</mat-label>
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let category of selectedCategories" (removed)="removeCategory(category)">
            {{category}}
            <button matChipRemove>
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>

          <input placeholder="..." #categoryInput [formControl]="categoryCtrl" [matAutocomplete]="auto"
            [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="addCategory($event)">
        </mat-chip-list>

        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="categorySelected($event)">
          <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
            <small>{{category}}</small>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>

    <div class="set-9">
      <mat-form-field appearance="outline">
        <mat-label>Descripción</mat-label>
        <textarea matInput cdkTextareaAutosize formControlName="description"></textarea>
      </mat-form-field>
    </div>

    <div class="set-3">
      <button type="button" class="upload-img" (click)="file.click()">
        <mat-icon>add_a_photo</mat-icon>
      </button>
    </div>

    <div class="set-12 ctrls">
      <button type="submit" mat-raised-button color="primary">Guardar</button>
    </div>
  </form>
</div>