:host {
  min-height: 170px;

  .dialog-head {
    display: flex;
    align-items: center;
  }

  ::ng-deep .mat-step-header:hover,
  ::ng-deep .mat-step-header {
    background: transparent !important;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
  }

  .loading {
    height: 100px;
    mat-spinner {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}







.modalContainer {
  background-color: #ffffff;
  width: 708px;
  height: 365px;
  position: absolute;
  left: -5%;
  top: -200%;
  border-radius: 5px;
}

.titleContainer {
  position: absolute;
  height: 30px;
  left: 16px;
  right: 0px;
  top: 12px;
  width: 638px;
  height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  p {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
  }
}
img {
  position: absolute;
  left: 670px;
  top: 16px;
  cursor: pointer;
}
.modalBody {
  position: absolute;
  width: 643px;
  height: min-content;
  margin-top: 62px;
  margin-left: 33px;
  margin-right: 32px;
  p {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
  }
  form {
    input {
      border: 1px solid #636363;
      border-radius: 8px;
      width: 100%;
    }
    label {
      position: absolute;
      // font-family: "Noto Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #a5a5a5;
    }
    margin-top: 16px;
    .descriptionInput {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #a5a5a5;
      height: 169px;
      border: 1px solid #636363;
      border-radius: 8px;
      width: 100%;
      padding-top: 16px;
      padding-left: 16px;

    }
    .emailInput {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      color: #a5a5a5;
      margin-top: 23px;
      height: 45px;
      padding-left: 12px;
    }
    button {
      position: absolute;
      left: 246px;
      background: #ffffff;
      width: 149px;
      height: 35px;
      margin-top: 32px;
      border: 1px solid #a5a5a5;
      border-radius: 5px;
      color: #a5a5a5;
    }
  }
}


.alingCenter{
  text-align: end;
}

.btnEnabled{
  background-color: #306EFF !important;
  color: #ffffff !important;
}