:host {
  width: 100%;
  min-height: 170px !important;
  float: left;

  .dialog-head {
    display: flex;
    align-items: center;
  }

  .dialog-body {
    margin-top: 20px;

    p {
      margin-bottom: 20px;
    }
  }

  ::ng-deep .mat-step-header:hover,
  ::ng-deep .mat-step-header {
    background: transparent !important;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
  }

  .loading {
    mat-spinner {
      position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  textarea {
    min-height: 110px;
  }

  .ctrls {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    * {
      margin: 0;
    }

    button {
      margin-left: 10px;
    }

    button:first-child {
      margin-left: 0;
    }

    mat-spinner {
      margin-left: 20px;
    }
  }
}