:host {
  width: 100%;
  margin-top: 80px;
  margin-bottom: 100px;
  float: left;

  mat-spinner {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.innerhldr{
  display: flex;
  .innercard{
    width: 50%;
  }
}

  mat-card {
    padding: 0 !important;
  }

  .notification {
    h3 {
      margin: 0;
    }

    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);

    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      overflow: hidden;
      background: #f1f1f1;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #1e7e7f;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        float: left;
      }
    }
  }

  .unread {
    background: rgba($color: #1e7e7f, $alpha: 0.3);
  }
}

:host(.fixmobile) {
  margin: 0 !important;
  width: 100%;
  float: left;
  .innerhldr{
    width: 100% !important;
    margin: 0 !important;
    .innercard{
      width: 100%;
    }
    
    .mat-card{
      border-radius: 0px;
    }
  }
}