<div class="set-12 loading" *ngIf="!isDataAvailable">
  <mat-spinner diameter="50"></mat-spinner>
</div>

<div class="set-12" *ngIf="isDataAvailable">
  <div class="set-12 dialog-head">
    <h3>Permiso para participar</h3>
  </div>

  <div class="set-12 dialog-body">
    <p>
      <small>Platicanos por qué quisieras participar en <strong>{{this.dialogData['layout']['name']}}</strong></small>
    </p>
    <form [formGroup]="formPermission" (submit)="onRequestPermission(formPermission)">
      <div class="set-12">
        <div class="set-6">
          <mat-form-field appearance="outline">
            <mat-label>Categorías disponibles</mat-label>
            <mat-select multiple formControlName="layouts">
              <mat-option *ngFor="let layout of availableLayouts" [value]="layout.id">
                <small>{{ layout.name }}</small>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <mat-form-field appearance="outline">
        <mat-label>Escribe tus motivos</mat-label>
        <textarea matInput cdkTextareaAutosize formControlName="description"></textarea>
      </mat-form-field>

      <div class="set-12 ctrls">
        <button type="button" mat-raised-button color="warn" (click)="killDialog()" [disabled]="submitted">
          <small>Salir</small>
        </button>
        <button type="submit" mat-raised-button color="primary" [disabled]="formPermission.invalid || submitted">
          <small>Solicita permiso</small>
        </button>
        <mat-spinner diameter="30" *ngIf="submitted"></mat-spinner>
      </div>
    </form>
  </div>
</div>