<div class="set-12 loading" *ngIf="!isDataAvailable">
  <mat-spinner diameter="50"></mat-spinner>
</div>

<div class="set-12" *ngIf="isDataAvailable">
  <div class="set-12 dialog-head">
    <h3>Permiso para participar</h3>
  </div>

  <div class="set-12 dialog-body">
    <p>
      <small>Platicanos por qué quisieras participar como editor en
        <strong>{{this.dialogData['layout']['name']}}</strong></small>
    </p>
    <form [formGroup]="formPermission" (submit)="onRequestPermission(formPermission)">
      <mat-form-field appearance="outline">
        <mat-label>Escribe una descripción</mat-label>
        <textarea matInput cdkTextareaAutosize formControlName="description"></textarea>
      </mat-form-field>

      <div class="set-12 ctrls">
        <button type="button" mat-raised-button color="warn" (click)="killDialog()" [disabled]="submitted">
          <small>Salir</small>
        </button>
        <button type="submit" mat-raised-button color="primary" [disabled]="formPermission.invalid || submitted">
          <small>Solicita permiso</small>
        </button>
        <mat-spinner diameter="30" *ngIf="submitted"></mat-spinner>
      </div>
    </form>
  </div>
</div>