<div class="set-12">
  <breadcrumbs-component>
    <li class="breadcrumb-item">Perfil</li>

    <li>Economia</li>
  </breadcrumbs-component>

  <div class="layout" *ngIf="selectedCategory">
    <div class="left">
      <mat-card class="set-12 doc-description">
        <div class="set-12 imghldr">
          <!-- <mat-icon>panorama</mat-icon> -->
          <img
            src="../../../assets/images/books.png"
            alt=""
            style="width: 100%"
          />
        </div>
        <div class="set-12 infohldr">
          <h3>{{ selectedCategory.category.name }}</h3>
          <br />
            <expanded-text
            [text]="selectedCategory.description"
            [minLength]="200"
          ></expanded-text>
        </div>
      </mat-card>
      <div class="set-12" style="margin-top: 10px">
        <div class="horizontal-stats"></div>
      </div>
    </div>
    <div class="right">
      <panel-circles
        [data]="selectedCategory.subLayouts"
        [withBorder]="true"
      ></panel-circles>
      <div class="middle">
        <div class="select">
          <select required>
            <option value="volvo">Municipio 1</option>
            <option value="saab">Municipio 2</option>
            <option value="mercedes">Municipio 3</option>
            <option value="audi">Municipio 4</option>
          </select>
        </div>
      </div>
      <div class="bottom">
        <span class="vert-stats" style="width: 50%">
          <vertical-stats></vertical-stats>
        </span>
        <spider-chart style="width: 100%"></spider-chart>
        <top10-list [data]="items" style="width: 100%"></top10-list>
      </div>
    </div>
  </div>
</div>
