.card-container {

  width: 100%;
  padding: 105px 2%;
  background-color: white;
  border-radius: 5px;
  .images-box {
    width: 45px;
    padding: 10px;
    height: 45px;

    border-radius: 100%;
    img {
      width: 20px;
      height: 20px;
    }
  }

  .texts-box {
    margin-left: 62px;

    .name {
      font-size: 14px;
      font-weight: 400;
      letter-spacing: 0.5px;
    }
    .amount {
      font-size: 24px;
      font-weight: 500;
    }
  }
}

.green-icon-color {
  border: 1.5px solid #20C588;
  background-color: #E1F2EC;
}

.red-icon-color {
  border: 1.5px solid #FF6D00;
  background-color: #FCDBC3;
}
