<!-- <mat-list class="card-container shadow">
  <mat-list-item>
    <div class="set-12">
      <div class="set-3 images-box green-icon-color">
        <img src="../../../assets/images/stats.svg" alt="" />
      </div>
      <div class="texts-box">
        <p class="name">Soluciones</p>
        <p class="amount">{{ 320 }}</p>
      </div>
    </div>
  </mat-list-item>
  <mat-list-item style="margin-top: 50px">
    <div class="set-12">
      <div class="set-3 images-box red-icon-color">
        <img src="../../../assets/images/danger.svg" alt="" width="42" />
      </div>
      <div class="texts-box">
        <p class="name">Problemáticas</p>
        <p class="amount">{{ 233 }}</p>
      </div>
    </div>
  </mat-list-item>
</mat-list> -->

<mat-card class="set-12">
  <div class="set-12 flex item">
    <div class="set-2">
      <div class="images-box green-icon-color">
        <mat-icon>auto_graph</mat-icon>
      </div>
    </div>
    <div class="set-9 texts-box">
      <p class="name">
        <small>Soluciones</small>
      </p>
      <p class="amount">
        <small>{{ 320 }}</small>
      </p>
    </div>
  </div>

  <div class="set-12 flex item">
    <div class="set-2">
      <div class="images-box red-icon-color">
        <mat-icon>warning</mat-icon>
      </div>
    </div>

    <div class="set-9 texts-box">
      <p class="name">
        <small>Problemáticas</small>
      </p>
      <p class="amount">
        <small>{{ 233 }}</small>
      </p>
    </div>
  </div>
</mat-card>