:host {
  padding: 20px;
  float: left;
  width: 100%;

  .dlghd {
    display: flex;
    align-items: center;

    .set-2 {
      text-align: right;

      button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        zoom: 0.7;
      }
    }
  }

  .dlgbdy {
    margin-top: 40px;

    .usrtype {
      margin-bottom: 20px;
    }

    .subLayouts {
      background: #f1f1f1;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
      padding: 20px;


      .coverage,
      .topics {
        margin-top: 20px;

        h4 {
          margin-bottom: 5px;
        }
      }
    }

    .field:not(:first-child) {
      margin-top: 20px;
    }
  }

  ::ng-deep .mat-expansion-panel-body {
    width: 100%;
    margin: 0;
  }
}