<div class="set-12 map-container">
  <mat-card>
    <div class="map" #svgMapBox>
      <svg xmlns="http://www.w3.org/2000/svg" xmlns:amcharts="http://amcharts.com/ammap"
        xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" class="draw-map">
        <g>
          <path class="land" *ngFor="let statePath of mapStates" (click)="onClickState(statePath)" [id]="statePath.id"
            [title]="statePath.title" [attr.d]="statePath.d"
            [ngClass]="selectedState.id === statePath.id ? 'active' : ''" />
        </g>
      </svg>
    </div>

    <!-- DATA -->
    <div class="aside-data">
      <mat-form-field appearance="outline" *ngIf="isDataAvailable" class="select-full">
        <mat-label>Cobertura</mat-label>
        <mat-select>
          <mat-option *ngFor="let state of states">
            <small>{{ state.name }}</small>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="data-head">
        <div class="row">
          <div class="dot-map green">
            <mat-icon>insights</mat-icon>
          </div>

          <p>
            Soluciones <br />
            <b>2500</b>
          </p>
        </div>

        <div class="row">
          <div class="dot-map red">
            <mat-icon>warning</mat-icon>
          </div>

          <p>
            Problemas <br />
            <b>2500</b>
          </p>
        </div>
      </div>

      <div class="chart-container">
        <canvas class="donut-chart" baseChart [data]="data" [type]="'doughnut'" [options]="chartOptions"></canvas>

        <p>
          Categorias <br />
          <b>2500</b>
        </p>
      </div>
    </div>
  </mat-card>
</div>