<div class="set-12">

  <breadcrumbs-component>
    <li class="breadcrumb-item">Perfil</li>
      
    <li>Documentos</li>
      
  </breadcrumbs-component>

  <div class="layout">
    <div class="left">
      <mat-card class="set-12 doc-description">
        <div class="set-12 imghldr">
          <!-- <mat-icon>panorama</mat-icon> -->
          <img src="../../../assets/images/Rectangle 531.png" alt="" style="width: 100%;">
        </div>
        <div class="set-12 infohldr">
          <p class="card-title">Documento madre 00</p>
          <p class="card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          <span class="card-description link">Leer más</span>
        </div>
      </mat-card>
      <div class="set-12" style="margin-top: 10px;">
        <div class="horizontal-stats"></div>
      </div>
      <div class="set-12" style="margin-top: 10px;">
        <div class="app-map-box"></div>
      </div>
    </div>
    <div class="right">
      <div class="main shadow"></div>
      <div class="middle">
        <div class="title">Derechos humanos</div>
        <div class="select">
          <select required>
            <option value="volvo">Municipio 1</option>
            <option value="saab">Municipio 2</option>
            <option value="mercedes">Municipio 3</option>
            <option value="audi">Municipio 4</option>
          </select>
        </div>
        <div class="button">
          <button type="button">Ver Subcategorías</button>
        </div>
      </div>
      <div class="bottom">
          <div class="spider-chart chart" ></div>
          <div class="top10-list"></div>
      </div>
    </div>


  </div>
  
  <!-- <div class="set-3 col-lft">
    <mat-card class="set-12 doc-description">
      <div class="set-12 imghldr">
        <mat-icon>panorama</mat-icon>
        <img src="../../../assets/images/Rectangle 531.png" alt="" style="width: 100%;">
      </div>
      <div class="set-12 infohldr">
        <p class="card-title">Documento madre 00</p>
        <p class="card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
        <span class="card-description link">Leer más</span>
      </div>
    </mat-card>
    <div class="set-12" style="margin-top: 10px;">
      <div class="horizontal-stats"></div>
    </div>
  </div> -->
  <!-- <div class="set-3 inner-container">
    <div class="spider-chart chart" ></div>
  </div>

  <div class="set-6 inner-container">
    <div class="vertical-stats"></div>
  </div>

  <div class="set-6 inner-container">
    <div class="top10-list"></div>
  </div> -->
  <!-- <top10-list></top10-list> -->
  <!-- <vertical-stats-component ></vertical-stats-component> -->
  <!-- <horizontal-stats-component></horizontal-stats-component> -->
</div>