<div class="set-12">
  <button type="button" class="tool" [class.fixedpos]="open" disabled>
    <!-- <mat-icon>warning</mat-icon> -->
    <small>Nueva solución</small>
  </button>

  <button type="button" class="tool" [class.fixedpos]="open" (click)="popAddTopicDialog()">
    <!-- <mat-icon>insights</mat-icon> -->
    <small>Nuevo tópico</small>
  </button>
</div>

<button type="button" class="opener" (click)="displayMenu()">
  <mat-icon *ngIf="!open">add_circle</mat-icon>
  <mat-icon *ngIf="open">cancel</mat-icon>
</button>