:host {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 101;
  padding: 10px;
  // background: gray;
  border-radius: 100%;

  button {
    // border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all .2s linear;
  }

  button.opener {
    width: 40px;
    height: 40px;
    background: #306EFF;
    z-index: 17;
    border-radius: 100%;

    mat-icon {
      color: #ffffff;
    }
  }

  button.tool {
    width: auto;
    height: 40px;
    // background: greenyellow;
    z-index: 14;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: all .2s linear;
    padding: 0 10px;
    border-radius: 5px;

    mat-icon {
      font-size: 14pt;
    }
  }

  button.tool:nth-child(1) {
    background: #FCDBC3;

    mat-icon {
      color: #E98282;
    }

    &.fixedpos {
      top: -80px;
    }
  }

  button.tool:nth-child(2) {
    background: #71F5AD;

    &.fixedpos {
      top: -35px;
    }
  }

  .fixedpos {
    opacity: 1 !important;
  }
}