<div class="set-12">
  <button type="button" class="tool" [class.fixedpos]="open">
    <!-- <mat-icon>warning</mat-icon> -->
    <span>Solución</span>
  </button>

  <button type="button" class="tool" [class.fixedpos]="open" (click)="popAddTopicDialog()">
    <!-- <mat-icon>insights</mat-icon> -->
    <span>Tópico</span>
  </button>
</div>

<button type="button" class="opener" (click)="displayMenu()">
  <mat-icon *ngIf="!open">add_circle</mat-icon>
  <mat-icon *ngIf="open">cancel</mat-icon>
</button>