:host {
  .breadcrumbs {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0;
    margin-bottom: 5px;
    margin-top: 0;
    padding: 0;
    font-size: 9pt;

    >* {
      margin: 0;
      display: inline;
      margin-right: 0.2em;
      text-decoration: none;
      font-size: 14px;
      letter-spacing: 0.2px;
      text-transform: capitalize;
      position: relative;
      cursor: pointer;

      &:not(:last-child) {
        &:after {
          margin-left: 5px;
          content: "/";
          width: 5px;
        }

        &:before {
          position: absolute;
          content: "";
          display: block;
          width: 0;
          border-top: 1px solid #000;
          bottom: -1px;
          left: 0;
          transition: width 420ms linear;
        }
      }

      &:hover::before {
        width: calc(100% - 10px);
        transition: width 120ms linear;
      }

      &:last-child {
        font-weight: 600;
        text-transform: uppercase;
      }
    }
  }
}
