:host {
  padding: 20px;
  float: left;
  width: 70%;
  margin: 0 15%;

  .container {
    width: 600px;
    height: 450px;
    overflow: hidden;
    position: relative;
  }

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    * {
      margin: 0;
    }

    .title {
      word-break: break-all;
      max-width: 400px;
      position: relative;
      text-align: center;
    }

    .button {
      color: #71f5ad;
      position: relative;
      top: 19px;
      right: 26px;
    }
  }

  .body {
    width: 100%;
    height: auto;
    overflow-wrap: break-word;
  }

  .ctrls {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

:host(.fixmobile) {
  margin: 0 !important;
  width: 100%;
  padding-bottom: 40px;
}
