<mat-card>
  <div class="header">
    <div class="set-10">
      <h3 class="txt-left">{{title.toUpperCase()}}</h3>
    </div>
    <div class="set-2 txt-right">
      <button type="button" mat-icon-button color="primary" matTooltip="Salir" matTooltipClass="tooltip"
        (click)="killDialog()">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
  
    <!-- <h2 class="title">{{ title.toUpperCase() }}</h2>
    <button class="button" type="button" mat-icon-button (click)="killDialog()">
      <mat-icon>cancel</mat-icon>
    </button> -->
  </div>
  
  <div class="body">
    <div class="set-12" [innerHTML]="text"></div>
  </div>
</mat-card>