<div class="container">
  <div class="set-12">
    <div class="set-6">
      <breadcrumbs-component>
        <li class="breadcrumb-item">Documento madre</li>
        <li class="breadcrumb-item">Economia</li>

        <li>Empleo</li>
      </breadcrumbs-component>
      <div class="favorite-button">
        <button
          class="favorite"
          mat-mini-fab
          aria-label="Example icon-button with a heart icon"
        >
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
    </div>

    <div class="set-4 featured-users">
      <featured-users [inputAmount]="5"></featured-users>
    </div>

    <div class="set-2">
      <div class="header-buttons">
        <div class="button-box">
          <button
            type="button"
            mat-mini-fab
            color="warn"
            class="add-button green"
            (click)="openModalSolution()"
          >
            <mat-icon>create_new_folder</mat-icon>
          </button>
          <p>Agregar solución</p>
        </div>
        <div class="button-box">
          <button
            type="button"
            mat-mini-fab
            color="warn"
            class="add-button purple"
            (click)="openModalTestimony()"
          >
            <mat-icon style="color: white">create_new_folder</mat-icon>
          </button>
          <p>Agregar Testimonios</p>
        </div>
      </div>
    </div>
  </div>

  <div class="set-12" style="padding-bottom: 100px; margin-top: 20px">
    <div class="set-8 col-rgt-3">
      <div class="set-12">
        <card-document-public></card-document-public>
      </div>
      <div class="set-12 mt-2">
        <solutions-card [data]="solutions"></solutions-card>
      </div>
    </div>
    <div class="set-4">
      <public-documents-testimonials></public-documents-testimonials>
    </div>
  </div>
</div>
