<div class="set-12 loading" *ngIf="!isDataAvailable">
  <mat-spinner></mat-spinner>
</div>

<div class="set-12" *ngIf="isDataAvailable">
  <div class="set-12">
    <breadcrumbs-component>
      <li>...</li>
      <li [matTooltip]="document.title" matTooltipClass="tooltip"
        (click)="utilityService.linkMe('/documentos-publicos/' + document._id)">
        ...
      </li>
      <li [matTooltip]="category?.category?.name" matTooltipClass="tooltip" (click)="
          utilityService.linkMe('/documentos-publicos/' + document._id + '/categoria/' + category._id)">
        {{ category?.category?.name }}
      </li>
      <li [matTooltip]="subcategory?.category?.name" matTooltipClass="tooltip"
        (click)="
          utilityService.linkMe('/documentos-publicos/' + document._id + '/categoria/' + category._id + '/subcategoria/' + subcategory._id)">
        {{ subcategory?.category?.name }}
      </li>
      <li [matTooltip]="topic.shortTitle" matTooltipClass="tooltip">
        {{ topic.shortTitle }}
      </li>
    </breadcrumbs-component>

    <div class="set-12 author-hldr">
      <span class="created-by">
        Autor:
        <span class="author">
          {{ topic.createdBy.firstname }}
          {{ topic.createdBy.lastname }}
        </span>
      </span>
    </div>
  </div>

  <div class="set-12">
    <div class="set-9 col-lft">
      <mat-card>
        <div class="set-12 card-desc">
          <div class="imghldr">
            <div class="info">
              <div class="actions">
                <div class="set-12">
                  <p>Relevancia ciudadana</p>
                  <p class="votes">{{ stats.score }} / 100</p>
                </div>

                <div class="set-12 vote-status" *ngIf="userVoted">
                  Votos: {{ votes }}
                </div>

                <div class="set-12 vote-status">
                  <button *ngIf="!userVoted" mat-raised-button color="accent" (click)="openModalVote()">
                    <strong>Votar</strong>
                  </button>
                  <mat-spinner diameter="20" *ngIf="submitted"></mat-spinner>
                </div>
              </div>
            </div>
          </div>

          <div class="infohldr">
            <h3>{{ topic.title }}</h3>
            <expanded-text [text]="topic.description" [minLength]="300" [title]="topic.title"></expanded-text>
          </div>

          <div class="icons">
            <button type="button" mat-mini-fab color="warn" matTooltip="Agregar a favoritos" matTooltipClass="tooltip"
              (click)="addFavorites()" *ngIf="!isFavorites">
              <mat-icon>favorite</mat-icon>
            </button>

            <button type="button" mat-mini-fab color="accent" matTooltip="Agregar a favoritos" matTooltipClass="tooltip"
              (click)="removeFavorites()" *ngIf="isFavorites">
              <mat-icon>favorite</mat-icon>
            </button>

            <button type="button" mat-mini-fab color="warn" matTooltip="Agregar solución" matTooltipClass="tooltip"
              (click)="openModalSolution(null)">
              <mat-icon>feedback</mat-icon>
            </button>
            <button type="button" mat-mini-fab color="warn" matTooltip="Agregar comentario" matTooltipClass="tooltip"
              (click)="popAddCommentsDialog()">
              <mat-icon>add_comment</mat-icon>
            </button>
            <button type="button" mat-mini-fab color="warn" matTooltip="Agregar testimonio" matTooltipClass="tooltip"
              (click)="openModalTestimony(null)">
              <mat-icon>book</mat-icon>
            </button>
          </div>
        </div>

        <div class="set-12 listhldr">
          <solutions-card [data]="SolutionDataSource" [document]="document" [coverage]="coverage"
            [coverageSelected]="coverageSelected" (sendSolutionData)="openModalSolution($event)"></solutions-card>
        </div>
      </mat-card>
    </div>

    <div class="set-3 col-rgt">
      <public-documents-testimonials [data]="topic.testimonials" (sendTestimonyData)="openModalTestimony($event)">
      </public-documents-testimonials>
    </div>
  </div>
</div>