<div class="set-12 topic-card">
    <mat-card  >
        <div>
            <h3 class="set-9 ">Tema 1</h3>
            <span class="set-3" >Participa</span>
            <p class="set-12 ">Ultima actualización</p>
        </div>

        <div class="set-12 icons">
            <mat-icon>favorite</mat-icon>
            <mat-icon>check_circle</mat-icon>
            <mat-icon>share</mat-icon>
            <mat-icon>report</mat-icon>
            <mat-icon>forum</mat-icon>
        </div>
    </mat-card>
</div>
