<div class="form-hldr mt-5">
  <h2 class="mt-5">Ingresa tu correo para recuperar tu contrasena</h2>
  <form [formGroup]="formPassword" (submit)="changePassword(formPassword)">
    <mat-form-field appearance="outline">
      <mat-label>Correo electrónico</mat-label>
      <input matInput type="text" formControlName="email" />
    </mat-form-field>
    <div class="set-6">
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="formPassword.invalid"
      >
        <small>Enviar email</small>
      </button>
    </div>
  </form>
</div>
