<div class="modal-container">
  <div class="modal-head">
    <h3 class="title">Selecciona una calificación:</h3>
    <div class="cancel">
      <button
        type="button"
        mat-icon-button
        color="primary"
        (click)="killDialog()"
      >
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <table class="table-container">
      <thead class="table-head">
        <th>Malo</th>
        <th>Regular</th>
        <th>Bueno</th>
      </thead>
      <tbody class="table-body">
        <tr>
          <td>
            <mat-radio-button
              value="1"
              (click)="valueQualification((value = 1))"
            ></mat-radio-button>
          </td>
          <td>
            <mat-radio-button
              value="2"
              (click)="valueQualification((value = 2))"
            ></mat-radio-button>
          </td>
          <td>
            <mat-radio-button
              value="3"
              (click)="valueQualification((value = 3))"
            ></mat-radio-button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button class="button" mat-raised-button color="primary" (click)="vote()">Enviar</button>
  </div>
</div>
