<div class="set-12 modal-head">
  <div class="set-10">
    <h3>Selecciona una calificación</h3>
  </div>

  <div class="set-2">
    <button type="button" mat-mini-fab color="primary" (click)="killDialog()" [disabled]="submitted">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
</div>

<div class="set-12 modal-body">
  <div class="set-12 btn-hldr" *ngFor="let type of voteTypes; let i = index">
    <button type="button" [class.selected]="type.selected" (click)="valueQualification(type['score'], i)">
      <small>{{type.title}}</small>
    </button>
  </div>
</div>

<div class="set-12 modal-footer">
  <button class="button" mat-raised-button color="primary" (click)="vote()" [disabled]="submitted">
    <small>Votar</small>
  </button>
  <mat-spinner diameter="30" *ngIf="submitted"></mat-spinner>
</div>