:host {
  .modal-container {
    width: 450px;
    background: white;
    border-radius: 7px;
    bottom: 200px;
    overflow: hidden;
  }

  .modal-head {
    display: flex;
    align-items: center;

    .set-2 {
      text-align: right;

      button {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        zoom: 0.7;
      }
    }
  }

  .modal-body {
    width: 100%;
    margin-top: 40px;

    .btn-hldr {
      margin-bottom: 10px;
    }

    .btn-hldr:last-child {
      margin-bottom: 0;
    }

    button {
      width: 100%;
      background: #E1F2EC;
      padding: 15px;
      border-radius: 5px;
      font-size: 13pt;
      font-weight: bold;
      box-shadow: 0px 1px 3px rgb(0 0 0 / 25%) !important;
      transition: all .2s linear;
    }

    .selected {
      background: linear-gradient(180deg, #71F5AD 0%, #0EAA70 100%) !important;
    }
  }

  .modal-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;

    * {
      margin: 0;
    }

    mat-spinner {
      margin-left: 20px;
    }
  }
}
