:host {

 float: left;


  .circleChart {
    div{
      margin: 10px 5px;
      button{
        margin-top: 20px;
      }
    }
    .circleprogress{
      position: relative
    }
    .textProgressValue {
      font-weight: 700;
      color: #306eff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

    }

  }




}