.circleChart {
    display: flex;
    background: #FFFFFF;
    padding: 20px;

}

.textProgressValue {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #306EFF;
}

.infoProgressValue {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
}

.circleChartInformation{
    margin: 10px;
}