<div class="circleChart">
  <div class="set-6 circleprogress" >
    <mat-progress-spinner class="custom-spinner" [diameter]="150" [strokeWidth]="15" [value]="progressValue"
      color="accent">
      ></mat-progress-spinner>
    <span class="textProgressValue">
      {{ progressValue }}%
    </span>
  </div>
  <div class="set-5">
    <span><strong>{{ progressValue }}%</strong> De libres profesionistas en tu red</span>
      <!-- <button type="button" mat-raised-button color="accent" disabled> 
        Editar ocupación
      </button>-->
      </div>
</div>