<div class="circleChart">
  <div class="circleprogress" style="position: relative">
    <mat-progress-spinner class="custom-spinner" [diameter]="150" [strokeWidth]="15" [value]="progressValue"
      color="accent">
      ></mat-progress-spinner>
    <span class="textProgressValue">
      {{ progressValue }}%
    </span>
  </div>
  <div class="infocircle">
    <span><strong>{{ progressValue }}%</strong> De libres profesionistas en tu red</span>
      <button type="button" mat-raised-button color="accent">
        Editar ocupación
      </button>
      </div>
</div>