<div class="set-12 featured-users">
  <div class="featured-users-circles"></div>
</div>

<div class="set-12 bars">
  <div class="set-12 inner-bar" *ngFor="let layout of layouts">
    <!-- <button type="button" class="linker" matTooltip="Abrir categoría" matTooltipClass="tooltip"
      matTooltipPosition="left" *ngIf="layoutSelected == layout._id && layoutSelected != ''"
      (click)="linkMe('/documentos-publicos/' + document_id + '/categoria/' + layout._id)">
      <mat-icon>shortcut</mat-icon>
    </button> -->

    <div class="grayback">
      <button type="button" class="fav">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>

    <div class="gradbar" [style.min-width.%]="40" [style.max-width]="'calc(100% - 70px)'"
      [style.width.%]="layout.stats.score" *ngIf="layout.stats != null"></div>

    <button type="button" class="catname" (click)="displayLayoutData(layout)" [style.min-width.%]="37"
      [style.width.%]="layout.stats.score - 3" [matTooltip]="layout.stats.score + '%'" matTooltipClass="tooltip"
      matTooltipPosition="right"
      (click)="linkMe('/documentos-publicos/' + document_id + '/categoria/' + category_id + '/subcategoria/' + layout._id)"
      *ngIf="layout.stats != null">
      <small>{{ layout.category.name }}</small>
    </button>
  </div>
</div>