<div class="testimonials">
  <div class="set 12 head-titles">
    <span>Testimonios</span>
    <div class="line"></div>
  </div>

  <div class="content">
    <div *ngIf="data.length === 0" class="txt-center emptyhldr">
      <p>
        <small>Sin testimonios</small>
      </p>
      <p>
        <small>Sé el primero en agregar tu testimonio</small>
      </p>
      <div class="set-12 ctrls">
        <button type="button" mat-raised-button color="primary" (click)="addFirstTestimony()">
          <small>Agregar testimonio</small>
        </button>
      </div>
    </div>

    <mat-card class="testimonial-item" *ngFor="let testimonial of data">
      <div class="leading">
        <mat-icon *ngIf="!testimonial.images[0]">panorama</mat-icon>
        <img *ngIf="testimonial.images[0]" [src]="testimonial.images[0]" />
      </div>

      <div class="info">
        <p class="title" *ngIf="!testimonial.isAnonymous">
          {{ testimonial.createdBy.firstname }}
          {{ testimonial.createdBy.lastname }}
        </p>
        <p class="title" *ngIf="testimonial.isAnonymous">Anónimo</p>

        <div class="about">
          <img class="avatar" *ngIf="testimonial.createdBy.avatarImage" [src]="testimonial.createdBy.avatarImage"
            [matTooltip]="testimonial.createdBy.firstname + ' ' + testimonial.createdBy.lastname" />
          <mat-icon *ngIf="!testimonial.createdBy.avatarImage" style="font-size: 20px">panorama</mat-icon>
          <p>Fecha de creación: {{ testimonial.createdAt | date }}</p>
        </div>
      </div>
    </mat-card>
  </div>
</div>