<div class="set-12 innerhldr" [class.fixmob]="isMobile">
  <div class="set-12 loading" *ngIf="!isDataAvailable">
    <mat-spinner></mat-spinner>
  </div>

  <div class="set-12" *ngIf="isDataAvailable">
    <h2>AVISO DE PRIVACIDAD</h2>
    <div class="set-12 row">
      <h4>A. Identidad de la colectiva responsable</h4>
      <p>Mexicolectivo, con domicilio en Lago Texcoco 112 b bis Colonia Anáhuac, CDMX manifiesta que es una colectiva
        comprometida en proteger su privacidad. La entidad responsable de Protección de Datos es el Departamento de
        Datos
        Personales de Mexicolectivo y se encuentra localizable en el domicilio ubicado en Lago Texcoco 112 b bis
        Colonia
        Anáhuac, CDMX , usted podrá contactarlo en el correo electrónico: <a
          href="mailto:redessociales@mexicolectivo.com">redessociales@mexicolectivo.com</a>.
      </p>
      <p>Este Aviso de Privacidad corresponde a los siguientes sitios web pertenecientes a Mexicolectivo:</p>
      <p>
        <a href="#" routerLink="/">https://mexicolectivo.com/</a>
      </p>
    </div>

    <div class="set-12 row">
      <h4>B. Datos Personales</h4>
      <p>Para los fines señalados en el presente Aviso de Privacidad, Mexicolectivo podrá recabar sus datos personales
        de
        diversas formas: cuando la información es proporcionada directamente por usted; cuando visita el sitio de
        internet
        de Mexicolectivo; cuando utiliza las funciones de participación disponibles en el sitio web de Mexicolectivo
        en
        línea y cuando obtenemos información a través de otros medios distintos a los antes señalados y que están
        permitidos por las leyes aplicables. Los datos personales obtenidos por los medios antes indicados, son:</p>
      <p>1. Datos de identificación: nombre(s), apellido(s), domicilio, número telefónico de casa, celular y/o
        trabajo,
        estado civil, firma, correo electrónico, género, edad, fecha de nacimiento, nombre de usuario y contraseña.
      </p>
      <p>2. Datos de Preferencias: relacionados con funciones y opciones requeridas y/o motivo y preferencias de uso.
      </p>
    </div>

    <div class="set-12 row">
      <h4>C. Datos Personales Sensibles</h4>
      <p>Se consideran datos personales sensibles aquellos datos personales que pueden afectar a la esfera más privada
        de
        su titular, o cuya utilización indebida pueda dar origen a discriminación o conlleve un riesgo grave para
        éste.
        En
        particular, se consideran sensibles aquellos que puedan revelar aspectos como origen racial o étnico, estado
        de
        salud presente y futuro, información genética, creencias religiosas, filosóficas y morales, afiliación
        sindical,
        opiniones políticas. </p>
    </div>

    <div class="set-12 row">
      <h4>D. Finalidad y Tratamiento de la Información Personal</h4>
      <p>Finalidad es quedan origen a la relación jurídica y son necesarias para el uso:</p>
      <p>1. La información personal que nos proporciona será utilizada por Mexicolectivo para realizar las acciones de
        participación ciudadana indicada de manera digital y territorial y que son parte de los objetivos, de la
        misión
        y
        visión de la colectiva por medio de la inscripción y registro en el sitio web.</p>
      <p>2. Mexicolectivo puede utilizar la información personal que nos proporciona para ofrecerle una mejor
        funcionalidad y, en su caso, identificar sus preferencias y proponerle opciones en nuevas tecnologías
        vinculadas
        a
        los objetivos de la colectiva. </p>
      <p>Asimismo, puede utilizar la información para ofrecerle enviar invitaciones a eventos, boletines informativos,
        encuestas, sorteos de premios y otros concursos en línea.</p>
    </div>

    <div class="set-12 row">
      <h4>E. Limitación al Uso o Divulgación de Información Personal</h4>
      <p>En cualquier momento usted puede manifestar su negativa al tratamiento de las finalidades que no dan origen a
        la
        relación jurídica ni son necesarias para la realización de las funciones del sitio web, o bien, la revocación
        del
        consentimiento que nos ha otorgado al tratamiento de sus datos personales, mediante una solicitud que deberá
        ser
        presentada por escrito al Departamento de Datos Personales en el siguiente domicilio: Lago Texcoco 112 b bis
        Colonia Anáhuac, CDMX de 9 a 14 horas de lunes a viernes o al correo electrónico <a
          href="mailto:redessociales@mexicolectivo.com">redessociales@mexicolectivo.com</a>.
      </p>
      <p>Dicha solicitud deberá contener cuando menos lo siguiente: (i) Nombre del Titular de los DatosPersonales;
        (ii)
        Correo electrónico para recibir notificaciones; (iii) Documentos que acrediten su identidad o, en su caso, la
        representación legal del titular; (iv) Descripción clara y precisa de los datos personales respecto de los que
        se
        busca ejercer el derecho y del derecho que se pretende ejercer. (v) Cualquier otro elemento o documento que
        facilite la localización de los datos personales. En caso de que la solicitud no satisfaga alguno de los
        requisitos señalados anteriormente, el Departamento de Datos Personales podrá requerirle dentro de los 5 días
        siguientes a la recepción de la solicitud que aporte los elementos o documentos necesarios para dar trámite a
        la
        misma. Usted contará con un plazo de 10 días para atender el requerimiento, en caso de no dar respuesta en
        dicho
        plazo, se tendrá por no presentada la solicitud correspondiente.</p>
      <p>Los plazos de atención serán de máximo 30 días contados desde la fecha en que se reciba la solicitud para
        comunicarle la determinación adoptada, a efecto de que, si resulta procedente, haga efectiva la misma dentro
        de
        los 15 días siguientes a la emisión de la respuesta. Con la finalidad de proteger su confidencialidad,
        Mexicolectivo enviará la respuesta a su solicitud al correo electrónico que haya proporcionado para tal fin y
        la
        conservará a disposición del solicitante en el domicilio señalado en el párrafo anterior.</p>
    </div>

    <div class="set-12 row">
      <h4>F. Del Ejercicio de los Derechos de Acceso, Rectificación, Cancelación y Oposición.</h4>
      <p>El acceso, rectificación, cancelación u oposición respecto a la información que proporcione a Mexicolectivo
        señalados en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares, lo podrá hacer
        mediante entrega de la solicitud que dirija a Mexicolectivo, en términos de lo establecido en el inciso E.
        anterior, misma que se le responderá en los términos ahí señalados.</p>
    </div>

    <div class="set-12 row">
      <h4>G. Control y Seguridad de información personal.</h4>
      <p>Mexicolectivo se compromete a tomar las medidas necesarias para proteger la información recopilada,
        utilizando
        tecnologías de seguridad y procedimientos de control en el acceso, uso o divulgación de su información
        personal
        sin autorización, por ejemplo, almacenando la información personal proporcionada en servidores ubicados en
        Centros
        de Datos que cuentan con controles de acceso limitado.</p>
      <p>Sin embargo, ningún sistema de seguridad o de transmisión de datos sobre el cual la colectiva no tenga el
        control
        absoluto y/o tenga dependencia con internet puede garantizar que sea totalmente seguro.</p>
    </div>

    <div class="set-12 row">
      <h4>H. Medios electrónicos y cookies.</h4>
      <p>En el supuesto de que usted utilice medios electrónicos con relación a sus datos personales se generarán a
        efecto
        de proporcionarle un mejor servicio cookies. Los cookies son pequeñas piezas de información que son enviadas
        por
        el sitio web a su navegador. Los cookies se almacenan en el disco duro de su equipo y se utilizan para
        determinar
        sus preferencias cuando se conecta a los servicios de nuestros sitios, así como para rastrear determinados
        comportamientos o actividades llevadas a cabo por usted dentro de nuestros sitios.</p>
      <p>En algunas secciones de nuestro sitio web requerimos que el cliente tenga habilitados los cookies ya que
        algunas
        de las funcionalidades requieren de éstas para trabajar. Los cookies nos permiten: a) reconocerlo al momento
        de
        entrar al sitio web y ofrecerle una experiencia personalizada, b) conocer la configuración personal del sitio
        especificada por usted, por ejemplo, los cookies nos permiten detectar el ancho de banda que usted ha
        seleccionado
        al momento de ingresar al home page de nuestros sitios, de tal forma que sabemos qué tipo de informaciones
        aconsejable descargar, c) calcular el tamaño de nuestra audiencia y medir algunos parámetros de tráfico, pues
        cada
        navegador que obtiene acceso a nuestros sitios adquiere un cookie que se usa para determinar la frecuencia de
        uso
        y las secciones de los sitios visitados, reflejando así sus hábitos y preferencias, información que nos es
        útil
        para mejorar el contenido, las personas titulares y las promociones para los usuarios. Los cookies también nos
        ayudan a rastrear algunas actividades, por ejemplo, en algunas de las encuestas que lanzamos en línea, podemos
        utilizar cookies para detectar si la persona usuaria ya ha llenado la encuesta y evitar desplegar la
        nuevamente,
        en caso de que lo haya hecho. El botón de “ayuda” que se encuentra en la barra de herramientas de la mayoría
        de
        los navegadores, le dirá cómo evitar aceptar nuevos cookies, cómo hacer que el navegador le notifique cuando
        recibe un nuevo cookie o cómo deshabilitar todos los cookies. Sin embargo, las cookies le permitirán tomar
        ventaja
        de las características más benéficas que le ofrecemos, por lo que le recomendamos que las deje activadas.</p>
    </div>

    <div class="set-12 row">
      <h4>I. Cambios a esta declaración de privacidad.</h4>
      <p>Mexicolectivo podrá en cualquier momento actualizar esta declaración de privacidad. En el caso de que se
        produzcan cambios sustanciales a esta declaración, lo comunicaremos a través de nuestras páginas de internet
        señaladas en el inciso A de este Aviso de Privacidad.</p>
      <p>Por lo anterior, le sugerimos visitar periódicamente esta declaración de privacidad para estar al tanto de
        cualquier actualización.</p>
    </div>
  </div>
</div>

<div class="set-12 foot">
  <div class="app-footer"></div>
</div>