<div class="set-12 loading" *ngIf="!isDataAvailable">
  <mat-spinner></mat-spinner>
</div>

<!--Desk-->
<div class="set-12 innerhldr" *ngIf="isDataAvailable && !isMobile">
  <div class="set-4 col-lft">
    <diV>Button</diV>
    <mat-card class="set-12">
      <div class="set-12 cardimg">
        <div class="set-12 empty-img">
          <mat-icon>panorama</mat-icon>
        </div>
      </div>

      <input
        #fileInput
        type="file"
        (change)="openCropperDialog($event)"
        accept="image/*"
        hidden
      />
      <button type="button" class="avatar" (click)="fileInput.click()">
        <img
          src="{{ user.avatarImage }}"
          alt="{{ user.firstname }} {{ user.lastname }}"
          *ngIf="user.avatarImage != null"
        />
        <span *ngIf="user.avatarImage == null">
          {{ user.firstname | firstword | firstletter
          }}{{ user.lastname | firstword | firstletter }}
        </span>
        <div
          class="overlay"
          matTooltip="Cargar imágen"
          matTooltipClass="tooltip"
        >
          <mat-icon color="accent">photo_camera</mat-icon>
        </div>
      </button>

      <div class="set-12 cardbody">
        <!-- <button type="button" class="roundblue cardmore" (click)="linkMe('/hub/configuracion')"
          matTooltip="Configuración" matTooltipClass="tooltip">
          <mat-icon color="primary">settings</mat-icon>
        </button> -->
        <h3 class="txt-center">{{ user.firstname }} {{ user.lastname }}</h3>
        <div class="set-12 usrinfo">
          <p class="set-12">
            <small class="set-6">Documentos:</small>
            <small class="set-6 txt-right"
              ><strong class="txt-blue">0</strong></small
            >
          </p>
          <p class="set-12">
            <small class="set-6">Colaboradores:</small>
            <small class="set-6 txt-right"
              ><strong class="txt-blue">0</strong></small
            >
          </p>
        </div>
      </div>
    </mat-card>

    <mat-card class="set-12">
      <div class="app-map-box"></div>
    </mat-card>
  </div>
</div>


<!--Mobile-->
<div class="set-12 innerhldr " *ngIf="isDataAvailable && isMobile">
 
  <mat-tab-group class="">
    <mat-tab label="Temas">Content 1</mat-tab>
    <mat-tab label="Profile">Content 2</mat-tab>
    <mat-tab label="Comunidad">Content 3</mat-tab>
    <mat-tab label="Metas">Content 4</mat-tab>
   
  </mat-tab-group>

</div>