<div class="set-12 loading" *ngIf="!isDataAvailable">
  <mat-spinner></mat-spinner>
</div>

<div class="innerhldr" *ngIf="isDataAvailable">
  <div class="set-4 col-lft">
    <mat-card class="set-12">
      <div class="set-12 cardimg">
        <img src="../../../assets/images/Aspens_Ed_Moss.jpeg" alt="">
      </div>

      <input #fileInput type="file" (change)="openCropperDialog($event)" accept="image/*" hidden>
      <button type="button" class="avatar" (click)="fileInput.click()">
        <img src="{{user.avatarImage}}" alt="{{user.firstname}} {{user.lastname}}" *ngIf="user.avatarImage != ''">
        <span *ngIf="user.avatarImage == ''">
          {{ user.firstname | firstword | firstletter }}{{ user.lastname | firstword | firstletter }}
        </span>
      </button>

      <div class="set-12 cardbody">
        <button type="button" class="roundblue cardmore">
          <mat-icon>settings</mat-icon>
        </button>
        <h3 class="txt-center">{{user.firstname}} {{user.lastname}}</h3>
        <div class="set-12 usrinfo">
          <p class="set-12">
            <small class="set-6">Documentos:</small>
            <small class="set-6 txt-right"><strong class="txt-blue">0</strong></small>
          </p>
          <p class="set-12">
            <small class="set-6">Colaboradores:</small>
            <small class="set-6 txt-right"><strong class="txt-blue">0</strong></small>
          </p>
        </div>
      </div>
    </mat-card>

    <mat-card class="set-12 objectives">
      <h3>Objetivos</h3>
      <div class="pie-chart chart"></div>
      <div class="line-chart chart"></div>
    </mat-card>
  </div>

  <div class="set-8 col-rgt">
    <div class="set-12" *ngIf="!haveRootPermissions">
      <div class="editor-template" [documents]="documents"></div>
    </div>
  </div>
</div>