<div class="set-12 dialog-head">
  <h3>Agregar permisos</h3>
</div>

<div class="set-12">
  <ly-field appearance="outlined">
    <ly-label>Permisos *</ly-label>
    <ly-select [formControl]="permissionsFormControl" multiple [compareWith]="compareWithFn">
      <ly-option *ngFor="let permission of permissionList" [value]="permission">
        <small>{{ permission.viewValue }}</small>
      </ly-option>
    </ly-select>
  </ly-field>
  <ly-error *ngIf="permissionsFormControl.hasError('required')" class="set-12 hasError">
    <small>Campos requeridos *</small>
  </ly-error>
</div>

<div class="set-12 ctrls">
  <div class="set-12">
    <button type="button" class="remove" matTooltip="Se eliminarán todos los permisos" matTooltipPosition="left"
      (click)="onAddPermissions('remove')">
      <span>Remover permisos</span>
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
  <button type="button" mat-raised-button color="accent" (click)="killDialog()">Cancelar</button>
  <button type="button" mat-raised-button color="primary" (click)="onAddPermissions('add')"
    [disabled]="permissionsFormControl.invalid">Agregar permisos</button>
</div>