<div class="set-12 dialog-head">
  <h3>Agregar permisos</h3>
</div>

<div class="set-12">
  <mat-form-field appearance="outline">
    <mat-label>Permisos</mat-label>
    <mat-select [formControl]="permissionsFormControl" multiple [compareWith]="compareWithFn">
      <mat-option *ngFor="let permission of activities" [value]="permission">
        <small>{{ permission.viewValue }}</small>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-error *ngIf="permissionsFormControl.hasError('required')" class="set-12 hasError">
    <small>Campos requeridos *</small>
  </mat-error>
</div>

<div class="set-12 ctrls">
  <div class="set-12">
    <button type="button" class="remove" matTooltip="Se eliminarán todos los permisos" matTooltipPosition="left"
      (click)="onAddPermissions('remove')">
      <span>Remover permisos</span>
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
  <button type="button" mat-raised-button color="accent" (click)="killDialog()">
    <small>Cancelar</small>
  </button>
  <button type="button" mat-raised-button color="primary" (click)="onAddPermissions('add')"
    [disabled]="permissionsFormControl.invalid">
    <small>Agregar permisos</small>
  </button>
</div>