<div  class="set-12" *ngIf="isDataAvailable && isMobile"> 
  <mat-tab-group [disableRipple]="true" [@.disabled]="true">
    <mat-tab label="Mis Asociaciones"
      >
      <mat-card *ngFor="let association of associations">
        <h4>
          <strong>{{ association.businessName }}</strong>
        </h4>
        <p>
          <span><small>{{ association.description }}</small></span>
        </p>
        <div class="set-12 singleAssociationButton">
            <button type="button" mat-raised-button color="warn" (click)="linkMe('profile', association._id)" >
              <small>Ir a perfil</small>
            </button>
          </div>
      </mat-card>
    </mat-tab>
    <mat-tab label="Invitaciones">Invitaciones</mat-tab>
  </mat-tab-group>
</div>

