:host{
    width: 100%;
    padding: 0px;
    float: left;
    mat-card {
        margin: 10px;
        box-shadow: none;
        border-radius: 0px;
      }
      mat-card:last-child{
        margin-bottom: 10px;
        
      }
  
      p {
        margin-top: 10px;
        margin-bottom: 10px;
      }
      .singleAssociationButton{
        display: flex;
        justify-content: flex-end;
      }
}