:host {
  .solutions-box {
    padding: 10px;
    .title {
      font-size: 14px;
      font-weight: 700;
    }
    .title-column {
      font-size: 12px;
      font-weight: 400;
      margin-right: 120px;
      padding: 0;
    }
    table tbody tr td {
      p {
        font-size: 14px;
        font-weight: 400;
        padding-bottom: 10px;
        margin-top: 10px;
        font-weight: 500;
        text-align: start;
        border-bottom: 2px solid rgba(128, 128, 128, 0.327);
      }
    }

  .catbtn-2 {
    // background-color: #71f5ad;
    // color: #00031d;
    padding: 5px 20px;
    // border: 3px solid #71f5ad;
    font-size: 15px;
    font-weight: 600;
    border-radius: 4px;
  }
  .catbtn-2:hover{
    color: #696969;
  }
  .table-head {
    display: flex;
    align-items: center;

    * {
      margin: 0;
    }

    p.title {
      margin-right: 70px;
      font-size: 16px;
    }

    ::ng-deep .mat-form-field-wrapper {
      padding-bottom: 0 !important;
    }

    input[type="text"] {
      padding: 15px;
      // border: 1px solid rgba($color: #000000, $alpha: 0.1);
      box-shadow: inset 0 0 0 1px rgba($color: #000000, $alpha: 0.1);
      border-radius: 5px;
      // width: 40%;
      flex: 1;
    }

    input[type="text"]:focus {
      box-shadow: inset 0 0 0 2px #00031d;
    }

    input[type="text"]:disabled {
      cursor: not-allowed;
      opacity: 0.7;
    }
  }

  .notData {
    width: 100%;
    height: 130px;
    line-height: 130px;
    text-align: center;
  }

  .searchDisabled {
    opacity: 0 !important;
  }
}
