<mat-card class="doc-description" style="min-height: 280px">
  <div class="solutions-box" style="text-align: start">
    <div class="set-12 table-head">
      <p class="title">Soluciones</p>
      <input type="text" (keyup)="applyFilterSolution($event)" placeholder="Búscar en soluciones..."
        [disabled]="data.length == 0">
    </div>
    <table mat-table [dataSource]="data" class="">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Título</th>
        <td mat-cell *matCellDef="let element">
          <button type="button" class="catbtn" (click)="redirect(element._id)">
            {{ element.title }}
          </button> 
        </td>
      </ng-container>

      <ng-container matColumnDef="ranking">
        <th mat-header-cell *matHeaderCellDef>Calificación</th>
        <td mat-cell *matCellDef="let element">
          {{ 14 }}
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
</mat-card>
