<div class="set-12 doc-description">
  <div class="set-12 solutions-box">
    <div class="set-12">
      <div class="set-6">
        <div class="set-6">
          <mat-form-field appearance="outline">
            <mat-label>Cobertura</mat-label>
            <mat-select [value]="coverageSelected" (selectionChange)="onSelectCoverage($event)">
              <mat-option *ngFor="let location of coverage" [value]="location._id">
                <small>{{ location.name }}</small>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>

    <div class="set-12 table-head">
      <div class="set-6 head-titles">
        <span>Soluciones</span>
        <div class="line"></div>
      </div>

      <div class="set-6">
        <mat-form-field appearance="outline">
          <mat-label>
            <small>Búscar soluciones...</small>
          </mat-label>
          <input matInput type="text" (keyup)="applyFilterSolution($event)" [disabled]="solutions.length == 0">
          <button matSuffix mat-icon-button>
            <mat-icon>search</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>

    <table *ngIf="solutions.length > 0; else notSolution" mat-table [dataSource]="data" matSort class="">
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por título">
          Título
        </th>
        <td mat-cell *matCellDef="let element">
          <button type="button" (click)="redirect(element._id)" class="linker">
            <strong>{{ element.title }}</strong>
          </button>
        </td>
      </ng-container>

      <ng-container matColumnDef="stats.score">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por calificación">
          Calificación
        </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.stats != null">{{ element.stats.score }}</span>
          <span *ngIf="element.stats == null">0</span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <ng-template #notSolution>
      <div class="set-12 notData">
        <div class="set-12">
          <p>
            <small>Sin soluciones</small>
          </p>
          <p>
            <small>Sé el primero en proponer una solución</small>
          </p>
        </div>
        <div class="set-12 ctrls">
          <button type="button" mat-raised-button color="accent" (click)="addFirstSolution()">
            <strong>
              <small>Agregar solución</small>
            </strong>
          </button>
        </div>
      </div>
    </ng-template>
  </div>
</div>