:host {

  .solutions-box {
    padding: 20px;

    .title {
      font-size: 14px;
      font-weight: 700;
    }

    .title-column {
      font-size: 12px;
      font-weight: 400;
      margin-right: 120px;
      padding: 0;
    }

    table tbody tr td {
      p {
        font-size: 14px;
        font-weight: 400;
        padding-bottom: 10px;
        margin-top: 10px;
        font-weight: 500;
        text-align: start;
        border-bottom: 2px solid rgba(128, 128, 128, 0.327);
      }
    }

    table {
      button.linker {
        transition: all .2s linear;
      }

      button.linker:hover {
        color: #696969;
      }
    }

    .catbtn-2 {
      padding: 5px 20px;
      font-size: 15px;
      font-weight: 600;
      border-radius: 4px;
      transition: all .2s linear;
    }

    .catbtn-2:hover {
      color: #696969;
    }

    .table-head {
      display: flex;
      align-items: center;

      // .set-6:nth-child(odd) {
      //   padding-right: 10px;
      // }

      .set-6:nth-child(even) {
        padding-left: 20px;
      }

      * {
        margin: 0;
      }

      p.title {
        margin-right: 70px;
        font-size: 16px;
      }

      ::ng-deep .mat-form-field-wrapper {
        padding-bottom: 0 !important;
      }
    }

    .searchDisabled {
      opacity: 0 !important;
    }
  }

  .notData {
    width: 100%;
    margin-top: 40px;

    .ctrls {
      margin-top: 20px;
    }
  }

  ::ng-deep th.mat-header-cell:first-of-type,
  td.mat-cell:first-of-type,
  td.mat-footer-cell:first-of-type {
    padding: 0 !important;
    text-align: left;

    .mat-sort-header-content {
      text-align: left !important;
      margin: 0;
    }
  }
}
