<div class="set-12 list-head">
  <div class="set-8">
    <!-- <input type="text" placeholder="Búscar tópicos..." (input)="applyFilter($event)"> -->
    <mat-form-field appearance="outline">
      <mat-label>Búscar tópicos...</mat-label>
      <input matInput type="text" (keyup)="applyFilter($event)">
      <button matSuffix mat-icon-button>
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="set-4 txt-right">
    <button type="button" mat-mini-fab color="primary" (click)="filterTopicCoverage()">
      <mat-icon>filter_list</mat-icon>
    </button>
    <button type="button" mat-mini-fab color="warn" (click)="popAddDocumentTopic()" [disabled]="!isCollaborator">
      <mat-icon>add_circle</mat-icon>
    </button>
  </div>
</div>

<div class="set-12" *ngIf="topics.length == 0">
  <div class="empty-list">
    <p><small>No se encontraron tópicos.</small></p>
    <p><small>Sé el primero en agregar un tópico.</small></p>
    <button type="button" mat-raised-button color="accent" (click)="popAddDocumentTopic()">
      <small>Agregar tópico</small>
    </button>
  </div>
</div>

<div class="set-12" *ngIf="topics.length != 0">
  <div class="set-12 topic-list">
    <div class="set-12 topic-item" *ngFor="let topic of topics" (click)="linkMe(topic._id)">
      <div class="set-10">
        <small>{{topic?.title}}</small>
      </div>
      <div class="set-2">
        <small>{{topic?.stats?.score || 0}}</small>
        <mat-icon>star_rate</mat-icon>
      </div>
    </div>
  </div>
</div>