:host {
  width: 100%;
  background: #00031d;
  // padding: 20px;
  float: left;

  .topic-item {
    padding: 10px;
    border: 2px solid #71F5AD;
    color: #71F5AD;
    margin-bottom: 10px;
    display: flex;
    align-items: center;

    .set-2 {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 9pt;

      * {
        margin: 0;
      }

      mat-icon {
        font-size: 9pt;
        margin-left: 10px;
      }
    }
  }

  .topic-item:last-child {
    margin-bottom: 0;
  }

  .empty-list {
    padding: 20px;
    color: #71F5AD;

    button {
      margin-top: 20px;
    }
  }

  .topic-list {
    padding: 20px;
  }

  .list-head {
    padding: 20px;
    display: flex;
    align-items: center;
    background: #171b3b;
    // border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
    border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.1);

    input {
      width: 100%;
      height: 40px;
      padding: 10px;
      background: #ffffff;
      border-radius: 5px;
    }

    button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-left: 5px;
    }

    button:first-child {
      margin-left: 0;
    }

    ::ng-deep .mat-form-field-wrapper {
      padding: 0;
      margin: 0;
    }
  }
}