<section
  class="container"
  [ngStyle]="{
    width: data.size.width + 'px',
    height: data.size.height + 'px',
    left: data.position.x + 'px',
    'margin-top': data.position.y + 'px'
  }"
  *ngIf="data"
>
  <div
    class="out-circumference"
    [ngStyle]="{
      width: data.box + '%',
      height: data.box + '%',
      'border-color': data.out_circle_color
    }"
  >
    <span class="overlay" [style.background-color]="data.overlay">
      <div
        class="in-circumference"
        [ngStyle]="{
          'background-image': 'url(' + data.in_circle_background + ')',
          'background-color': data.in_circle_background,
          opacity: data.opacity
        }"
      >
        <span>
          <p
            class="title"
            [ngStyle]="{
              'font-size': data.size.font + 'px',
              color: data.in_circle_background.includes('http')
                ? 'white'
                : 'rgba(75, 75, 75, 0.929)',
              width: '90%'
            }"
          >
            {{ data.title }}
          </p>
          <p
            class="value"
            [ngStyle]="{
              'font-size': data.size.font + 10 + 'px',
              color: data.in_circle_background.includes('http')
                ? 'white'
                : 'rgba(75, 75, 75, 0.929)'
            }"
          >
            {{ data.value }}
          </p>
        </span>
      </div>
    </span>
  </div>
</section>
