<section
  class="container"
  [ngStyle]="{
    width: data.size.width + 'px',
    height: data.size.height + 'px',
    left: data.position.x + 'px',
    'margin-top': data.position.y + 'px'
  }"
  *ngIf="data"
>
  <div
    class="out-circumference"
    [ngStyle]="{
    
      'border-color': data.out_circle_color
    }"
  >
    <!-- 'background-image': 'url(' + data.in_circle_background + ')', -->

    <span class="overlay" [style.background-color]="data.overlay">
      <div
        class="in-circumference"
        [ngStyle]="{
          'background-color': data.in_circle_background
        }"
      >
        <!-- <img
          [src]="data.in_circle_background"
          style="
            object-fit: cover;
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: 100%;
            z-index: -2;
            /* filter: drop-shadow(16px 16px 10px black); */
            filter: brightness(76%);
          "
          alt=""
        /> -->
        <span>
          <p
            class="title"
            [ngStyle]="{
              'font-size': data.size.font + 'px'
            }"
          >
            {{ data.title }}
          </p>
          <!-- <p
            class="value"
            [ngStyle]="{
              'font-size': data.size.font + 12 + 'px',
              color: '#71f5ad'
            }"
          >
            {{ data.value }}
          </p> -->
        </span>
      </div>
    </span>
  </div>
</section>