.container {
  background-color: transparent;
  width: 200px;
  height: 200px;
}
.container .out-circumference .in-circumference {
  width: 90%;
  height: 90%;
  background-color: #ff6d00;
  border-radius: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container .out-circumference {
  width: 100%;
  height: 100%;
  border-color: #ff6d00;
  border-style: solid;
  border-width: 5px;
  border-radius: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.title {
  font-family: "Noto Sans", sans-serif;
  font-size: larger;
  color: #ffffff;
}
.value {
  text-align: center;
  color: #ffffff;
}
span {
  justify-content: center;
}
