<div class="set-12 page loading" *ngIf="!isDataAvailable && !isMobile">
  <mat-spinner color="primary"></mat-spinner>
 
</div>
<div class="card-is-loading"  *ngIf="!isDataAvailable && isMobile">
  <div class="image"></div>
  <div class="content">
    <h2></h2>
    <p></p>
  </div>
</div>


<!--Desk-->
<div class="set-12" *ngIf="isDataAvailable && !isMobile" [class.fixdesk]="!isMobile">
  <div class="crdlst">
    <mat-card >
      <div class="set-12 crdh">
        <button type="button" class="avatar"></button>
        <div>
          <p>
            <small *ngIf="!complaint?.isAnonymous">
              {{complaint?.createdBy.firstname}} {{complaint?.createdBy.lastname}}
            </small>
            <small *ngIf="complaint?.isAnonymous">Anónimo</small>
          </p>
          <p class="dates">
            <small>{{complaint?.createdAt | date: 'mediumDate'}} - {{complaint?.createdAt | date: 'mediumTime'}}</small>
          </p>
        </div>
      </div>

      <div class="set-12 crddsc">
        <div class="set-12" [innerHTML]="utilityService.truncateHTML(complaint?.description)"></div>
      </div>

      <div class="set-12 crdvp">
        <img [src]="complaint?.images[0]" alt="" class="full" *ngIf="complaint?.images.length != 0">
        <img src="../../assets/images/mexicolectivo-small-blue.png" alt="" *ngIf="complaint?.images.length == 0">
      </div>

      <div class="set-12 crdft">
        <div class="set-6 types">
          <mat-icon>label</mat-icon>
          <small>Denuncia</small>
        </div>
        <div class="set-6 ctrls">
          <button type="button" matTooltip="Favorito" matTooltipClass="tooltip" [disabled]="user == null">
            <mat-icon>favorite</mat-icon>
          </button>
          <button type="button" matTooltip="Comentar" matTooltipClass="tooltip" [disabled]="user == null">
            <mat-icon>forum</mat-icon>
          </button>
          <button type="button" matTooltip="Compartir" matTooltipClass="tooltip" (click)="shareCard()">
            <mat-icon>share</mat-icon>
          </button>
          <button type="button" matTooltip="Votar" matTooltipClass="tooltip" (click)="openVoteDialog(complaint)">
            <mat-icon>star</mat-icon>
          </button>
        </div>
      </div>

      <div class="set-12 crdcom">
        <div class="set-1">
          <button type="button" class="avatar"></button>
        </div>
        <div class="set-11">
          <input type="text" placeholder="Escribe un mensaje..." (keyup)="postComment($event, complaint)">
        </div>
      </div>

      <div class="set-12 comlst" *ngIf="complaint?.comments.length != 0">
        <div class="set-12" *ngFor="let comment of complaint?.comments">{{comment}}</div>
      </div>
    </mat-card>
  </div>
</div>

<!--Mobile-->
<div class="set-12" *ngIf="isDataAvailable && isMobile"  [class.fixmobile]="isMobile">
  <div class="crdlst">
    <mat-card >
      <div class="set-12 crdh">
        <button type="button" class="avatar"></button>
        <div>
          <p>
            <small *ngIf="!complaint?.isAnonymous">
              {{complaint?.createdBy.firstname}} {{complaint?.createdBy.lastname}}
            </small>
            <small *ngIf="complaint?.isAnonymous">Anónimo</small>
          </p>
          <p class="dates">
            <small>{{complaint?.createdAt | date: 'mediumDate'}} - {{complaint?.createdAt | date: 'mediumTime'}}</small>
          </p>
        </div>
      </div>

      <div class="set-12 crddsc">
        <div class="set-12" [innerHTML]="utilityService.truncateHTML(complaint?.description)"></div>
      </div>

      <div class="set-12 crdvp">
        <img [src]="complaint?.images[0]" alt="" class="full" *ngIf="complaint?.images.length != 0">
        <img src="../../assets/images/mexicolectivo-small-blue.png" alt="" *ngIf="complaint?.images.length == 0">
      </div>

      <div class="set-12 crdft">
        <div class="set-6 types">
          <mat-icon>label</mat-icon>
          <small>Denuncia</small>
        </div>
        <div class="set-6 ctrls">
          <button type="button" matTooltip="Favorito" matTooltipClass="tooltip" [disabled]="user == null">
            <mat-icon>favorite</mat-icon>
          </button>
          <button type="button" matTooltip="Comentar" matTooltipClass="tooltip" [disabled]="user == null">
            <mat-icon>forum</mat-icon>
          </button>
          <button type="button" matTooltip="Compartir" matTooltipClass="tooltip" (click)="shareCard()">
            <mat-icon>share</mat-icon>
          </button>
          <button type="button" matTooltip="Votar" matTooltipClass="tooltip" (click)="openVoteDialog(complaint)">
            <mat-icon>star</mat-icon>
          </button>
        </div>
      </div>

      <div class="set-12 crdcom">
        <div class="set-1">
          <button type="button" class="avatar"></button>
        </div>
        <div class="set-11">
          <input type="text" placeholder="Escribe un mensaje..." (keyup)="postComment($event, complaint)">
        </div>
      </div>

      <div class="set-12 comlst" *ngIf="complaint?.comments.length != 0">
        <div class="set-12" *ngFor="let comment of complaint?.comments">{{comment}}</div>
      </div>
    </mat-card>
  </div>
</div>