<div class="set-12 loading" *ngIf="!isDataAvailable">
  <mat-spinner diameter="50"></mat-spinner>
</div>

<div class="set-12" *ngIf="isDataAvailable">
  <div class="set-12 dialog-head">
    <div class="set-9">
      <h3>{{document.title}}</h3>
    </div>

    <div class="set-3">
      <button type="button" mat-mini-fab color="primary" (click)="killDialog()" [disabled]="submitted"
        matTooltip="Cerrar" matTooltipClass="tooltip">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
  </div>

  <div class="set-12 dialog-body">
    <div class="set-8">
      <form [formGroup]="formGroup" (submit)="editDocument(formGroup)">
        <mat-form-field appearance="outline">
          <mat-label>Titulo</mat-label>
          <input type="text" matInput formControlName="title">
        </mat-form-field>

        <div class="set-12 editor-form">
          <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>
        </div>

        <div class="set-12 ctrls">
          <button type="button" mat-mini-fab color="primary" [disabled]="formGroup.invalid || submitted">
            <mat-icon>cloud_upload</mat-icon>
          </button>
          <button type="submit" mat-raised-button color="primary" [disabled]="formGroup.invalid || submitted">
            <small>Guardar</small>
          </button>
          <mat-spinner diameter="20" *ngIf="submitted"></mat-spinner>
        </div>
      </form>
    </div>

    <div class="set-4 rgthldr">
      <div class="set-12">
        <div class="set-6" *ngFor="let item of documentImages; let i = index">
          <div class="overlay">
            <button type="button" mat-mini-fab color="accent" (click)="killImage(i)">
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
          <img [src]="item" alt="">
        </div>
      </div>

      <div class="set-12" *ngIf="displaySaveImagesControl">
        <button type="button" mat-raised-button color="warn" (click)="updateDocumentImages()">
          <small>Guardar cambios</small>
        </button>
      </div>
    </div>
  </div>
</div>