:host {
  padding: 40px;
  float: left;
  // width: 50%;
  // margin: 0 25%;

  ::ng-deep .angular-editor-toolbar {
    background: transparent !important;
    border: 0 !important;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1) !important;
    padding: 10px !important;
  }

  ::ng-deep .angular-editor .angular-editor-wrapper .angular-editor-textarea {
    background: transparent !important;
    margin: 0 !important;
    border: 0 !important;
    outline: none !important;
    padding: 10px !important;
  }

  ::ng-deep .angular-editor .angular-editor-wrapper .angular-editor-placeholder {
    padding: 10px !important;
  }

  .editor-form {
    margin-bottom: 20px;
    background: #ffffff;
    border-radius: 5px;
  }

  .dialog-head {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .set-3 {
      display: inline-flex;
      justify-content: flex-end;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  .dialog-body {
    .set-8 {
      padding-right: 40px;
    }

    .rgthldr {
      .set-6 {
        margin-bottom: 20px;
        height: 150px;
        min-height: 150px;
        max-height: 150px;
        overflow: hidden;
        position: relative;

        button {
          zoom: 0.7;
        }

        .overlay {
          position: absolute;
          top: 0;
          width: calc(100% - 10px);
          height: 100%;
          overflow: hidden;
          display: flex;
          align-items: center;
          justify-content: center;
          opacity: 0;
          transition: all .2s linear;
          background: rgba($color: #000000, $alpha: 0.6);
        }

        .overlay:hover {
          opacity: 1;
        }
      }

      .set-6:nth-child(odd) {
        padding-right: 10px;
        left: 0;
      }

      .set-6:nth-child(even) {
        padding-left: 10px;
        right: 0;
      }

      img {
        width: 100%;
        height: auto;
        float: left;
      }
    }
  }

  textarea {
    min-height: 100px;
    max-height: 100px;
  }

  .ctrls {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    * {
      margin: 0;
    }

    button {
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    mat-spinner {
      margin-left: 10px;
    }

    mat-icon {
      font-size: 17pt;
    }
  }

  .loading {
    mat-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}