<mat-list class="container shadow">
  <p class="title">Top 10 Soluciones</p>
  <mat-list-item *ngFor="let item of data">
    <span mat-line>
      <div mat-line>
        <button type="button" class="name" (click)="linkMe(item.url)">
          {{ item.title }}
        </button>
      </div>
    </span>
    <div mat-line class="progress-bar" [matTooltip]="item.stats.score+' %'" matTooltipClass="tooltip"
      matTooltipPosition="right">
      <div id="progress" class="progress" [style.width.%]="item.stats.score"></div>
    </div>
  </mat-list-item>
</mat-list>