<div class="set-12 sheet-head">
  <img src="../../../assets/images/mexicolectivo-small-blue.png" alt="">
  <div class="set-12">
    <p><small>{{user?.firstname}} {{user?.lastname}}</small></p>
    <p><small>{{user?.email}}</small></p>
  </div>
</div>

<div class="set-12 actions icons">
  <div class="buttonActions">
  <button type="button" mat-mini-fab class="actionsAssociation" disabled >
    <mat-icon>speaker_notes</mat-icon>
  </button>
  <mat-hint><small>Comunicado</small></mat-hint>
</div>
<div class="buttonActions">
  <button type="button" mat-mini-fab class="actionsAssociation " disabled> <small><mat-icon>source</mat-icon></small></button>
  <mat-hint><small>Publicación</small></mat-hint>
</div> 
<div class="buttonActions">
 <button type="button" mat-mini-fab class="actionsAssociation" disabled> <small><mat-icon>event</mat-icon></small></button>
 <mat-hint><small>Eventos</small></mat-hint>
</div>
</div>

<!-- <mat-nav-list>
  <button mat-list-item>
    <span matLine>Comunicado</span>
    <mat-icon>speaker_notes</mat-icon>
  </button>
  <button mat-list-item>
    <span matLine>Publicación</span>
    <mat-icon>source</mat-icon>
  </button>
  <button mat-list-item>
    <span matLine>Acción</span>
    <mat-icon>build</mat-icon>
  </button>
</mat-nav-list> -->
