<mat-card>
  <!-- IMAGE -->
  <div class="image-box">
    <img
      src="https://images.pexels.com/photos/1117452/pexels-photo-1117452.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      alt="doc-image"
    />

    <div class="info">
      <button class="custom-circle">
        <mat-icon>thumb_up</mat-icon>
      </button>

      <div class="actions">
        <p>
          Relevancia ciudadana
          <br />
          <b>8</b>
        </p>
        <button mat-raised-button color="primary">Vota</button>
      </div>
    </div>
  </div>
  <!-- DATA -->
  <div class="data-box">
    <p class="title">Falta de empleo formal</p>
    <p class="short-description">
      La falta de empleo formal ha orillado a la sociedad mexicana a buscar
      empleos informales en todos los sectores y ramas económicas del país.
      Aunado a esto, muchos de los empleos informales del país están dedicados a
      actividades ilegales o se encuentran dominados por grupos delictivos...
    </p>
    <span class="show-more">Leer más</span>
  </div>
</mat-card>
