:host {
  form {
    margin-top: 20px;

    textarea {
      min-height: 100px;
      max-height: 100px;
    }

    .ctrls {
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 20px;

      * {
        margin: 0;
      }

      mat-spinner {
        margin-left: 20px;
      }

      button {
        margin-left: 10px;
      }

      button:first-child {
        margin-left: 0;
      }
    }
  }
}