:host {
  width: 100vw;
  height: 100vh;
  background: #00031d;
  padding-top: 80px;

  .innrpg {
    width: 70%;

    .flx {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .coverimg {
    width: 100%;
    height: auto;
    float: left;
  }

  .ctrls {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
      margin-left: 20px;
    }

    button:first-child {
      margin-left: 0;
    }
  }
}