:host {
  min-height: 300px;

  .loading {
    height: 100%;

    mat-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  h3 {
    margin: 0;
  }

  .dialog-body {
    margin-top: 20px;
  }

  form {

    .set-7,
    .set-8 {
      padding-right: 10px;
    }

    .set-4,
    .set-5 {
      padding-left: 10px;
    }

    .set-1 {
      button {
        margin: 0;
        float: right;
      }
    }
  }

  .section-title {
    margin: 10px 0 15px 0;
    display: flex;
    align-items: center;

    p {
      margin: 0;
      margin-right: 10px;
    }

    button {
      display: flex;
      align-items: center;
      color: #306EFF;
      margin: 0;
      padding: 5px 10px;
      border: 1px dashed #306EFF;
      border-radius: 50px;

      * {
        margin: 0;
      }

      mat-icon {
        margin-left: 5px;
        font-size: 13pt;
      }
    }

    button:disabled {
      opacity: 0.7;
      cursor: not-allowed !important;
    }
  }

  .collab {
    display: flex;
    align-items: center;
  }

  .ctrls {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    * {
      margin: 0;
    }

    mat-spinner {
      margin-left: 20px;
    }

    button {
      margin-left: 10px;
    }

    button:first-child {
      margin-left: 0;
    }
  }
}