<div class="set-12 loading" *ngIf="!isDataAvailable">
  <mat-spinner></mat-spinner>
</div>

<div class="set-12" *ngIf="isDataAvailable">
  <h3 ly-dialog-title class="txt-center">Nuevo Documento</h3>

  <div ly-dialog-content class="set-12 dialog-body">
    <form class="set-12" [formGroup]="documentFormGroup" (submit)="onCreateDocument(documentFormGroup)">
      <div class="set-8">
        <mat-form-field appearance="outline">
          <mat-label>Titulo</mat-label>
          <input type="text" matInput formControlName="title">
        </mat-form-field>
      </div>

      <div class="set-4">
        <mat-form-field appearance="outline">
          <mat-label>Cobertura</mat-label>
          <mat-select formControlName="coverage" multiple>
            <mat-option *ngFor="let state of statesMex" [value]="state._id">
              <small>{{state.name}}</small>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="set-12 section-title">
        <p>Editores</p>
        <button type="button" (click)="addCollaboratorField()" disabled>
          <small>Agregar Editor</small>
          <mat-icon>add_circle</mat-icon>
        </button>
      </div>

      <div formArrayName="collaborators" class="set-12">
        <div *ngFor="let item of collaboratorForm.controls; let i = index;" class="set-12">
          <div [formGroupName]="i">
            <div class="set-12" class="collab">
              <div class="set-7">
                <mat-form-field appearance="outline">
                  <mat-label>Correo electrónico</mat-label>
                  <input type="text" matInput formControlName="email">
                </mat-form-field>
              </div>

              <div class="set-4">
                <mat-form-field appearance="outline">
                  <mat-label>Tipo</mat-label>
                  <mat-select formControlName="activity">
                    <mat-option [value]="collaboratorType.type" *ngFor="let collaboratorType of collaboratorTypes"
                      [disabled]="collaboratorType.disabled">
                      <small>{{collaboratorType.displayName}}</small>
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="set-1">
                <button type="button" class="roundbluemini" (click)="removeCollaboratorField(i)" matTooltip="Eliminar"
                  matTooltipPosition="left" disabled>
                  <mat-icon>cancel</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="set-12 ctrls">
        <button type="button" mat-raised-button color="accent" (click)="killDialog()">Cancelar</button>
        <button type="submit" mat-raised-button color="primary" [disabled]="documentFormGroup.invalid || submitted">
          Crear Documento
        </button>
      </div>
    </form>
  </div>
</div>