<div class="set-12 dialog-head">
  <div class="set-8">
    <span>Testimonios</span>
    <input type="file" #file (change)="onFileSelected($event)" multiple>
    <!-- <div class="set 12 head-titles">
      <span>Testimonios</span>
      <div class="line"></div>
    </div> -->
  </div>

  <div class="set-4">
    <button type="button" mat-mini-fab color="primary" [disabled]="submitted" (click)="stepNext()"
      *ngIf="selectedIndex == 0">
      <mat-icon>add_circle</mat-icon>
    </button>
    <button type="button" mat-mini-fab color="warn" [disabled]="submitted" (click)="stepPrevious()"
      *ngIf="selectedIndex == 1">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <button type="button" mat-mini-fab color="primary" (click)="killDialog()" [disabled]="submitted">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
</div>

<div class="set-12 dialog-body">
  <mat-stepper labelPosition="bottom" #stepper [disableRipple]="true" [linear]="true" [@.disabled]="true">
    <mat-step>
      <ng-template matStepLabel>
        <small>Testimonios</small>
      </ng-template>

      <div class="set-12 empty-list" *ngIf="testimonials.length == 0">
        <p><small>No se encontraron testimonios.</small></p>
        <p><small>Sé el primero en agregar tu testimonio.</small></p>
        <button type="button" mat-raised-button color="warn" (click)="stepNext()">
          <small>Nuevo testimonio</small>
        </button>
      </div>

      <div class=" set-12" *ngIf="testimonials.length != 0">
        <div class="set-12 testimony" *ngFor="let testimony of testimonials">
          <p>
            <small *ngIf="testimony.name != null">{{
              (testimony.name.length > 45) ?
              (testimony.name | slice: 0 : 45) + '..' : (testimony.name)
              }}</small>
            <small *ngIf="testimony.name == null">Sin título</small>
          </p>
          <p class="desc" [innerHTML]="
          (testimony.description.length > 100) ? 
          (testimony.description | slice: 0 : 100) + '..' : (testimony.description)">
          </p>
          <p class="date">
            <small>{{testimony.createdAt | date: 'mediumDate'}} - {{testimony.createdAt | date: 'mediumTime'}}</small>
          </p>
          <div class="set-12 ctrls">
            <button type="button" disabled>
              <mat-icon>flag</mat-icon>
            </button>
            <button type="button" (click)="openTestimonialDialog(testimony)">
              <mat-icon>auto_stories</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>
        <small>Nuevo testimonio</small>
      </ng-template>

      <div class="set-12 txt-center anonhldr">
        <small>Publicar como:</small>
        <button type="button" mat-button color="warn" (click)="visibility()" class="anon">
          <div class="set-12" *ngIf="!isAnonymous">
            <mat-icon>visibility</mat-icon>
            <small>{{user.firstname}} {{user.lastname}}</small>
          </div>

          <div class="set-12" *ngIf="isAnonymous">
            <mat-icon>visibility_off</mat-icon>
            <small>Anónimo</small>
          </div>
        </button>
      </div>

      <div class="set-12 location">
        <button type="button" mat-button color="primary" (click)="getLocation()">
          <mat-icon>place</mat-icon>
          <small>{{locationAvailable ? 'Cancelar ubicación' : 'Usar mi ubicación'}}</small>
        </button>

        <div class="set-12 coords" *ngIf="locationAvailable">
          <p><small>Latitud: <strong>{{location['latitude']}}</strong></small></p>
          <p><small>Longitud: <strong>{{location['longitude']}}</strong></small></p>
        </div>

        <div class="set-12" *ngIf="isMobile">
          <small>** Para usar tu ubicación debes activarla en tus preferencias</small>
        </div>
      </div>

      <form class="set-12" [formGroup]="addTestimonyFormGroup">
        <mat-form-field appearance="outline">
          <mat-label>Título</mat-label>
          <input type="text" matInput formControlName="title">
        </mat-form-field>

        <div class="set-12 editor-form">
          <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>
        </div>

        <div class="set-12 file-hldr" *ngIf="fileNames.length != 0">
          <p *ngFor="let name of fileNames">
            <small>{{name}}</small>
          </p>
        </div>

        <div class="set-12 ctrls">
          <!-- <button type="button" mat-mini-fab color="primary" class="minifab" (click)="file.click()">
            <mat-icon>add_a_photo</mat-icon>
          </button>
          <button type="submit" mat-raised-button color="warn" [disabled]="addTestimonyFormGroup.invalid || submitted">
            <small>Agregar testimonio</small>
          </button>
          <mat-spinner diameter="30" *ngIf="submitted"></mat-spinner> -->
          <button type="button" mat-raised-button color="warn" matStepperNext
            [disabled]="addTestimonyFormGroup.invalid || submitted">
            <small>Siguiente</small>
          </button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>
        <small>Carga tus imágenes</small>
      </ng-template>

      <div class="set-12 file-hldr" *ngIf="urls.length != 0">
        <div class="set-12 imgfile" *ngFor="let url of urls; let i = index">
          <div class="set-12 filectrls">
            <img [src]="url" />
            <button type="button" (click)="popFile(i)">
              <mat-icon>cancel</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="set-12 ctrlsmid" *ngIf="fileNames.length == 0">
        <button type="button" (click)="file.click()" class="wicon">
          <mat-icon>cloud_upload</mat-icon>
          <h4>5MB</h4>
        </button>
      </div>

      <div class="set-12 smtctrls">
        <button type="button" mat-raised-button color="warn" matStepperPrevious [disabled]="submitted">
          <small>Anterior</small>
        </button>
        <button type="button" mat-raised-button color="primary" (click)="onFileTestimony(addTestimonyFormGroup)"
          [disabled]="submitted">
          <small>Guardar</small>
        </button>
        <mat-spinner diameter="30" *ngIf="submitted"></mat-spinner>
      </div>
    </mat-step>

    <mat-step>
      <div class="set-12 succes">
        <h4>¡Gracias, tu testimonio se ha publicado!</h4>
        <!-- <p>Puedes verla <a href="{{postURL}}" target="_blank">aquí</a></p> -->
      </div>
    </mat-step>
  </mat-stepper>
</div>