<div class="set-12 loading" *ngIf="!isDataAvailable">
  <mat-spinner diameter="50"></mat-spinner>
</div>

<div class="set-12" *ngIf="isDataAvailable">
  <h3>Agregar comentario</h3>
  <div class="set-12 locations">
    <p *ngIf="documentLocation == 'document'">
      <small>Comentar en: <strong>{{document.title}}</strong></small>
    </p>
    <p *ngIf="documentLocation == 'layout'">
      <small>Comentar en: <strong>{{layout.category.name}}</strong></small>
    </p>
    <p *ngIf="documentLocation == 'topic'">
      <small>Comentar en: <strong>{{topic.title}}</strong></small>
    </p>
    <p *ngIf="documentLocation == 'solution'">
      <small>Comentar en: <strong>{{solution.title}}</strong></small>
    </p>
    <p *ngIf="coverage != null">
      <small>Cobertura: <strong>{{coverage.name}}</strong></small>
    </p>
  </div>
  <form class="set-12" [formGroup]="commentFormGroup" (submit)="onComment(commentFormGroup)">
    <mat-form-field appearance="outline">
      <mat-label>Comentario</mat-label>
      <textarea matInput cdkTextareaAutosize formControlName="message"></textarea>
    </mat-form-field>

    <div class="set-12 txt-right">
      <button type="button" mat-mini-fab color="warn" (click)="file.click()" matTooltip="Adjuntar archivo"
        matTooltipClass="tooltip" class="bwico">
        <mat-icon>attach_file</mat-icon>
      </button>
      <input type="file" #file (change)="onFileSelected($event)">
    </div>

    <div class="set-12 ctrls">
      <button type="button" mat-raised-button color="accent" (click)="killDialog()" [disabled]="submitted">
        <small>Cancelar</small>
      </button>
      <button type="submit" mat-raised-button color="primary" [disabled]="commentFormGroup.invalid || submitted">
        <small>Comentar</small>
      </button>
      <mat-spinner diameter="20" *ngIf="submitted"></mat-spinner>
    </div>
  </form>
</div>