:host {
  padding: 20px;
  float: left;
  // width: 50%;
  // margin: 0 25%;

  .header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;

    * {
      margin: 0;
    }

    .title {
      word-break: break-all;
      max-width: 400px;
      position: relative;
      text-align: center;
    }

    button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      zoom: 0.7;
    }
  }

  .btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 20px;

    button {
      zoom: 0.7;
      margin-left: 10px;

      mat-icon {
        font-size: 13pt;
      }
    }

    button:first-child {
      margin: 0;
    }
  }

  .body {
    width: 100%;
    height: auto;
    line-height: 25px;
    overflow-y: auto;
    overflow-x: hidden;
    overflow-wrap: break-word;

    .text {
      text-align: justify;
    }
  }
}
