<div class="set-12 header">
  <div class="set-10">
    <h3 class="txt-left">{{title.toUpperCase()}}</h3>
  </div>

  <div class="set-2 txt-right">
    <button type="button" mat-mini-fab color="primary" (click)="killDialog()">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
</div>

<div class="set-12 btns">
  <button type="button" mat-mini-fab color="primary" disabled>
    <mat-icon>favorite</mat-icon>
  </button>
  <button type="button" mat-mini-fab color="primary" disabled>
    <mat-icon>share</mat-icon>
  </button>
  <button type="button" mat-mini-fab color="primary" disabled>
    <mat-icon>forum</mat-icon>
  </button>
</div>

<div class="body">
  <div class="text" [innerHTML]="text"></div>
</div>