<div class="set-12 loading" *ngIf="!isDataAvailable">
  <mat-spinner></mat-spinner>
</div>

<div class="set-12 teamhldr" *ngIf="isDataAvailable">
  <div class="set-12 teambanner">
    <div class="set-12 bannerhldr">
      <div class="set-12 imghldr">
        <input #coverFile type="file" accept="image/*" hidden (change)="coverFileSelected($event)" />
        <!-- <input #avatarFile type="file" accept="image/*" hidden (change)="openCropperDialog($event)" /> -->
        <img src="../../../assets/images/txt-marathon.png" alt="" *ngIf="team['coverImage'] == null" class="def">
        <img [src]="team['coverImage']" alt="" *ngIf="team['coverImage'] != null" class="full">
      </div>

      <div class="chngbnr">
        <button type="button" mat-mini-fab color="accent" class="mini" (click)="killTeam()" *ngIf="isLeader">
          <mat-icon>cancel</mat-icon>
        </button>
        <button type="button" mat-raised-button color="accent" (click)="coverFile.click()" [disabled]="isUploading"
          *ngIf="isLeader && !isMobile">
          <mat-icon>camera_alt</mat-icon>
          <small>Cargar imágen</small>
        </button>
        <button type="button" mat-mini-fab color="accent" (click)="coverFile.click()" [disabled]="isUploading"
          *ngIf="isLeader && isMobile">
          <mat-icon>camera_alt</mat-icon>
        </button>
        <mat-spinner diameter="30" color="accent" *ngIf="isUploading"></mat-spinner>
      </div>

      <button type="button" class="avatar" *ngIf="isLeader">
        <img src="{{ user.avatarImage }}" alt="{{ user.firstname }} {{ user.lastname }}"
          *ngIf="user.avatarImage != null" />
        <span *ngIf="user.avatarImage == null">
          {{ user.firstname | firstword | firstletter }}{{ user.lastname | firstword | firstletter }}
        </span>
        <div class="overlay" matTooltip="Cargar imágen" matTooltipClass="tooltip">
          <mat-icon color="accent">photo_camera</mat-icon>
        </div>
      </button>

      <div class="avatar" *ngIf="!isLeader">
        <img src="{{ user.avatarImage }}" alt="{{ user.firstname }} {{ user.lastname }}"
          *ngIf="user.avatarImage != null" />
        <span *ngIf="user.avatarImage == null">
          {{ user.firstname | firstword | firstletter }}{{ user.lastname | firstword | firstletter }}
        </span>
      </div>

      <div class="otherteams">
        <button type="button" mat-raised-button color="primary" class="wicon"
          (click)="utilityService.linkMe('/maraton/equipos')" *ngIf="!isMobile">
          <mat-icon>groups</mat-icon>
          <small>Ver otros equipos</small>
        </button>

        <button type="button" mat-mini-fab color="primary" (click)="utilityService.linkMe('/maraton/equipos')"
          *ngIf="isMobile">
          <mat-icon>groups</mat-icon>
        </button>
      </div>
    </div>

    <div class="set-12 teamtools">
      <div class="set-4 bnrinfo">
        <mat-card>
          <div class="set-12 row">
            <h3>{{team['name']}}</h3>
            <p class="location" *ngIf="team['layout'] != null && team['sublayout'] != null">
              <small><strong>Tema:</strong> {{team['layout']['category']['name']}} /
                {{team['sublayout']['category']['name']}}</small>
            </p>
            <p class="author">
              <small><strong>Líder:</strong> {{team['createdBy']['firstname']}}
                {{team['createdBy']['lastname']}}</small>
            </p>
            <p class="author">
              <small><strong>Cobertura: </strong> {{team['coverage'][0]['name']}}</small>
            </p>
          </div>

          <div class="set-12 row txt-center">
            <div class="set-6">
              <h3>Puntuación</h3>
              <div class="scorehldr">{{teamScore}}</div>
            </div>
            <div class="set-6">
              <h3>Votos</h3>
              <div class="scorehldr">{{team['metavotes']['team']}}</div>
            </div>

            <button type="button" mat-raised-button color="accent" class="vote" (click)="popTeamVoteDialog()"
              *ngIf="team['vote'] == null" [disabled]="team['problematicProposal'] == null">
              Votar por <strong>{{team['name']}}</strong>
            </button>
            <button type="button" mat-raised-button color="accent" class="vote"
              *ngIf="team['vote'] != null || team['vote'] != undefined" (click)="removeTeamVote()">
              Quitar voto
            </button>
          </div>

          <!-- <div class="set-12 row">
            <button mat-raised-button color="warn" [matMenuTriggerFor]="menu">
              <small>Otros Equipos</small>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item *ngFor="let team of teams" (click)="loadTeam('/maraton/equipos/' + team['_id'])">
                <small>{{team['name']}}</small>
              </button>
            </mat-menu>
          </div> -->
        </mat-card>
      </div>

      <div class="set-8">
        <mat-tab-group [disableRipple]="true" [@.disabled]="true">
          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>warning</mat-icon>
              <span>Problema</span>
            </ng-template>

            <div class="set-12 tabconts">
              <div class="set-12">
                <h3 *ngIf="topic != null">{{topic['title']}}</h3>
                <h3 *ngIf="topic == null && isCollaborator || topic == null && isLeader">
                  Selecciona o crea un problema
                </h3>
              </div>

              <div class="set-12 crttpc" *ngIf="topic == null && isCollaborator || topic == null && isLeader">
                <form class="set-12" [formGroup]="topicFG">
                  <mat-form-field appearance="outline">
                    <mat-label>Cobertura</mat-label>
                    <mat-select formControlName="coverage" (selectionChange)="onSelectTopicCoverage($event)">
                      <mat-option *ngFor="let state of team.coverage" [value]="state._id">
                        <small>{{state.name}}</small>
                      </mat-option>
                    </mat-select>
                    <mat-hint align="start">
                      <small>** Cobertura</small>
                    </mat-hint>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Problema</mat-label>
                    <mat-select formControlName="topic" (selectionChange)="onTopicSelected($event)">
                      <mat-option>
                        <small>Nuevo problema</small>
                      </mat-option>
                      <mat-option *ngFor="let topic of topics" [value]="topic._id">
                        <small>{{topic.title}}</small>
                      </mat-option>
                    </mat-select>
                    <mat-hint align="start">
                      <small>** Selecciona un problema pre-establecido</small>
                    </mat-hint>
                  </mat-form-field>

                  <mat-form-field appearance="outline">
                    <mat-label>Título</mat-label>
                    <input matInput formControlName="title" (input)="onProblemTitle($event)">
                    <mat-hint align="start">
                      <small>** Escribe un título para tu problema</small>
                    </mat-hint>
                  </mat-form-field>

                  <div class="set-12 editor-form" *ngIf="isNewTopic">
                    <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>
                    <p class="hint-sm">
                      <small>** Escribe una descripción a tu problema</small>
                    </p>
                  </div>

                  <div class="set-12 topicdesc" *ngIf="!isNewTopic">
                    <h3>Descripción</h3>
                    <div class="set-12" [innerHTML]="topicSelected['description']"></div>
                  </div>

                  <div class="set-12 ctrls">
                    <button type="button" mat-raised-button color="warn" (click)="saveTeamTopic()"
                      [disabled]="topicFG.invalid || submitted || team['layout'] == null" class="wicon">
                      <mat-icon>save</mat-icon>
                      <small>Guardar</small>
                    </button>
                    <mat-spinner diameter="30" *ngIf="submitted"></mat-spinner>
                  </div>
                </form>
              </div>

              <div class="set-12 btns" *ngIf="topic != null">
                <div class="set-6">
                  <button type="button" mat-mini-fab color="primary" (click)="openModalVote('topic')" class="mini">
                    <mat-icon>star</mat-icon>
                  </button>
                  <button type="button" mat-mini-fab color="primary" (click)="popEditTopicDialog()" *ngIf="isLeader"
                    class="mini">
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>

                <div class="set-6 txt-right">
                  <small *ngIf="topic != null">Relevancia Ciudadana: <strong>{{topic['stats']['score']}} /
                      100</strong></small>
                </div>
              </div>

              <div class="set-12 desc" [innerHTML]="topic['description']" *ngIf="topic != null"></div>

              <div class="set-12 objcom" *ngIf="topic != null && topic['comments'].length == 0">
                <h3>No hay comentarios</h3>
                <p>Sé el primero en comentar</p>
                <button type="button" mat-raised-button color="primary" (click)="popAddCommentsDialog('topic')">
                  <mat-icon>forum</mat-icon>
                  <small>Comentar</small>
                </button>
              </div>

              <div class="set-12 objcom" *ngIf="topic != null && topic['comments'].length != 0">
                <button type="button" mat-raised-button color="accent" (click)="popAddCommentsDialog('topic')">
                  <mat-icon>forum</mat-icon>
                  <small>Comentar</small>
                </button>

                <div class="set-12 comlst">
                  <div class="set-12 comment" *ngFor="let comment of topic['comments']">
                    <div class="avatar">
                      {{comment['createdBy']['firstname'] | firstword | firstletter}}{{comment['createdBy']['lastname']
                      | firstword | firstletter}}
                    </div>
                    <div class="msg">
                      <div class="set-12 date">
                        <small>{{comment['createdAt'] | date: 'mediumDate'}} - {{comment['createdAt'] | date:
                          'mediumTime'}}</small>
                      </div>
                      <div class="set-12">{{comment['message']}}</div>
                    </div>
                    <div class="tri">&nbsp;</div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>insights</mat-icon>
              <span>Solución</span>
            </ng-template>

            <div class="set-12 tabconts">
              <div class="set-12">
                <h3 *ngIf="solution != null">{{solution['title']}}</h3>
                <h3 *ngIf="solution == null && isCollaborator || solution == null && isLeader">
                  Crea una solución
                </h3>
              </div>

              <div class="set-12 crttpc" *ngIf="solution == null && isCollaborator || solution == null && isLeader">
                <form class="set-12 solfrm" [formGroup]="solutionFG">
                  <mat-form-field appearance="outline">
                    <mat-label>Título</mat-label>
                    <input type="text" matInput formControlName="title">
                    <mat-hint align="start">
                      <small>** Escribe un título para tu solución</small>
                    </mat-hint>
                  </mat-form-field>

                  <div class="set-12 editor-form">
                    <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>
                    <p class="hint-sm">
                      <small>** Escribe una descripción a tu solución</small>
                    </p>
                  </div>

                  <div class="set-12 ctrls">
                    <button type="button" mat-raised-button color="primary" class="wicon"
                      [disabled]="solutionFG.invalid || topic == null || submitted" (click)="saveTeamSolution()">
                      <mat-icon>add_circle</mat-icon>
                      <small>Agregar solución</small>
                    </button>
                    <mat-spinner diameter="30" *ngIf="submitted"></mat-spinner>
                  </div>
                </form>
              </div>

              <div class="set-12 btns" *ngIf="solution != null">
                <div class="set-6">
                  <button type="button" mat-mini-fab color="primary" (click)="openModalVote('solution')" class="mini">
                    <mat-icon>star</mat-icon>
                  </button>
                  <button type="button" mat-mini-fab color="primary" (click)="popEditSolutionDialog()" *ngIf="isLeader"
                    class="mini">
                    <mat-icon>edit</mat-icon>
                  </button>
                </div>

                <div class="set-6 txt-right">
                  <small>Relevancia Ciudadana: <strong>{{solution['stats']['score']}} /
                      100</strong></small>
                </div>
              </div>

              <div class="set-12 desc" [innerHTML]="solution['description']" *ngIf="solution != null"></div>

              <div class="set-12 objcom" *ngIf="solution != null && solution['comments'].length == 0">
                <h3>No hay comentarios</h3>
                <p>Sé el primero en comentar</p>
                <button type="button" mat-raised-button color="primary" (click)="popAddCommentsDialog('solution')">
                  <mat-icon>forum</mat-icon>
                  <small>Comentar</small>
                </button>
              </div>

              <div class="set-12 objcom" *ngIf="solution != null && solution['comments'].length != 0">
                <button type="button" mat-raised-button color="accent" (click)="popAddCommentsDialog('solution')">
                  <mat-icon>forum</mat-icon>
                  <small>Comentar</small>
                </button>

                <div class="set-12 comlst">
                  <div class="set-12 comment" *ngFor="let comment of solution['comments']">
                    <div class="avatar">
                      {{comment['createdBy']['firstname'] | firstword | firstletter}}{{comment['createdBy']['lastname']
                      | firstword | firstletter}}
                    </div>
                    <div class="msg">
                      <div class="set-12 date">
                        <small>{{comment['createdAt'] | date: 'mediumDate'}} - {{comment['createdAt'] | date:
                          'mediumTime'}}</small>
                      </div>
                      <div class="set-12">{{comment['message']}}</div>
                    </div>
                    <div class="tri">&nbsp;</div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>view_in_ar</mat-icon>
              <span>Propuesta</span>
            </ng-template>

            <div class="set-12 emptyprop"
              *ngIf="team['problematicProposal'] == null && isCollaborator || team['problematicProposal'] == null && isLeader">
              <h3>Carga tu propuesta</h3>
              <p>Carga tu propuesta para poder participar</p>
              <div class="set-12 ctrls">
                <input type="file" #file (change)="onFileSelected($event)">
                <button type="button" mat-raised-button color="primary" (click)="file.click()"
                  [disabled]="submitted || topic == null || solution == null">
                  <mat-icon>cloud_upload</mat-icon>
                  <small>Cargar archivo</small>
                </button>
                <mat-spinner diameter="30" *ngIf="submitted"></mat-spinner>
              </div>
            </div>

            <div class="set-12 tabconts availableprop" *ngIf="team['problematicProposal'] != null">
              <div class="set-12 ctrls" *ngIf="isCollaborator || isLeader">
                <input type="file" #file (change)="onFileSelected($event)">
                <button type="button" mat-raised-button color="primary" (click)="file.click()" [disabled]="submitted">
                  <mat-icon>cloud_upload</mat-icon>
                  <small>Cargar archivo</small>
                </button>
                <mat-spinner diameter="30" *ngIf="submitted"></mat-spinner>
              </div>
              <div class="set-12">
                <pdf-viewer [src]="team['problematicProposal']" [render-text]="true"
                  [original-size]="true"></pdf-viewer>
              </div>
            </div>
          </mat-tab>

          <mat-tab [disabled]="solution == null">
            <ng-template mat-tab-label>
              <mat-icon>edit_note</mat-icon>
              <span>Testimonios</span>
            </ng-template>

            <div class="set-12 tabconts">
              <div class="set-12" *ngIf="solution != null && solution['testimonials'].length == 0">
                <h3>No hay testimonios que mostrar</h3>

                <div class="set-12 emptytestimonies">
                  <p>Recuerda que para tomar en cuenta su propuesta tienen que agregar testimonios.</p>
                  <p>Sé el primero en agregar tu testimonio.</p>
                  <button type="button" mat-raised-button color="primary" (click)="popTestimonialsDialog()">
                    <mat-icon>edit_note</mat-icon>
                    <small>Agregar Testimonio</small>
                  </button>
                </div>
              </div>

              <div class="set-12 availabletestimonies" *ngIf="solution!= null && solution['testimonials'].length != 0">
                <div class="set-12 heads">
                  <button type="button" mat-raised-button color="primary" (click)="popTestimonialsDialog()">
                    <mat-icon>edit_note</mat-icon>
                    <small>Agregar testimonio</small>
                  </button>
                </div>

                <div class="set-12">
                  <div class="set-6" *ngFor="let testimony of solution['testimonials']">
                    <div class="set-12 usrcrd" (click)="openTestimony(testimony)">
                      <div class="usrimg">
                        <img [src]="testimony['createdBy']['avatarImage']" [alt]="testimony['createdBy']['firstname']"
                          *ngIf="testimony['createdBy']['avatarImage'] != null">
                        <span *ngIf="testimony['createdBy']['avatarImage'] == null">NA</span>
                      </div>

                      <div>
                        <p>{{(testimony.name.length > 30) ? (testimony.name | slice: 0 : 30) + '..' :
                          (testimony.name)}}</p>
                        <p *ngIf="testimony['createdBy']['firstname'] != null" class="author">
                          <small>{{testimony['createdBy']['firstname']}} {{testimony['createdBy']['lastname']}}</small>
                        </p>
                        <p *ngIf="testimony['createdBy']['firstname'] == null" class="author">
                          <small>Registro por completar</small>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>

          <mat-tab>
            <ng-template mat-tab-label>
              <mat-icon>groups</mat-icon>
              <span>Equipo</span>
            </ng-template>

            <div class="set-12 tabconts">
              <div class="set-12 emptycollabs" *ngIf="team['collaborators'].length == 0 && isLeader">
                <h3>No tienes colaboradores</h3>

                <form [formGroup]="searchUserFG" class="set-12">
                  <div class="set-12 collab">
                    <div class="set-11">
                      <mat-form-field appearance="outline">
                        <mat-label>Buscar usuario</mat-label>
                        <input matInput placeholder="Ejemplo: nombre@dominio.com" formControlName="searchemail"
                          (keyup.enter)="onSearchUser()">
                      </mat-form-field>
                    </div>

                    <div class="set-1 txt-right">
                      <button type="button" mat-mini-fab color="warn" (click)="onSearchUser()"
                        [disabled]="searchUserFG.invalid" matTooltip="Buscar" matTooltipClass="tooltip">
                        <mat-icon>person_search</mat-icon>
                      </button>
                    </div>
                  </div>

                  <div formArrayName="collaborators" class="set-12" *ngIf="teamUsers.length != 0">
                    <div *ngFor="let item of teamUsersForm.controls; let i = index;" class="set-12 collabfield">
                      <div [formGroupName]="i" class="set-12 collab">
                        <div class="set-11">
                          <mat-form-field appearance="outline">
                            <mat-label>Correo electrónico</mat-label>
                            <input type="text" matInput formControlName="email">
                          </mat-form-field>
                        </div>

                        <div class="set-1 txt-right">
                          <button type="button" mat-mini-fab color="primary" matTooltip="Eliminar"
                            matTooltipClass="tooltip" (click)="removeUserField(i)">
                            <mat-icon>cancel</mat-icon>
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="set-12 ctrls" *ngIf="isLeader">
                    <button type="button" mat-raised-button color="primary"
                      [disabled]="teamUsers.length == 0 || submitted" (click)="addCollaborators()" class="wicon">
                      <mat-icon>add_circle</mat-icon>
                      <small>Agregar colaborador</small>
                    </button>
                    <mat-spinner diameter="30" *ngIf="submitted"></mat-spinner>
                  </div>
                </form>
              </div>

              <div class="set-12 collabsavailable" *ngIf="team['collaborators'].length != 0">
                <div class="set-12 heads">
                  <button type="button" mat-raised-button color="primary" (click)="popAddTeamCollaborator()"
                    *ngIf="isLeader" class="wicon">
                    <mat-icon>add_circle</mat-icon>
                    <small>Agregar colaborador</small>
                  </button>
                </div>

                <div class="set-12">
                  <div class="set-6" *ngFor="let collaborator of team['collaborators']">
                    <div class="set-12 usrcrd">
                      <div class="usrimg">
                        <img [src]="collaborator['user']['avatarImage']" [alt]="collaborator['user']['firstname']"
                          *ngIf="collaborator['user']['avatarImage'] != null">
                        <span *ngIf="collaborator['user']['avatarImage'] == null">NA</span>
                      </div>

                      <div>
                        <p *ngIf="collaborator['user']['firstname'] != null">
                          {{collaborator['user']['firstname']}} {{collaborator['user']['lastname']}}
                        </p>
                        <p *ngIf="collaborator['user']['firstname'] == null">
                          Registro por completar
                        </p>
                        <p>
                          <small>{{collaborator['user']['email']}}</small>
                        </p>
                      </div>

                      <div class="crdmenu" *ngIf="isLeader">
                        <button type="button" [matMenuTriggerFor]="menu">
                          <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                          <button type="button" mat-menu-item (click)="killTeamUser(collaborator)">
                            <mat-icon>cancel</mat-icon>
                            <small>Eliminar</small>
                          </button>
                        </mat-menu>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>

<div class="set-12 foot" *ngIf="isDataAvailable">
  <div class="app-footer"></div>
</div>