:host {
  padding: 20px;
  float: left;
  width: 100%;

  .form-association {
    .fixmob {
      width: 100% !important;
      padding: 0px;
      margin: 0 !important;

      .listhldr {
        .listitem {
          .set-12 {
            width: 100%;
          }

          .set-12 {
            margin-bottom: 10px;
          }
          .joinButton {
            display: flex;
            justify-content: flex-end;
            margin-top: 5px;
            button {
              width: 85px;
            }
          }
        }
      }
    }
    .dialog-head {
      margin-bottom: 20px;
    }
    ::ng-deep .mat-horizontal-stepper-header-container {
      display: none !important;
    }

    .search-hldr {
      .searchButton {
        display: flex;
        justify-content: flex-end;
        margin-top: 5px;
        padding-right: 10px;
        margin-bottom: 10px;
        button {
          width: 85px;
        }
      }
    }

    .mat-stepper-horizontal,
    .mat-stepper-vertical {
      background: none !important;
    }

    ::ng-deep .mat-form-field-infix {
      width: 50%;
    }
    .addressNum {
      display: flex;
      justify-content: space-between;
      mat-form-field {
        width: 49%;
      }
    }
    // ::ng-deep .mat-form-field-infix {
    //   width: 130px;
    // }

    #textarea-description::-webkit-scrollbar {
      display: none;
    }

    .bwico {
      margin-bottom: 10px;
    }

    .mat-hint {
      font-size: 13px;
    }
    .ctrls,
    .register {
      padding-right: 10px;
    }
    .ctrls {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      * {
        margin: 0;
      }
      button {
        margin-top: 10px;
        margin-left: 10px;
      }

      mat-spinner {
        margin-left: 20px;
      }
    }
    .legals {
      margin-top: 20px;

      p {
        margin-bottom: 10px;
      }

      .row {
        display: flex;
        margin-bottom: 4px;

        * {
          margin: 0;
        }

        a {
          margin-left: 5px !important;
        }
      }
    }

    .activation-legend {
      margin-top: 10px;
    }
  }

 .mat-card{
  background-color: #1e7e7f;
  color:  white;
  box-shadow: none;
  border: none;
  .mat-checkbox{
    margin-top: 15px;
  }
 }

  .listhldr {
    margin-top: 10px;
    p {
      margin-bottom: 5px;
    }

    .listitem {
      padding: 10px;
      border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
      display: flex;
      align-items: center;

      * {
        margin: 0;
      }

      .set-4 {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        * {
          margin: 0;
        }
      }
    }

    .listitem:first-child {
      padding-top: 0;
    }

    .listitem:last-child {
      border-bottom: 0;
      padding-bottom: 0;
    }
  }
  .category {
    p {
      .mat-icon {
        font-size: 50pt;
      }
    }
  }
  .addfile {
    display: flex;
    justify-content: flex-end;
    padding-right: 5px;
  }
}
