<div class="form-association" *ngIf="isDataAvailable && isMobile">
  <mat-stepper #stepper [disableRipple]="true" [linear]="true" [@.disabled]="true">
    <!--Search your association or register-->
    <mat-step>
      <div class="set-12 dialog-head">
        <div class="set-10">
          <h3>Búscar asociación</h3>
        </div>

        <div class="set-2 txt-right">
          <button type="button" mat-mini-fab color="primary" (click)="killDialog()">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </div>

      <div class="set-12 search-hldr" *ngIf="isMobile">
        <form class="set-12" [formGroup]="searchFormGroup" (submit)="onSearch(searchFormGroup)">
          <div class="set-12">
            <mat-form-field appearance="outline">
              <mat-label>Buscar tu asociación</mat-label>
              <input matInput formControlName="search" />
              <button type="button" matSuffix (click)="clearSearchForm()">
                <mat-icon>cancel</mat-icon>
              </button>
              <mat-hint>
                <small>** Presiona <strong>ENTER</strong> o <strong>BUSCAR</strong> después de escribir tu
                  busqueda</small>
              </mat-hint>
            </mat-form-field>
          </div>

          <div class="set-12 searchButton">
            <button type="button" mat-raised-button color="warn" (click)="onSearch(searchFormGroup)"
              [disabled]="submitted">
              <small>Buscar</small>
            </button>
            <mat-spinner diameter="30" *ngIf="submitted"></mat-spinner>
          </div>

          <div class="set-12 innerhldr" *ngIf="isDataAvailable" [class.fixmob]="isMobile">
            <div class="set-12" *ngIf="isNotAssociationAvailable">
              <div class="set-12 listhldr">
                <p>
                  <strong>No hay resultados que mostrar.</strong>
                </p>
                <p>
                  <small>Para registrarte deberas acreditar la representación de tu organización</small>
                </p>
              </div>
            </div>

            <div class="set-12 listhldr" *ngIf="isAssociationAvailable">
              <div class="set-12 listitem" *ngFor="let association of associations">
                <div class="set-12">
                  <span>
                    <strong>{{ association.name }}</strong>
                  </span>
                  <p *ngIf="association.description != null" class="desc">
                    <small [innerHtml]="
                        association.description.length > 100
                          ? (association.description | slice : 0 : 100) + '..'
                          : association.description
                      "></small>
                  </p>
                  <div class="set-12 joinButton">
                    <button *ngIf="association.createdBy === user._id" class="typeMember" type="button"
                      mat-raised-button color="accent">
                      <small>Administrador</small>
                    </button>
                    <button *ngIf="association.createdBy != user._id" type="button" mat-raised-button color="primary">
                      <small>Unirme</small>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div class="set-12 ctrls register" *ngIf="isNotAssociationAvailable">
        <button mat-raised-button color="warn" matStepperNext>
          <small>Registrar asociación</small>
        </button>
        <mat-spinner diameter="20" *ngIf="submitted"></mat-spinner>
      </div>
    </mat-step>

    <!-- Step 2 Data Association-->
    <mat-step>
      <div class="set-12 dialog-head">
        <div class="set-10">
          <h3>Datos de la asociación</h3>
        </div>
        <div class="set-2 txt-right">
          <button type="button" mat-mini-fab color="primary" (click)="killDialog()">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </div>

      <form [formGroup]="dataAssociationFormGroup">
        <mat-form-field appearance="outline">
          <mat-label><small>Tipo de asociación</small></mat-label>
          <mat-select matInput formControlName="associationTypologys">
            <mat-option (click)="onChangeAssociationType(association._id)"
              *ngFor="let association of associationTypology" [value]="association._id">
              <small>{{ association.name }} </small>
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Nombre de Asociación</mat-label>
          <input matInput formControlName="associationName" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Describe tu asociación</mat-label>
          <textarea id="textarea-description" cdkTextareaAutosize matInput
            formControlName="associationDescription"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Cobertura</mat-label>
          <mat-select formControlName="associationCoverage" (selectionChange)="onSelectCoverage($event)" multiple
            #stateSelect>
            <mat-option *ngFor="let state of states" [value]="state._id">
              <small>{{ state.name | titlecase }}</small>
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <div class="set-12 ctrls">
        <button mat-raised-button color="warn" matStepperPrevious>
          <small>Atras</small>
        </button>
        <button mat-raised-button color="warn" matStepperNext [disabled]="dataAssociationFormGroup.invalid">
          <small>Siguiente</small>
        </button>
        <mat-spinner diameter="20" *ngIf="submitted"></mat-spinner>
      </div>
    </mat-step>

    <!-- Step 2.1-->
    <mat-step>

      <div class="set-12 dialog-head">
        <div class="set-10">
          <h3>¡Participa!</h3>
        </div>
        <div class="set-2 txt-right">
          <button type="button" mat-mini-fab color="primary" (click)="killDialog()">
            <mat-icon>cancel</mat-icon>

          </button>
        </div>
      </div>
      <div class="set-12 category">
        <p class="txt-center" *ngIf="!viewSubLayouts">
          Selecciona las categorías de tu interés.

        </p>
        <p class="txt-center"><mat-icon>touch_app</mat-icon></p>
      </div>

      <div class="dialog-1" *ngIf="!viewSubLayouts">
        <div class="left-point"></div>
        <div class="categories">
          <mat-checkbox class="set-12" *ngFor="let layout of layouts" [value]="layout"
            (change)="updateSelection(layout, $event)" [labelPosition]="labelPosition">
            <span class="checkbox-label">{{ layout.category.name }}</span>
          </mat-checkbox>
        </div>
      </div>

      <div class="set-12 ctrls btn-categories">
        <button mat-raised-button color="warn" matStepperPrevious>
          <small>Atras</small>
        </button>
        <button mat-raised-button color="warn" matStepperNext>
          <small>Siguiente</small>
        </button>
      </div>

    </mat-step>

    <!-- Step 3 Data Comercial-->
    <mat-step>
      <div class="set-12 dialog-head">
        <div class="set-10">
          <h3 *ngIf="associationType == '6399e5c7c878ad9b63dde6a2'">
            Datos comerciales
          </h3>
          <h3 *ngIf="associationType == '6399e5c7c878ad9b63dde6a3'">
            Datos asociación
          </h3>
          <h3 *ngIf="associationType == '6399e5c7c878ad9b63dde6a4'">
            Datos Maratón Estudiantil
          </h3>
          <h3 *ngIf="associationType == '6399e5c7c878ad9b63dde6a5'">
            Datos Publicador
          </h3>
          <h3 *ngIf="associationType == '6399e5c7c878ad9b63dde6a6'">
            Datos Estudiante
          </h3>
        </div>
        <div class="set-2 txt-right">
          <button type="button" mat-mini-fab color="primary" (click)="killDialog()">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </div>
      <form [formGroup]="dataComercialFormGroup">

        <mat-form-field *ngIf="
            associationType == '6399e5c7c878ad9b63dde6a2' ||
            associationType == '6399e5c7c878ad9b63dde6a3' ||
            associationType == '6399e5c7c878ad9b63dde6a4'
          " appearance="outline">
          <mat-label *ngIf="
              associationType == '6399e5c7c878ad9b63dde6a2' ||


              associationType == '6399e5c7c878ad9b63dde6a3'
            ">Razón o denominación social</mat-label>
          <mat-label *ngIf="associationType == '6399e5c7c878ad9b63dde6a4'">Universidad a la que perteneces</mat-label>
          <input matInput formControlName="associationNameComercial" />
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Calle</mat-label>
          <input matInput formControlName="associationStreet" />
        </mat-form-field>
        <div class="set-12 addressNum">
          <mat-form-field appearance="outline">
            <mat-label>No. Ext.</mat-label>
            <input matInput formControlName="associationNumExt" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>No. Int.</mat-label>
            <input matInput formControlName="associationNumInt" />
          </mat-form-field>
        </div>
        <mat-form-field appearance="outline">
          <mat-label>Codigo Postal</mat-label>
          <input matInput formControlName="associationZipCode" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Colonia</mat-label>
          <input matInput formControlName="associationTown" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Ciudad</mat-label>
          <input matInput formControlName="associationCity" />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Cobertura</mat-label>
          <mat-select formControlName="associationState" (selectionChange)="onSelectCoverage($event)"
            #stateSelect>
            <mat-option *ngFor="let state of states" [value]="state._id">
              <small>{{ state.name | titlecase }}</small>
            </mat-option>
          </mat-select>
        </mat-form-field>

        <div *ngIf="
            associationType == '6399e5c7c878ad9b63dde6a2' ||

            associationType == '6399e5c7c878ad9b63dde6a3' ||
            associationType == '6399e5c7c878ad9b63dde6a4'
          " class="set-12 addfile">
          <button type="button" mat-raised-button color="primary" (click)="file.click()" class="set-8 bwico">
            <!-- <mat-icon><small>attach_file</small></mat-icon> -->

            <small *ngIf="associationType == '6399e5c7c878ad9b63dde6a2'">Adjuntar <strong>Acta Constitutiva</strong>

            </small>
            <small *ngIf="
                associationType == '6399e5c7c878ad9b63dde6a3' ||
                associationType == '6399e5c7c878ad9b63dde6a4'
              ">Adjuntar <strong>Acta de Organización</strong>
            </small>
          </button>
          <input multiple class="set-1" type="file" #file (change)="onFileSelected($event,'constitutiveAct')" />
        </div>
        <div class="set-12 addfile">
          <button type="button" mat-raised-button color="primary" (click)="file.click()" class="set-8 bwico">
            <!-- <mat-icon><small>attach_file</small></mat-icon> -->
            <small>Adjuntar <strong>Identificacion Oficial </strong> </small>
          </button>
          <input class="set-1" type="file" #file (change)="onFileSelected($event,'officialIndentification')" />
        </div>
        <div *ngIf="
            associationType == '6399e5c7c878ad9b63dde6a2' ||

            associationType == '6399e5c7c878ad9b63dde6a3' ||
            associationType == '6399e5c7c878ad9b63dde6a4'
          " class="set-12 addfile">
          <button type="button" mat-raised-button color="primary" (click)="file.click()" class="set-8 bwico">
            <!-- <mat-icon><small>attach_file</small></mat-icon> -->
            <small *ngIf="associationType == '6399e5c7c878ad9b63dde6a2' || associationType == '6399e5c7c878ad9b63dde6a3' ||
            associationType == '6399e5c7c878ad9b63dde6a4'">Adjuntar <strong>Poder Notarial</strong>
            </small>
          </button>
          <input multiple class="set-1" type="file" #file (change)="onFileSelected($event,'powerOfAttorney')" />
        </div>
       
        
      </form>
      <div class="set-12 ctrls">
        <button mat-raised-button color="warn" matStepperPrevious>
          <small>Atras</small>
        </button>
        <button mat-raised-button color="warn" matStepperNext [disabled]="dataComercialFormGroup.invalid">
          <small>Siguiente</small>
        </button>
        <mat-spinner diameter="20" *ngIf="submitted"></mat-spinner>
      </div>
    </mat-step>

    <!--Step 4 que te hace feliz-->
    <mat-step>
      <div class="set-12 dialog-head">
        <div class="set-10">
          <h3>Tus intereses</h3>
        </div>
        <div class="set-2 txt-right">
          <button type="button" mat-mini-fab color="primary" (click)="killDialog()">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </div>
      <form>
        <mat-form-field appearance="outline">
          <mat-label>¿Qué te hace feliz de México?</mat-label>
          <mat-chip-list #happyChipList>
            <mat-chip *ngFor="let item of happyArray" (removed)="removeHappyItem(item)">
              {{ item.name }}
              <button type="button" matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input placeholder="" [matChipInputFor]="happyChipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
              [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="addHappyItem($event)" />
            <button type="button" matSuffix (click)="clearInputHappy()">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-list>
          <mat-hint><small>** Presiona <strong>ENTER</strong> después de escribir algo que
              te ga feliz, ej: <strong>" Playas"</strong></small>
          </mat-hint>
        </mat-form-field>
      </form>
      <div class="set-12 ctrls">
        <button mat-raised-button color="warn" matStepperPrevious>
          <small>Atras</small>
        </button>
        <button mat-raised-button color="warn" matStepperNext>
          <small>Siguiente</small>
        </button>
        <mat-spinner diameter="20" *ngIf="submitted"></mat-spinner>
      </div>
    </mat-step>

    <!--Last step Register-->
    <mat-step>
      <div class="set-12 dialog-head">
        <div class="set-10">
          <h3>¡Has terminado!</h3>
        </div>
        <div class="set-2 txt-right">
          <button type="button" mat-mini-fab color="primary" (click)="killDialog()">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </div>
      <form [formGroup]="legalsFormGroup">
        <mat-form-field appearance="outline">
          <mat-label>¿Qué te entristece de México?</mat-label>
          <mat-chip-list #unhappyChipList>
            <mat-chip *ngFor="let item of unhappyArray" (removed)="removeUnhappyItem(item)">
              {{ item.name }}
              <button type="button" matChipRemove>
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input placeholder="" [matChipInputFor]="unhappyChipList"
              [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
              (matChipInputTokenEnd)="addUnhappyItem($event)" />
            <button type="button" matSuffix (click)="clearInputUnhappy()">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip-list>
          <mat-hint><small>** Presiona <strong>ENTER</strong> después de escribir algo que
              te entriztesca, ej:
              <strong>" Delincuencia"</strong>
            </small>
          </mat-hint>
        </mat-form-field>
        <div class="set-12 legals">
          <p>
            <small>He leído y estoy de acuerdo con:</small>
          </p>
          <div class="set-12 row">
            <mat-checkbox color="primary" formControlName="terms"></mat-checkbox>
            <a href="#" routerLink="/legales/terminos-condiciones">
              <small>Términos y condiciones</small>
            </a>
          </div>
          <div class="set-12 row">
            <mat-checkbox color="primary" formControlName="privacy"></mat-checkbox>
            <a href="#" routerLink="/legales/politica-privacidad">
              <small>Política de privacidad</small>
            </a>
          </div>
          <div class="set-12 activation-legend"></div>
        </div>
      </form>
      <div class="set-12 ctrls">
        <button mat-raised-button color="warn" matStepperPrevious>
          <small>Atras</small>
        </button>
        <button type="button" mat-raised-button color="primary" (click)="onCreateAssociation()">
          <small>Registrarme</small>
        </button>
        <mat-spinner diameter="20" *ngIf="submitted"></mat-spinner>
      </div>
    </mat-step>
  </mat-stepper>
</div>