<mat-card class="card-container">
  <div class="set-12">
    <div class="set-6">
      <div class="set-12">
        <div class="set-3 image-box gray-icon-color">
          <img src="../../../assets/images/PANDOlogo.png" alt="" />
        </div>
        <div class="set-8 texts-box">
          <p class="name">Usuarios</p>
          <p class="amount">{{ usersTotal }}</p>
        </div>
      </div>
    </div>
    <div class="set-6">
      <div class="set-12">
        <div class="set-3 image-box red-icon-color">
          <img src="../../../assets/images/PANDOlogo.png" alt="" width="42" />
        </div>
        <div class="set-8 texts-box">
          <p class="name">Interacciones</p>
          <p class="amount">{{ interactionsTotal }}</p>
        </div>
      </div>
    </div>
  </div>
</mat-card>
