<div class="set-12 loading" *ngIf="!isDataAvailable">
  <mat-spinner diameter="50"></mat-spinner>
</div>

<div class="set-12" *ngIf="isDataAvailable">
  <div class="set-12 dialog-head">
    <div class="set-10">Agregar tópico</div>

    <div class="set-2 txt-right">
      <button type="button" mat-mini-fab color="primary" (click)="killDialog()" [disabled]="submitted">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
    <input type="file" #file (change)="onFileSelected($event)" multiple>
  </div>

  <div class="set-12 dialog-body">
    <form [formGroup]="addTopicFormGroup" (submit)="onCreateTopic(addTopicFormGroup)">
      <mat-form-field appearance="outline">
        <mat-label>Cobertura</mat-label>
        <mat-select formControlName="coverage">
          <mat-option *ngFor="let state of coverage" [value]="state">
            <small>{{state?.name}}</small>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Categoría</mat-label>
        <mat-select (selectionChange)="onLayoutSelected($event)" formControlName="layout">
          <mat-option *ngFor="let layout of layouts" [value]="layout">
            <small>{{layout?.category?.name}}</small>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Sub categoría</mat-label>
        <mat-select formControlName="sublayout">
          <mat-option *ngFor="let layout of sublayouts" [value]="layout">
            <small>{{layout?.category?.name}}</small>
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Título</mat-label>
        <input type="text" matInput formControlName="title">
      </mat-form-field>

      <div class="set-12 editor-form">
        <angular-editor formControlName="description" [config]="editorConfig"></angular-editor>
      </div>

      <div class="set-12 file-hldr" *ngIf="fileNames.length != 0">
        <p *ngFor="let name of fileNames">
          <small>{{name}}</small>
        </p>
      </div>

      <div class="set-12 ctrls">
        <button type="button" mat-mini-fab color="primary" (click)="file.click()">
          <mat-icon>cloud_upload</mat-icon>
        </button>
        <button type="submit" mat-raised-button color="primary" [disabled]="addTopicFormGroup.invalid || submitted">
          <small>Guardar</small>
        </button>
        <mat-spinner diameter="30" *ngIf="submitted"></mat-spinner>
      </div>
    </form>
  </div>
</div>