:host {
  .ctrls {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    * {
      margin: 0;
    }

    button {
      margin-left: 10px;
    }

    button:first-child {
      margin-left: 0;
    }
  }
}