<div class="set-12 loading" *ngIf="!isDataAvailable">
  <mat-spinner></mat-spinner>
</div>

<!--Desk-->
<div class="set-12 innerhldr" *ngIf="isDataAvailable && !isMobile"></div>

<!--Mobile-->
<div class="set-12" *ngIf="isDataAvailable && isMobile">
  <div class="set-12 col-lft">
    <mat-card class="set-12">
      <div class="set-12 cardimg">
        <div class="set-12 empty-img">
          <mat-icon>panorama</mat-icon>
        </div>
      </div>
      <input #fileInput type="file" accept="image/*" hidden />
      <button type="button" class="avatar">
        <!-- <img
            src="{{ association.avatarImage }}"
            alt="{{ association.name }} "
            *ngIf="association.avatarImage != null"
          /> -->
        <span>
          {{ association.name | firstword | firstletter }}
        </span>
        <div
          class="overlay"
          matTooltip="Cargar imágen"
          matTooltipClass="tool tip"
        >
          <mat-icon color="accent">photo_camera</mat-icon>
        </div>
      </button>

      <div class="set-12 cardbody">
        <h3 class="txt-center">{{ association.name }}</h3>
        <div class="set-12 community">
          <button class="set-4 txt-left" (click)="openModalMembers()" >
            <span 
              ><small><strong>120 miembros</strong></small>
            </span></button
          >
          <button class="set-4 txt-left" (click)="openModalMembers()"><span 
            ><small><strong>230 seguidores</strong></small></span
          ></button>
        </div>
        <div class="set-12 usrinfo">
          <p class="set-12">
            <small class="set-6"><strong>Semblanza</strong></small>
          </p>
          <p class="set-12">
            <small class="set-12">
              {{ association.description | slice : 0 : 100 }}
              <small *ngIf="association.description.length > 100"
                ><strong>... ver mas</strong></small
              ></small
            >
          </p>

          <button
            class="set-12"
            mat-raised-button
            color="accent"
            (click)="openBottomSheet()"
          >
            <small>¿Qué quieres publicar?</small>
          </button>
        </div>
      </div>
    </mat-card>
  </div>
</div>
