<div class="set-12 mainhldr">
  <!-- <ng-container>
    <div style="margin-top: 8em; margin-bottom: 8em; padding-top: 8em;">
      <label for="file"> Subida </label>
      <input type="file" name="file" id="file" (change)="selectFiles($event)" style="border: 1px solud black; width: 50px;" multiple>
      <button (click)="uploadFile()"> subir </button>
      
      <div *ngFor="let a of output">
        <div style="margin-top: 1em;">
          <p> {{ a | json }} </p>
          <mat-progress-bar  mode="determinate" value="{{a.progress}}"> </mat-progress-bar>
        </div>
      </div>  

      <div *ngFor="let location of locations" style="margin-top: 3em">
        <p> {{ location }} </p>
      </div>
    </div>
  </ng-container> -->


  <div class="app-pagelet" [user]="user" [path]="path" [coverDocument]="coverDocument" [open]="open"
    (openMenu)="getMenuStatus($event)" [open]="isProfile" (openProfileMenu)="getMenuProfileStatus($event)"
    *ngIf="isDataAvailable"></div>

  <router-outlet></router-outlet>
  <!-- <div class="message-box" [user]="user" *ngIf="isDataAvailable"></div> -->
  <!-- <div class="app-footer" *ngIf="isDataAvailable"></div> -->
  <div class="upload-handler" [displayUploader]="displayUploader"></div>
</div>

<!--Mobile-->
<div class="set-12 mobilenav" *ngIf="isDataAvailable && isMobile" [class.menuopen]="open">
  <div class="set-12 topnav">
    <div class="set-6">
      <button type="button" (click)="utilityService.linkMe('/'); open = !open">
        <mat-icon color="accent">home</mat-icon>
      </button>
    </div>
    <div class="set-6 txt-right">
      <button type="button" (click)="open = !open">
        <mat-icon color="accent">cancel</mat-icon>
      </button>
    </div>
  </div>

  <!---User is not login-->
  <div class="set-12 innernav" *ngIf="user == null">
    <div class="set-12 innerbtn">
      <button type="button" (click)="utilityService.linkMe('/'); open = !open">
        <mat-icon>home</mat-icon> Inicio
      </button>
      <button type="button" (click)="utilityService.linkMe('/hub/signin-mobile'); open = !open">
        <mat-icon>login</mat-icon> Ingresar
      </button>
      <button type="button" (click)="utilityService.linkMe('/hub/signup-mobile'); open = !open">
        <mat-icon>app_registration</mat-icon> Registro
      </button>
      <button type="button" (click)="popComplaintsDialog(); open = !open">
        <mat-icon>priority_high</mat-icon> Denuncia
      </button>
      <button type="button" (click)="popTestimonialsDialog(); open = !open">
        <mat-icon>edit_note</mat-icon> Mi testimonio
      </button>
      <button class="mt-4" type="button" (click)="utilityService.linkMe('/posts'); open = !open">
        <mat-icon>dashboard</mat-icon> <span>Muro Colectivo</span>
      </button>
      <button class="mt-4" type="button" (click)="popPDF(); open = !open">
        <mat-icon>description</mat-icon> <span>Documento Punto de Partida</span>
      </button>
      <button class="mt-4" type="button" (click)="utilityService.linkMe('/maraton'); open = !open">
        <mat-icon>school</mat-icon> <span>Maratón Universitario</span>
      </button>
    </div>
  </div>

  <!---User is  login-->
  <div class="set-12" *ngIf="user != null">
    <div class="set-12 avatarhldr">
      <button type="button" class="avatar set-3">
        <img src="{{ user.avatarImage }}" alt="{{ user.firstname }}" *ngIf="user.avatarImage != null" />
        <span *ngIf="user.avatarImage == null">
          {{ user.firstname | firstword | firstletter }}{{ user.lastname | firstword | firstletter }}
        </span>
      </button>
      <div class="usrname set-8">{{ user.firstname }} {{ user.lastname }}</div>
      <div class="set-1 arrow-rigth">
        <!-- <button type="button" (click)="open = !open; displayProfileMenu()">
          <mat-icon color="accent">keyboard_arrow_right</mat-icon>
        </button> -->
        <button type="button">
          <mat-icon color="accent">keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </div>

    <div class="set-12 innernav">
      <div class="set-12 innerbtn">
        <button type="button"
          (click)="utilityService.linkMe('/documentos-publicos/' + coverDocument._id); open = !open">
          <span>Mexicolectivo</span>
        </button>
        <button type="button" (click)="linkMe('entry-point')">
          <span>Documento Punto de Partida</span>
        </button>
        <button type="button" (click)="utilityService.linkMe('/noticias'); open = !open">
          <span>¿Quiénes somos?</span>
        </button>

        <button type="button" (click)="linkMe('profile')">
          <mat-icon>person</mat-icon> <span>Mi perfil</span>
        </button>
        <button type="button" (click)="popComplaintsDialog(); open = !open">
          <mat-icon>priority_high</mat-icon> Denuncia
        </button>
        <button type="button" (click)="popTestimonialsDialog(); open = !open">
          <mat-icon>edit_note</mat-icon> Mi testimonio
        </button>
        <button class="mt-4" type="button" (click)="utilityService.linkMe('/posts'); open = !open">
          <mat-icon>dashboard</mat-icon> <span>Muro Colectivo</span>
        </button>
        <button class="mt-4" type="button" (click)="popPDF(); open = !open">
          <mat-icon>description</mat-icon> <span>Documento Punto de Partida</span>
        </button>
        <button class="mt-4" type="button" (click)="utilityService.linkMe('/maraton'); open = !open">
          <mat-icon>school</mat-icon> <span>Maratón Universitario</span>
        </button>

        <!-- <button type="button" (click)="linkMe('associations')">
          <mat-icon>groups</mat-icon> <span>Mis asociaciones</span>
        </button>
        <button type="button" (click)="linkMe('documents')">
          <mat-icon>description</mat-icon> <span>Mis Documentos</span>
        </button>
        <button type="button" (click)="linkMe('complaint')">
          <mat-icon>warning</mat-icon> <span>Denuncias</span>
        </button>
        <button type="button" (click)="linkMe('testimony')">
          <mat-icon>announcement</mat-icon> <span>Testimonios</span>
        </button>
        <button type="button" (click)="linkMe('configuration')">
          <mat-icon>settings</mat-icon> <span>Configuración</span>
        </button> -->
        <button class="mt-4" type="button" (click)="onSignOut()">
          <mat-icon>power_settings_new</mat-icon> <span>Salir</span>
        </button>

        <!-- <button type="button" (click)="linkMe('quienesSomos')">
          <span>Quienes somos</span>
        </button>
        <button type="button" (click)="linkMe('home')">
          <span>Mision/Video</span>
        </button>
        <button type="button" (click)="linkMe('home')">
          <span>Pensamiento colectivo</span>
        </button> -->
      </div>
    </div>
  </div>
</div>

<div class="set-12 mobilenav" *ngIf="isDataAvailable && isMobile" [class.menuopen]="isProfile">
  <div class="set-12 topnav">
    <div class="set-1">
      <button type="button" (click)="open = !open; isProfile = !isProfile">
        <mat-icon color="accent">keyboard_arrow_left</mat-icon>
      </button>
    </div>
    <div class="set-10">&nbsp;</div>
    <div class="set-1">
      <button type="button" (click)="isProfile = !isProfile">
        <mat-icon color="accent">cancel</mat-icon>
      </button>
    </div>
  </div>

  <div class="set-12 innernav">
    <div class="set-12 innerbtn">
      <button type="button" (click)="linkMe('profile')">
        <span>Mi perfil</span>
      </button>
      <button type="button" (click)="linkMe('associations')">
        <span>Mis asociaciones</span>
      </button>
      <button type="button" (click)="linkMe('documents')">
        <span>Documentos publicos</span>
      </button>
      <!--  <button  type="button" disabled>
        <span>Dashboard</span>
      </button> -->
      <button type="button" (click)="linkMe('configuration')">
        <span>Configuracion</span>
      </button>
      <button class="mt-4" type="button" (click)="onSignOut()">
        <!-- <mat-icon>power_settings_new</mat-icon> --> <span>Salir</span>
      </button>
    </div>
  </div>
</div>