:host {
  .menuopen {
    left: 0 !important;
  }

  .mobilenav {
    position: fixed;

  }

  .innernav {
    .innerbtn {
      button {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 20px;

        mat-icon {
          font-size: 13pt;
          margin-right: 20px;
        }
      }
    }

    * {
      margin: 0;
    }
  }
}
