:host {
  .menuopen {
    left: 0 !important;
  }

  .mobilenav {
    position: fixed;
  }

  .innernav {
    .innerbtn {
      button {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        mat-icon {
          margin-right: 10px;
          font-size: 13pt;
        }
      }
    }

    * {
      margin: 0;
    }
  }

  .topnav-profile {
    color: #54f093;
  }
  .avatar-icon {
    position: absolute;
    right: 0;
  }
  .arrow-left{
    position: absolute;
    left: 0;
    top: 27px;
  }
}
