<div class="community-mobile-card">
  <div class="head-Modal">
    <button type="button" mat-mini-fab color="primary" (click)="killDialog()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="members">
    <mat-card class="set-12">
      <img
        class="avatar set-2"
        src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg"
        alt="avatar"
      />
      <div class="set-9 userinfo">
        <p><small>Vincent Porter</small></p>

        <p><small> Colaborador desde febrero de 2022 </small></p>
      </div>
      <button class="set-1 txt-rigth">
        <mat-icon>more_vert</mat-icon>
      </button>
    </mat-card>
  </div>
</div>
