:host {
  padding: 20px;
  float: left;
  width: 70%;
  margin: 0 15%;

  ::ng-deep .mat-step-header:hover,
  ::ng-deep .mat-step-header {
    background: transparent !important;
  }

  .mat-stepper-horizontal,
  .mat-stepper-vertical {
    background: transparent !important;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
  }

  ::ng-deep .angular-editor-toolbar {
    background: transparent !important;
    border: 0 !important;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1) !important;
    padding: 10px !important;
  }

  ::ng-deep .angular-editor .angular-editor-wrapper .angular-editor-textarea {
    background: transparent !important;
    margin: 0 !important;
    border: 0 !important;
    outline: none !important;
    padding: 10px !important;
  }

  ::ng-deep .angular-editor .angular-editor-wrapper .angular-editor-placeholder {
    padding: 10px !important;
  }

  .dialog-head {
    display: flex;
    align-items: center;
  }

  .dialog-body {
    margin-top: 20px;
  }

  .editor-form {
    margin-bottom: 20px;
    background: #ffffff;
    border-radius: 5px;
  }

  .form-body {
    >* {
      margin: 0;
    }

    textarea {
      height: 100pt;
    }

    .imagebox {
      border-color: #636363;
      border-style: dashed;
      border-width: 1px;
      width: 100%;
      min-height: 100pt;
      height: auto;
      margin-bottom: 50pt;
      position: relative;
      border-radius: 5px;

      label {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 12pt;
        user-select: none;
        z-index: 3;
        cursor: pointer;
        position: absolute;
        top: 0;
        left: 0;
        transition: all 390ms linear;
        box-sizing: border-box;

        &.data {
          background-color: rgba(250, 250, 250, 0.5);
          opacity: 0;

          &:hover {
            opacity: 0.5;
          }
        }

        mat-icon {
          font-size: 25pt;
          color: #306eff;
        }

        span {
          margin-top: 8pt;
        }
      }

      .preview {
        width: 100%;
        // height: 100%;A
        object-fit: cover;
        transition: opacity 450ms linear;
        z-index: 2;

        &.empty {
          opacity: 0;
        }

        &.data {
          opacity: 1;
        }
      }
    }
  }

  .anon {
    .set-12 {
      display: flex;
      align-items: center;

      * {
        margin: 0;
      }

      mat-icon {
        margin-right: 10px;
        font-size: 13pt;
      }
    }
  }

  .ctrls {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 20px;

    * {
      margin: 0;
    }

    button {
      margin-left: 10px;
    }

    button:first-child {
      margin-left: 0;
    }

    mat-spinner {
      margin-left: 20px;
    }
  }

  .upload-img {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    overflow: hidden;
    // border: 1px dashed rgba(0, 0, 0, 0.3);
    background: #1e7e7f;

    mat-icon {
      font-size: 40pt !important;
      color: #f44336;
    }
  }

  .file-hldr {
    font-weight: bold;
    font-style: italic;
    margin: 40px 0;
    text-align: center;
  }
}

:host(.fixmobile) {
  margin: 0 !important;
  width: 100%;
}
