<div class="set-12 loading" *ngIf="!isDataAvailable">
  <mat-spinner></mat-spinner>
</div>

<div class="set-12" *ngIf="isDataAvailable">
  <div class="crdlst">
    <div class="filters">
      <form [formGroup]="searchTeamsFG" (submit)="serachTeams(searchTeamsFG)">
        <mat-form-field appearance="outline">
          <mat-label>Buscar</mat-label>
          <input type="text" matInput formControlName="filter">
        </mat-form-field>
        <button type="submit">
          <mat-icon>search</mat-icon>
        </button>
      </form>
    </div>

    <mat-card *ngFor="let team of teams">
      <div class="set-12 teambtn" (click)="utilityService.linkMe('/maraton/equipos/' + team['_id'])">
        <div class="set-12 crdh blueb">
          <div class="set-10">
            <p><small>{{team['name']}}</small></p>

            <p class="uname"><small>{{team['layout']['category']['name']}} /
                {{team['sublayout']['category']['name']}}</small></p>
          </div>
        </div>

        <div class="set-12 crddsc blueb">
          <h4>{{team['topic']['title']}}</h4>
        </div>

      </div>
      <div class="set-12 crdvp">
        <img [src]="team['coverImage']" alt="" class="full" *ngIf="team['coverImage'] != null" />
        <img src="../../assets/images/mexicolectivo-small-blue.png" alt="" *ngIf="team['coverImage'] == null" />
      </div>

      <div class="set-12 crdft">
        <!-- <p><small>Votos: 9</small></p> -->
        <p>
          <small>{{team['university']['universidad_nombre']}}
            <span class="votes">
              <p>100</p>
              <p>votos</p>
            </span>
          </small>
        </p>
      </div>
    </mat-card>
  </div>
</div>