:host {
  .ctrls {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    * {
      margin: 0;
    }

    button:not(:first-child) {
      margin-left: 10px;
    }

    mat-spinner {
      margin-left: 20px;
    }
  }
}