<form class="set-12" [formGroup]="formGroup" (submit)="recoverPassword(formGroup)">
  <mat-form-field appearance="outline">
    <mat-label>Correo electrónico</mat-label>
    <input type="text" matInput formControlName="email">
  </mat-form-field>

  <div class="set-12 ctrls">
    <button type="button" mat-raised-button color="warn" (click)="killDialog()" [disabled]="submitted">
      <small>Cancelar</small>
    </button>
    <button type="submit" mat-raised-button color="primary" [disabled]="formGroup.invalid || submitted">
      <small>Solicitar</small>
    </button>
    <mat-spinner diameter="30" *ngIf="submitted"></mat-spinner>
  </div>
</form>