:host {
  width: 100%;

  mat-toolbar {
    height: 80px;
    padding: 0 40px;
    background: rgb(0, 3, 29);
    box-shadow: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
  }

  .logo {
    display: flex;
    align-items: center;

    * {
      margin: 0;
    }

    img {
      width: 100%;
      float: left;
      cursor: pointer;
    }

    input {
      padding: 10px;
      border: 1px solid rgba($color: #000000, $alpha: 0.1);
      width: 100%;
      border-radius: 4px;
    }
  }

  .search-hldr {
    padding-left: 30px;
  }

  .bar-search {
    background: #ffffff;
  }

  .bar-search:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    * {
      margin: 0;
    }

    .sep {
      font-size: 20pt;
      margin-left: 20px;
      color: #71f5ad;
    }

    button {
      margin-left: 20px;
      color: #71f5ad;
      font-weight: bold;
      font-weight: 14pt;
    }

    button:nth-child(1):hover,
    button:nth-child(2):hover {
      color: #2dff8b;
    }

    button:first-child {
      margin-left: 0;
    }

    mat-icon {
      font-size: 14pt;
    }

    .btn-ico {
      margin-left: 10px;

      * {
        display: block;
      }
    }

    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 100%;
      overflow: hidden;
      background: #1e7e7f;
      margin-left: 20px !important;
      border: 1px solid rgba($color: #000000, $alpha: 0.1);

      span {
        font-size: 9pt;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background: #1e7e7f;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        float: left;
      }
    }
  }

  .btn-menu {
    mat-icon {
      color: #71f5ad;
    }
  }

  .btn-permissios {
    color: #ffffff;
  }

  .btn-permissios:hover {
    color: #2dff8b;
  }

  .fixtoolbar {
    position: relative !important;
    padding: 0 20px;
  }
}
