<mat-toolbar *ngIf="isDataAvailable" [class.fixtoolbar]="isMobile">
  <div class="set-6 logo">
    <div class="set-4" [class.set-12]="isMobile">
      <img src="../../../assets/images/mexicolectivo-full-green.png" (click)="linkMe('home')" />
    </div>

    <div class="set-8 search-hldr" *ngIf="!isMobile">
      <form [formGroup]="searchFormGroup" (submit)="onSearch(searchFormGroup)">
        <input type="text" placeholder="Búscar en Mexicolectivo..." class="bar-search" formControlName="search">
      </form>
    </div>
  </div>

  <div class="set-6 navigation" *ngIf="!isMobile">
    <button *ngIf="permission == true && isPublic > 0" type="button" (click)="redirectEdition()">
      Ir a edición
    </button>
    <button *ngIf="permission == true && isPublic == -1" type="button" (click)="redirectEdition()">
      Ver público
    </button>

    <!-- <button type="button">
      Pensamiento colectivo
    </button> -->
    <span class="sep">|</span>

    <!-- user not available -->
    <button type="button" (click)="linkMe('join')" *ngIf="user == null" matTooltip="Registro" matTooltipClass="tooltip">
      <mat-icon>app_registration</mat-icon>
    </button>
    <button type="button" (click)="linkMe('login')" *ngIf="user == null" matTooltip="Ingreso" matTooltipClass="tooltip">
      <mat-icon>account_box</mat-icon>
    </button>

    <!-- user available -->
    <button type="button" class="avatar" (click)="linkMe('profile')" *ngIf="user != null"
      [matTooltip]="user.firstname + ' ' + user.lastname" matTooltipClass="tooltip">
      <img src="{{ user.avatarImage }}" alt="{{ user.firstname }}" *ngIf="user.avatarImage != null" />
      <span *ngIf="user.avatarImage == null">
        {{ user.firstname | firstword | firstletter
        }}{{ user.lastname | firstword | firstletter }}
      </span>
    </button>
    <button type="button" class="btn-ico" *ngIf="user != null" (click)="linkMe('notifications')"
      matTooltip="Notificaciones" matTooltipClass="tooltip">
      <mat-icon [matBadge]="unreadNotifications" matBadgeColor="warn" *ngIf="unreadNotifications != 0">notifications
      </mat-icon>
      <mat-icon *ngIf="unreadNotifications == 0">notifications</mat-icon>
    </button>
    <button type="button" class="btn-ico" *ngIf="user != null" (click)="onSignOut()" matTooltip="Salir"
      matTooltipClass="tooltip">
      <mat-icon>power_settings_new</mat-icon>
    </button>
    <button type="button" class="btn-ico" [matMenuTriggerFor]="menu" *ngIf="user != null">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="resetPassword(user.email)">
        <mat-icon>lock</mat-icon>
        <span>Cambiar contraseña</span>
      </button>
      <button mat-menu-item (click)="linkMe('userList')" *ngIf="userActivities.includes('moderator')">
        <mat-icon>groups</mat-icon>
        <span>Usuarios</span>
      </button>
    </mat-menu>
  </div>

  <div class="set-6 navigation" *ngIf="isMobile">
    <button type="button" (click)="popSearchDialog()">
      <mat-icon color="accent">search</mat-icon>
    </button>

    <button type="button" (click)="displayMobileMenu()">
      <mat-icon color="accent">menu</mat-icon>
    </button>
  </div>
</mat-toolbar>