:host {
  //position: fixed;
  z-index: 99;
  width: 100%;

  mat-toolbar {
    height: 80px;
    padding: 0 40px;
    // background: rgba($color: #ffffff, $alpha: 0.9);
    background: rgb(0, 3, 29);
    background: linear-gradient(360deg, rgba(0, 3, 29, 0) 0%, rgba(0, 3, 29, 0.75) 100%);
    box-shadow: 0;
    // background: transparent;
    position: fixed;
    z-index: 300;
    top: 0;
    left: 0;
  }

  .logo {
    display: flex;
    align-items: center;

    * {
      margin: 0;
    }

    img {
      width: 100%;
      float: left;
      cursor: pointer;
    }

    input {
      padding: 10px;
      border: 1px solid rgba($color: #000000, $alpha: 0.1);
      width: 100%;
      border-radius: 4px;
    }
  }

  .bar-search:disabled {
    opacity: .6;
    cursor: not-allowed;
  }

  .navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    * {
      margin: 0;
    }

    .sep {
      font-size: 20pt;
      padding: 0 20px;
      color: #71f5ad;
    }

    button {
      margin-left: 20px;
      letter-spacing: 0.4px;
      font-weight: 700;
      font-size: 17px;
      color: #71f5ad;
    }

    button:nth-child(1):hover,
    button:nth-child(2):hover {
      text-decoration: underline solid #71f5ad 4px;
    }

    button:first-child {
      margin-left: 0;
    }

    mat-icon {
      font-size: 14pt;
    }

    .btn-ico {
      margin-left: 10px;

      * {
        display: block;
      }
    }

    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 100%;
      overflow: hidden;
      background: #f1f1f1;
      margin-left: 0 !important;
      border: 1px solid rgba($color: #000000, $alpha: 0.1);

      span {
        font-size: 9pt;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        background: #f1f1f1;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        float: left;
      }
    }
  }

  .btn-menu {
    mat-icon {
      color: #71f5ad;
    }
  }

  .btn-permissios {
    width: 204px;
    height: 35px;
    color: #fff;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
  }

  .btn-permissios:hover {
    text-decoration-line: underline;
  }
}