<ly-toolbar *ngIf="isDataAvailable">
  <div class="set-6 logo">
    <button type="button" (click)="linkMe('home')">
      <img src="../../../assets/images/PANDOlogo.png" alt="PANDO">
    </button>
  </div>

  <div class="set-6 navigation">
    <button type="button">
      <span>Ciudadanos</span>
    </button>

    <button type="button">
      <span>Candidatx Ideal</span>
    </button>

    <button type="button">
      <span>Comité Ciudadano</span>
    </button>

    <span class="sep">|</span>

    <!-- user not available -->
    <button type="button" (click)="linkMe('join')" *ngIf="user == null">
      <mat-icon>app_registration</mat-icon>
    </button>
    <button type="button" (click)="linkMe('login')" *ngIf="user == null">
      <mat-icon>account_box</mat-icon>
    </button>

    <!-- user available -->
    <button type="button" class="avatar" (click)="linkMe('profile')" *ngIf="user != null">
      <img src="{{user.avatarImage}}" alt="{{user.firstname}}" *ngIf="user.avatarImage != ''">
      <span *ngIf="user.avatarImage == ''">
        {{ user.firstname | firstword | firstletter }}{{ user.lastname | firstword | firstletter }}
      </span>
    </button>
    <button type="button" class="btn-ico" *ngIf="user != null" (click)="linkMe('notifications')">
      <mat-icon [matBadge]="notifications" matBadgeColor="warn" *ngIf="notifications != 0">notifications</mat-icon>
      <mat-icon *ngIf="notifications == 0">notifications</mat-icon>
    </button>
    <button type="button" class="btn-ico" *ngIf="user != null" (click)="onSignOut()">
      <mat-icon>power_settings_new</mat-icon>
    </button>

    <button type="button" class="btn-ico" *ngIf="user != null && userActivities.includes('moderator')"
      [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="linkMe('userList')">
        <mat-icon>groups</mat-icon>
        <span>Usuarios</span>
      </button>
    </mat-menu>
  </div>
</ly-toolbar>