<mat-card class="card-container">
  <div class="set-12">
    <div class="set-6">
      <div class="set-12">
        <div class="image-box gray-icon-color">
          <mat-icon>group</mat-icon>
        </div>
        <div class="set-12 texts-box">
          <p class="name">
            <small>Usuarios</small>
          </p>
          <p class="amount">
            <small>{{ users }}</small>
          </p>
        </div>
      </div>
    </div>

    <div class="set-6">
      <div class="set-12">
        <div class="set-12">
          <div class="image-box red-icon-color">
            <mat-icon>front_hand</mat-icon>
          </div>
        </div>
        <div class="set-12 texts-box">
          <p class="name">
            <small>Interacciones</small>
          </p>
          <p class="amount">
            <small>{{ interactions }}</small>
          </p>
        </div>
      </div>
    </div>
  </div>
</mat-card>
