<mat-card class="card-container">
  <div class="set-12">
    <div class="set-5">
      <div class="set-12">
        <div class="set-4 image-box gray-icon-color" style="margin-left: 40%">
          <img src="../../../assets/images/avatar.svg" alt="" />
        </div>
        <div class="set-12 texts-box">
          <p class="name">Usuarios</p>
          <p class="amount">{{  130 }}</p>
        </div>
      </div>
    </div>
    <div class="set-6">
      <div class="set-12">
        <div class="set-12 image-box red-icon-color">
          <img src="../../../assets/images/hand.svg" alt="" width="42" />
        </div>
        <div
          class="set-12 texts-box"
          style="margin-left: 15px; text-align: center"
        >
          <p class="name">Interacciones</p>
          <p class="amount">{{ 100 }}</p>
        </div>
      </div>
    </div>
  </div>
</mat-card>
