.card-container {
  width: 100%;
  padding: 50px 10px;
  margin: 0px auto;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  .image-box {
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 100%;
    img {
      width: 22.5px;
      height: 22.5px;
    }
  }

  .texts-box {
    text-align: start;
    margin-left: 10px;
    .name {
      font-size: 16px;
      font-weight: 400;
      letter-spacing: 0.5px;
    }
    .amount {
      font-size: 25px;
      font-weight: 500;
    }
  }
}

.gray-icon-color {
  background-color: #E1F2EC;
}

.red-icon-color {
  background-color: #FCDBC3;
}
