:host {
  padding: 40px;
  margin-top: 80px;
  float: left;
  width: 100%;
  height: auto;

  .header {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    > * {
      margin: 0;
    }

    .actions-rigth {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
    .button-group {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 110px;
      margin: 0 10pt;

      p {
        font-size: 11pt;
        text-align: center;
        margin-top: 10pt;
        color: #636363;
      }

      .test {
        background-color: #9747ff;
      }

      .warn {
        background-color: #e98282;
      }

      mat-icon {
        color: #fff;
      }
    }
  }

  .body {
    display: grid;
    column-gap: 25pt;
    row-gap: 25pt;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 3fr;
    margin-top: 15pt;

    .images-card {
      grid-area: 1 / 1 / 2 / 5;
      width: 100%;

      display: flex;
      justify-content: center;
      align-items: flex-end;
      flex-direction: column;

      avatars-row {
        margin: 0;
      }

      carousel-component {
        width: 100%;
      }

      .render-images {
        width: 1800px;
        height: 100%;
        display: flex;
        align-items: center;

        > * {
          margin: 0;
        }

        .item {
          margin: 5pt;
          width: 350px;
          height: 300px;
          object-fit: cover;
          border-radius: 5px;
        }

        label.item {
          display: flex;
          min-width: 150px;
          align-items: center;
          justify-content: center;
        }
      }
    }

    .about-card {
      grid-area: 1 / 5 / 2 / 13;
      width: 100%;

      textarea {
        height: 80px;
      }
    }

    .table-card {
      grid-area: 2 / 1 / 3 / 5;
      width: 100%;

      .mat-column-title {
        text-align: left;
        padding-left: 0;
        font-weight: bold;
      }

      .mat-column-title {
        text-align: left;
        padding-left: 0;
        font-weight: bold;
      }

      .list-title {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        small {
          margin: 0;
          margin-right: 7pt;
        }

        mat-icon {
          margin: 0;
          color: #20c588;
        }
      }
    }

    .card-chart {
      width: 100%;

      // display: flex;
      // justify-content: center;

      &.donut {
        grid-area: 2 / 5 / 2 / 9;
      }
      &.bars {
        grid-column: 4 / 12;
      }
      &.circle {
        grid-area: 2 / 9 / 2 / 13;
      }

      .title {
        font-size: 12pt;
        font-weight: 600;
        text-transform: uppercase;
      }

      // .content {
        // display: grid;
        // grid-template-columns: 10fr 3fr;

        // display: flex;
        // justify-content: center;
        // width: 100%;

        // .label {
        //   font-size: 11pt;
        //   max-width: 100px;
        // }
      // }
    }
  }
}
