:host {
  // min-height: 170px;
  padding: 20px;
  float: left;
  width: 70%;
  margin: 0 15%;

  .dialog-head {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    * {
      margin: 0;
    }
  }

  ::ng-deep .mat-step-header:hover,
  ::ng-deep .mat-step-header {
    background: transparent !important;
  }

  .mat-stepper-horizontal,
  .mat-stepper-vertical {
    background: transparent !important;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
  }

  ::ng-deep .angular-editor-toolbar {
    background: transparent !important;
    border: 0 !important;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1) !important;
    padding: 10px !important;
  }

  // ::ng-deep .angular-editor-textarea {
  //   resize: none !important;
  // }

  ::ng-deep .angular-editor .angular-editor-wrapper .angular-editor-textarea {
    background: transparent !important;
    margin: 0 !important;
    border: 0 !important;
    outline: none !important;
    padding: 10px !important;
  }

  ::ng-deep .angular-editor .angular-editor-wrapper .angular-editor-placeholder {
    padding: 10px !important;
  }

  .editor-form {
    margin-bottom: 20px;
    background: #ffffff;
    border-radius: 5px;
  }

  .step-content {
    margin-top: 5px;

    form {
      .inpts {
        display: flex;
        flex: 1;
      }
    }

    textarea {
      min-height: 100px;
      max-height: 100px;
    }

    .set-9 {
      padding-right: 20px;
    }

    .upload-img {
      display: flex;
      width: 100%;
      min-height: 100px;
      height: calc(100% - 20px);
      align-items: center;
      justify-content: center;
      border: 1px dashed rgba($color: #000000, $alpha: 0.1);
      border-radius: 5px;
    }

    .tools {
      margin-bottom: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      button {
        margin: 0;
        display: flex;
        align-items: center;

        * {
          margin: 0;
        }

        mat-icon {
          margin-left: 5px;
          font-size: 15pt;
          color: #306EFF;
        }
      }
    }

    .ctrls {
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: flex-end;

      * {
        margin: 0;
      }

      mat-spinner {
        margin-left: 20px;
      }

      button {
        margin-left: 10px;
      }

      button:first-child {
        margin-left: 0;
      }
    }
  }

  .file-hldr {
    font-weight: bold;
    font-style: italic;
  }

  .topic {
    margin: 10px 0;

    h3 {
      margin-bottom: 10px;
    }

    .ctrls {
      margin-top: 20px;
    }
  }

  .loading {
    mat-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}