:host {
  width: 100%;
  height: auto;
  float: left;
  padding: 0 20px;

  .topic-card {
    mat-card {
      margin-bottom: 10px;
    }

    p {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .icons {
      display: flex;
      justify-content: space-between;
     

      button {
        mat-icon {
          font-size: 13pt;
        }
      }
    }
    
  }
}