<div class="topic-card mt-1">
    <div class="topic-header">
        <div class="topic-title ">Tema 1</div>
        <div class="topic-viewmore">Ver más</div>
    </div>
    <div class="topic-body mt-1">Ultima actualización 01/12/2022</div>
    <div class="topic-footer mt-2">
        <mat-icon class="topic-icons">favorite</mat-icon>
        <mat-icon class="topic-icons">check_circle</mat-icon>
        <mat-icon class="topic-icons">share</mat-icon>
        <mat-icon class="topic-icons">report</mat-icon>
        <mat-icon class="topic-icons">forum</mat-icon></div>
</div>