<div class="set-12 dialog-head">
  <h3>Agregar Comentario</h3>
  <!-- <div class="set-9">
    <h3>Agregar Comentario</h3>
  </div>
  <div class="set-3 txt-right">
    <button type="button" mat-icon-button color="primary" (click)="killDialog()">
      <mat-icon>cancel</mat-icon>
    </button>
  </div> -->
</div>

<div class="set-12 dialog-body">
  <form [formGroup]="addCommentFormGroup" (submit)="createComment(addCommentFormGroup)">
    <div class="form-body">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Escribe un comentario</mat-label>
        <textarea matInput placeholder="..." formControlName="description"></textarea>
      </mat-form-field>
    </div>

    <div class="set-12 ctrls">
      <button type="submit" mat-raised-button color="warn" (click)="killDialog()">
        <small>Cancelar</small>
      </button>
      <button type="submit" mat-raised-button color="primary" [disabled]="addCommentFormGroup.invalid">
        <small>Enviar comentario</small>
      </button>
    </div>
  </form>
</div>