<div class="set-3">&nbsp;</div>

<div class="set-6">
  <p class="title"><strong>Un proyecto de país basado en la Agenda 2030</strong></p>
  <p>En Mexicolectivo estamos comprometidos con la Agenda 2030. Con el fin de mejorar la vida y el bienestar de todas
    las personas, reduciendo las desigualdades y contribuyendo a más justicia social y ambiental, la Asamblea General
    de las Naciones Unidas aprobó en 2015 la Agenda 2030 sobre el Desarrollo Sostenible. Esta hoja de ruta cuenta con
    17 objetivos generales a su vez están desagregados en objetivos específicos por los países se comprometieron a
    tomar en cuenta en la elaboración de sus proyectos nacionales y locales de gobierno. Son una guía para el diseño,
    la implementación y la evaluación de las políticas públicas, de las acciones legislativas y de la impartición de
    justicia con base en lo siguiente:</p>
  <ul>
    <li>Fin de la pobreza</li>
    <li>Hambre cero</li>
    <li>Salud y bienestar</li>
    <li>Educación de calidad</li>
    <li>Igualdad de género</li>
    <li>Agua limpia y saneamiento </li>
    <li>Energía asequible y no contaminante</li>
    <li>Trabajo decente y crecimiento económico</li>
    <li>Industria, innovación e infraestructura</li>
    <li>Reducción de las desigualdades</li>
    <li>Ciudades y comunidades sostenibles</li>
    <li>Producción y consumo responsable</li>
    <li>Acción por el clima</li>
    <li>Vida submarina</li>
    <li>Vida de ecosistemas terrestres</li>
    <li>Paz, justicia e instituciones sólidas</li>
    <li>Alianzas para lograr los objetivos</li>
  </ul>
  <p>Desde 2020 entramos en la “Década para el desarrollo”, es un llamado a redoblar esfuerzos para poder alcanzar las
    metas e indicadores fijados por las Naciones Unidas en 2030 para un mejor mundo. Contamos con pocos años ya para
    lograrlo y la situación no está muy prometedora en varios rubros fundamentales. Las desigualdades siguen
    profundizándose con el aumento de la pobreza multidimensional. Los efectos de la crisis climática son cada vez más
    frecuentes, cada vez más intensos, con costos mucho más elevados para las personas que menos tienen.</p>
  <p>Por ello, tenemos la responsabilidad desde cualquier trinchera social, económica o política de intensificar el
    alineamiento de nuestras acciones colectivas, individuales, públicas o privadas a esos objetivos. La construcción
    de un nuevo proyecto de país desde la inteligencia colectiva debe basar sus fundamentos y andamiajes sobre la
    Agenda 2030. </p>
  <p>La iniciativa Mexicolectivo está comprometida también con esos objetivos y promueve que las propuestas e ideas
    ciudadanas registradas en la plataforma estén congruentes con ellos. En este sentido, la cooperación internacional
    para el desarrollo, la vinculación con organismos internacionales y el intercambio de mejores prácticas desde un
    enfoque de políticas comparadas pueden potenciar esta visión. </p>
  <p>Para conocer más y seguir las noticias y actualizaciones de la Agenda 2030: <a
      href="https://www.un.org/sustainabledevelopment/es/" target="_blank">visita aquí</a></p>
</div>