<div class="main-box">
  <div *ngIf="categoryLength > 10">
    <button mat-button [matMenuTriggerFor]="menu" class="show-more-button">Ver más temas</button>
    <mat-menu #menu="matMenu" xPosition="before">
      <button mat-menu-item *ngFor="let item of categories" (click)="redirect(item.id)">
        {{ item.title }}
      </button>
    </mat-menu>
  </div>
  <div class="main shadow">
    <div class="set-12 txt-center message" *ngIf="data.length === 0">
      <p>No cuenta con problemas</p>
    </div>
    <ng-container *ngIf="data.length !== 0">
      <div [ngClass]="'set-' + item.set" [style.margin]="item.margin" *ngFor="let item of slices">
        <div class="align" *ngFor="let item of item.data">
          <circle-custom [data]="item" [size]="item.size" [position]="item.position" [categoryLength]="categoryLength"
            (click)="redirect(item.id)"></circle-custom>
        </div>
      </div>
    </ng-container>
  </div>
</div>