<div class="set-12" *ngIf="isMobile">
  <div class="set-12 imgdisplay">
    <div class="set-12 imgoverlay"></div>
    <div class="set-12 displayform">
      <button type="button" class="facebooksignin">
        <img src="../../../assets/images/facebook-white.png" alt="" />
        <span>Seguir con Facebook</span>
      </button>

      <button type="button" class="googlesignin">
        <img src="../../../assets/images/google-icon.png" alt="" />
        <span>Seguir con Google</span>
      </button>

      <button type="button" class="applesignin">
        <img src="../../../assets/images/apple-icon-white.png" alt="" />
        <span>Seguir con Apple</span>
      </button>

      <button type="button" class="emailsignin" (click)="utilitySrvc.linkMe('/hub/signin-mobile')">
        <span>Entra con tu email</span>
      </button>
    </div>
  </div>
</div>

<!-- desktop -->
<div class="form-hldr" *ngIf="!isMobile">
  <h1>¡Hola!</h1>
  <h4>Ingresa a tu cuenta.</h4>

  <form [formGroup]="signInFormGroup" (submit)="onSignIn(signInFormGroup)">
    <mat-form-field appearance="outline">
      <mat-label>Correo electrónico</mat-label>
      <input matInput type="text" formControlName="email" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Contraseña</mat-label>
      <input matInput type="password" formControlName="password" [type]="hide ? 'password' : 'text'" />
      <button type="button" matSuffix (click)="hide = !hide">
        <mat-icon color="primary">
          {{ hide ? "visibility_off" : "visibility" }}
        </mat-icon>
      </button>
    </mat-form-field>

    <div class="set-12 form-ctrls">
      <div class="set-6">
        <small>¿No tienes cuenta?
          <a href="#" routerLink="/hub/registro"> Registro </a></small>
        <!-- <small>
          <a href="#" routerLink="/hub/olvide-contrasena">
            ¿Olvidaste tu contraseña?
          </a></small> -->
      </div>
      <br />
      <div class="set-6 txt-right">
        <button type="submit" mat-raised-button color="primary" [disabled]="signInFormGroup.invalid || submitted">
          <small>Ingresar</small>
        </button>
      </div>
    </div>
  </form>
</div>

<!-- <div class="cover"></div> -->