<div class="form-hldr">
  <h1>¡Hola!</h1>
  <h4>Ingresa a tu cuenta.</h4>

  <form [formGroup]="signInFormGroup" (submit)="onSignIn(signInFormGroup)">
    <ly-field appearance="outlined" [lyWidth]="1">
      <input lyNativeControl type="text" formControlName="email">
      <ly-label>Correo electrónico *</ly-label>
    </ly-field>

    <ly-field appearance="outlined" [lyWidth]="1">
      <input lyNativeControl type="password" formControlName="password">
      <ly-label>Contraseña *</ly-label>
    </ly-field>

    <div class="set-12 form-ctrls">
      <div class="set-6">
        <small>¿No tienes cuenta? <a href="#" routerLink="/hub/registro">Registro</a></small>
      </div>
      <div class="set-6 txt-right">
        <button type="submit" ly-button raised bg="primary"
          [disabled]="signInFormGroup.invalid || submitted">Ingresar</button>
      </div>
    </div>
  </form>
</div>

<div class="cover"></div>