.main {
  padding: 40px;
  margin-top: 80px;
  float: left;
  width: 100%;
  height: auto;

  .content {
    width: 100%;
    margin-top: 30pt;

    display: grid;
    gap: 20pt;
    grid-template-columns: 6fr 3fr;

    .left {
      .solutions-container {
        margin-top: 20pt;
        padding: 20pt;

        .header {
          display: flex;

          .title {
            margin: 0;
            margin-right: 10pt;
            font-size: 14pt;
            font-weight: 600;
          }

          mat-icon {
            margin: 0;
            color: #20c588;
          }
        }

        .mat-column-title {
          text-align: left;
          font-weight: 500;
          padding-left: 0;
          font-size: 12pt;
        }

        .mat-column-rate {
          // text-align: left;
          font-weight: 500;
          padding-left: 0;
          font-size: 12pt;
        }
      }
    }

    .right {
      grid-column-start: 2;
    }
  }
}
