:host {
  h1 {
    margin-bottom: 10px;
  }

  h3 {
    margin-bottom: 5px;
  }

  form {
    margin-top: 20px;
  }

  .set-6:nth-child(odd) {
    padding-right: 10px;
  }

  .set-6:nth-child(even) {
    padding-left: 10px;
  }

  ::ng-deep .mat-step-header:hover,
  ::ng-deep .mat-step-header {
    background: transparent !important;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
  }

  .ctrls {
    button {
      margin-left: 10px;
    }
  }
}