:host {
  min-height: 200px;

  .dlghd {
    margin-bottom: 30px;
  }

  .ctrls {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    * {
      margin: 0;
    }

    button {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      mat-icon {
        margin-right: 10px;
        font-size: 14pt;
      }
    }

    mat-spinner {
      margin-left: 20px;
    }
  }

  .loading {
    mat-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}