<div class="set-12 loading" *ngIf="!isDataAvailable">
  <mat-spinner></mat-spinner>
</div>

<div class="set-12 hldr" *ngIf="isDataAvailable">
  <div class="set-12">
    <div class="side-menu" *ngIf="!isMobile">
      <mat-card>
        <div class="set-12 filters">
          <form [formGroup]="searchTeamsFG" (submit)="filterPosts(searchTeamsFG)">
            <div class="field">
              <mat-form-field appearance="outline">
                <mat-label>Buscar</mat-label>
                <input type="text" matInput formControlName="filter">
                <button type="submit" matSuffix (click)="filterPosts(searchTeamsFG)">
                  <mat-icon>search</mat-icon>
                </button>
              </mat-form-field>
            </div>

            <div class="field">
              <mat-form-field appearance="outline">
                <mat-label>Cobertura</mat-label>
                <mat-select formControlName="coverage">
                  <mat-option value="none"><small>Sin Cobertura</small></mat-option>
                  <mat-option *ngFor="let state of states" [value]="state._id">
                    <small>{{state.name}}</small>
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="set-12 ctrls">
              <button type="submit" mat-raised-button color="warn">
                <small>Buscar</small>
              </button>
              <mat-spinner diameter="30" *ngIf="isSearching"></mat-spinner>
            </div>
          </form>
        </div>

        <div class="set-12">
          <div class="set-6 btnhldr">
            <button type="button" mat-raised-button color="primary" class="wicon" (click)="popComplaintsDialog()">
              <!-- <mat-icon>priority_high</mat-icon> -->
              <small>Denunciar</small>
            </button>
          </div>

          <div class="set-6 btnhldr">
            <button type="button" mat-raised-button color="primary" class="wicon" (click)="popTestimonialsDialog()">
              <!-- <mat-icon>edit_note</mat-icon> -->
              <small>Mi Testimonio</small>
            </button>
          </div>
        </div>
      </mat-card>
    </div>

    <div class="crdlst">
      <div class="set-12 tpctrls" *ngIf="routerData">
        <button type="button" mat-mini-fab color="primary" (click)="location.back()">
          <mat-icon>arrow_back</mat-icon>
        </button>
        <span>Regresar</span>
      </div>

      <div class="set-12 noposts" *ngIf="posts.length == 0">
        <h4>No se encontraron datos para tu petición</h4>
      </div>

      <div class="set-12" *ngIf="posts.length != 0">
        <mat-card *ngFor="let post of posts">
          <!-- testimony -->
          <div class="set-12" *ngIf="post['relation'] == 'testimony'">
            <div class="set-12 crdh blueb">
              <div class="set-10">
                <button type="button" class="avatar">
                  <span *ngIf="post['card']['createdBy'] == null">A</span>
                  <span *ngIf="post['card']['createdBy'] != null && post['card']['isAnonymous']">A</span>

                  <span
                    *ngIf="post['card']['createdBy'] != null && post['card']['createdBy']['avatarImage'] == null && !post['card']['isAnonymous']">
                    {{ post['card']['createdBy']['firstname'] | firstword | firstletter | titlecase }}{{
                    post['card']['createdBy']['lastname'] | firstword | firstletter | titlecase }}
                  </span>

                  <img src="{{ post['card']['createdBy']['avatarImage'] }}" alt=""
                    *ngIf="post['card']['createdBy'] != null && post['card']['createdBy']['avatarImage'] != null && !post['card']['isAnonymous']" />
                </button>

                <div>
                  <p>
                    <small *ngIf="post['card']['createdBy'] != null && !post['card']['isAnonymous']">
                      {{ post['card']["createdBy"]["firstname"] | titlecase }} {{ post['card']["createdBy"]["lastname"]
                      |
                      titlecase }}
                    </small>
                    <small *ngIf="post['card']['isAnonymous']">Anónimo</small>
                  </p>
                  <p class="dates">
                    <small>
                      {{ post['card']["createdAt"] | date : "mediumDate" }} - {{ post['card']["createdAt"] | date :
                      "mediumTime" }}
                    </small>
                  </p>
                </div>
              </div>

              <div class="set-2 ctrls">
                <button type="button" [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="openSinglePostDialog(post)">
                    <mat-icon>visibility</mat-icon>
                    <small>Ver más</small>
                  </button>
                </mat-menu>
              </div>
            </div>

            <div class="set-12 crddsc blueb">
              <!-- <div class="set-12" [innerHTML]="utilityService.truncateHTML(post['card']['description'])"></div> -->
              <div class="set-12">{{post['card']['name'] || 'Sin título'}}</div>
            </div>

            <div class="set-12 crdvp">
              <img [src]="post['card']['images'][0]" alt="" class="full"
                *ngIf="post['card']['images'].length != 0 && post['card']['hasVideo'] == undefined" />
              <img src="../../assets/images/mexicolectivo-small-blue.png" alt=""
                *ngIf="post['card']['images'].length == 0 && post['card']['hasVideo'] == undefined" />
              <video controls [src]="post['card']['images'][0]"
                *ngIf="post['card']['images'].length != 0 && post['card']['hasVideo']" class="full"></video>
            </div>

            <div class="set-12 crdft">
              <div class="set-6 types">
                <mat-icon>label</mat-icon>
                <small>Testimonio</small>
              </div>

              <div class="set-6 ctrls">
                <button type="button" matTooltip="Comentar" matTooltipClass="tooltip"
                  (click)="openSinglePostDialog(post)">
                  <mat-icon>forum</mat-icon>
                </button>
                <button type="button" matTooltip="Compartir" matTooltipClass="tooltip" (click)="sharePost(post)">
                  <mat-icon>share</mat-icon>
                </button>

                <button type="button" matTooltip="Favorito" matTooltipClass="tooltip"
                  (click)="handleTestimonyFavorite(post)" *ngIf="user['status'] == undefined">
                  <mat-icon [color]="post['isFavorite'] ? 'warn' : 'primary'">favorite</mat-icon>
                </button>
                <button type="button" matTooltip="Favorito" matTooltipClass="tooltip" (click)="popUseToolsDialog()"
                  *ngIf="user['status'] != undefined">
                  <mat-icon>favorite</mat-icon>
                </button>

                <button type="button" matTooltip="Votar" matTooltipClass="tooltip" (click)="openVoteDialog(post)"
                  *ngIf="user['status'] == undefined">
                  <mat-icon [color]="post['voted'] ? 'warn' : 'primary'">star</mat-icon>
                </button>
                <button type="button" matTooltip="Votar" matTooltipClass="tooltip" (click)="popUseToolsDialog()"
                  *ngIf="user['status'] != undefined">
                  <mat-icon>star</mat-icon>
                </button>

                <button type="button" matTooltip="Abrir" matTooltipClass="tooltip" (click)="linkParent(post)"
                  [disabled]="post['card']['relation'] == null">
                  <mat-icon>launch</mat-icon>
                </button>
              </div>
            </div>
          </div>

          <!-- complaint -->
          <div class="set-12" *ngIf="post['relation'] == 'complaint'">
            <div class="set-12 crdh greenb">
              <div class="set-10">
                <button type="button" class="avatar">
                  <span *ngIf="post['card']['createdBy'] == null">A</span>
                  <span *ngIf="post['card']['createdBy'] != null && post['card']['isAnonymous']">A</span>

                  <span
                    *ngIf="post['card']['createdBy'] != null && post['card']['createdBy']['avatarImage'] == null && !post['card']['isAnonymous']">
                    {{ post['card']['createdBy']['firstname'] | firstword | firstletter | titlecase }}{{
                    post['card']['createdBy']['lastname'] | firstword | firstletter | titlecase }}
                  </span>

                  <img src="{{ post['card']['createdBy']['avatarImage'] }}" alt=""
                    *ngIf="post['card']['createdBy'] != null && post['card']['createdBy']['avatarImage'] != null && !post['card']['isAnonymous']" />
                </button>

                <div>
                  <p>
                    <small *ngIf="post['card']['createdBy'] != null && !post['card']['isAnonymous']">
                      {{ post['card']["createdBy"]["firstname"] | titlecase }} {{ post['card']["createdBy"]["lastname"]
                      |
                      titlecase }}
                    </small>
                    <small *ngIf="post['card']['isAnonymous']">Anónimo</small>
                  </p>
                  <p class="dates">
                    <small>
                      {{ post['card']["createdAt"] | date : "mediumDate" }} - {{ post['card']["createdAt"] | date :
                      "mediumTime" }}
                    </small>
                  </p>
                </div>
              </div>

              <div class="set-2 ctrls">
                <button type="button" [matMenuTriggerFor]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="openSinglePostDialog(post)">
                    <mat-icon>visibility</mat-icon>
                    <small>Ver más</small>
                  </button>
                </mat-menu>
              </div>
            </div>

            <div class="set-12 crddsc greenb">
              <!-- <div class="set-12" [innerHTML]="utilityService.truncateHTML(post['card']['description'])"></div> -->
              <div class="set-12">{{post['card']['title'] || 'Sin título'}}</div>
            </div>

            <div class="set-12 crdvp">
              <img [src]="post['card']['images'][0]" alt="" class="full"
                *ngIf="post['card']['images'].length != 0 && post['card']['hasVideo'] == undefined" />
              <img src="../../assets/images/mexicolectivo-small-blue.png" alt=""
                *ngIf="post['card']['images'].length == 0 && post['card']['hasVideo'] == undefined" />
              <video controls [src]="post['card']['images'][0]"
                *ngIf="post['card']['images'].length != 0 && post['card']['hasVideo']" class="full"></video>
            </div>

            <div class="set-12 crdft">
              <div class="set-6 types">
                <mat-icon>label</mat-icon>
                <small>Denuncia</small>
              </div>

              <div class="set-6 ctrls">
                <button type="button" matTooltip="Comentar" matTooltipClass="tooltip"
                  (click)="openSinglePostDialog(post)">
                  <mat-icon>forum</mat-icon>
                </button>
                <button type="button" matTooltip="Compartir" matTooltipClass="tooltip" (click)="sharePost(post)">
                  <mat-icon>share</mat-icon>
                </button>

                <button type="button" matTooltip="Favorito" matTooltipClass="tooltip"
                  (click)="handleComplaintFavorite(post)" *ngIf="user['status'] == undefined">
                  <mat-icon [color]="post['isFavorite'] ? 'warn' : 'primary'">favorite</mat-icon>
                </button>
                <button type="button" matTooltip="Favorito" matTooltipClass="tooltip" (click)="popUseToolsDialog()"
                  *ngIf="user['status'] != undefined">
                  <mat-icon>favorite</mat-icon>
                </button>

                <button type="button" matTooltip="Votar" matTooltipClass="tooltip" (click)="openVoteDialog(post)"
                  *ngIf="user['status'] == undefined">
                  <mat-icon [color]="post['voted'] ? 'warn' : 'primary'">star</mat-icon>
                </button>
                <button type="button" matTooltip="Votar" matTooltipClass="tooltip" (click)="popUseToolsDialog()"
                  *ngIf="user['status'] != undefined">
                  <mat-icon>star</mat-icon>
                </button>

                <button type="button" matTooltip="Abrir" matTooltipClass="tooltip" (click)="linkParent(post)"
                  [disabled]="post['card']['relation'] == null">
                  <mat-icon>launch</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
    </div>
  </div>

  <div class="set-12 ldmr" *ngIf="posts.length != 0">
    <button type="button" mat-raised-button color="warn" (click)="loadMorePosts()" [disabled]="submitted">
      <mat-icon>add_circle</mat-icon>
      <small>Cargar más</small>
    </button>
  </div>
</div>

<div class="set-12" *ngIf="isDataAvailable">
  <div class="posts-floating-menu" [user]="user" *ngIf="user != null"></div>
  <div class="app-footer"></div>
</div>