<div class="set-12 loading" *ngIf="!isDataAvailable">
  <mat-spinner></mat-spinner>
</div>

<div class="set-12" *ngIf="isDataAvailable && isMobile">
  <mat-tab-group [disableRipple]="true" [@.disabled]="true">
    <mat-tab label="Temas">
      <!-- <search-input-mobile></search-input-mobile> -->
<card-topics-mobile></card-topics-mobile>
    </mat-tab>
    <!-- <mat-tab label="Mi perfil">
      <spider-chart-mobile></spider-chart-mobile>
      <circle-chart-mobile></circle-chart-mobile>
      <card-solutions-mobile></card-solutions-mobile>
      <line-chart-mobile></line-chart-mobile>
    </mat-tab> -->
    <!-- <mat-tab label="Comunidad">
      <search-input-mobile></search-input-mobile>
      <community-mobile></community-mobile>
    </mat-tab>
    <mat-tab  label="Metas">
      <search-input-mobile></search-input-mobile>
      <h3>Metas Logradas</h3>
      <h3 >Participa, invita y denuncia</h3>
      <card-goals-mobile></card-goals-mobile>
    </mat-tab> -->
  </mat-tab-group>
</div>