:host {
    .topic-single-mobile {
        mat-card-content {
            h3{
                margin-bottom: 10px;
            }

            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
        mat-card-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-top: 10px;
            margin-bottom: 5px;
        }

    }


}