<div class="set-12 loading" *ngIf="!isDataAvailable">
    <mat-spinner></mat-spinner>
</div>

<div class="set-12 card-topic"  *ngIf="isDataAvailable && isMobile">
    <div class="set-12 dialog-head ">
        <div class="set-10">
            <h3>Temas</h3>
        </div>
        <div class="set-2 txt-right">
            <button type="button" mat-mini-fab color="primary" mat-dialog-close>
                <mat-icon>cancel</mat-icon>
            </button>
        </div>
    </div>

    <div class="set-12 dialog-body">
        <span><strong>{{data.topicTitle}}</strong></span>
        <p [innerHTML]="data.topicDescription"></p>
        <div class="set-12 info">
            <button type="button" *ngIf="!userVoted" mat-raised-button color="accent" (click)="openModalVote()">
                <strong>Votar</strong>
            </button>
            <p  *ngIf="userVoted">Votos: {{ votes }}</p>
        </div>
        <div class="set-12 icons">
            <button type="button" mat-icon-button color="primary" matTooltip="Agregar a favoritos"
                matTooltipClass="tooltip" (click)="addFavorites()" *ngIf="!isFavorite">
                <mat-icon>favorite</mat-icon>
            </button>

            <button type="button" mat-icon-button color="accent" matTooltip="Agregar a favoritos"
                matTooltipClass="tooltip" (click)="removeFavorites()" *ngIf="isFavorite">
                <mat-icon>favorite</mat-icon>
            </button>
            <!-- <button type="button" mat-icon-button color="primary" disabled>
                <mat-icon>check_circle</mat-icon>
            </button> -->
            <button type="button" mat-icon-button color="primary" (click)="openBottomSheet()">
                <mat-icon>share</mat-icon>
            </button>
            <!-- <button type="button" mat-icon-button color="primary" (click)="openTestimoniesDialog()">
                <mat-icon>report</mat-icon>
            </button>
            <button type="button" mat-icon-button color="primary" disabled>
                <mat-icon>forum</mat-icon>
            </button> -->
        </div>

    </div>
</div>