:host {

  padding: 20px;
  float: left;
  width: 100%;


  .dialog-head {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    button {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin: 0;
    }
  }

    button:last-child {
      margin: 0;
    }
  }

  .dialog-body {
    margin-top: 30px;
    p{
      margin-top: 10px;
      text-align: justify;
    }
    .dialog-topic{
      padding: 15px;
      background: #00031d;
      color: white
    }
  }

  .info {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .icons {
    display: inline-flex;
    margin: 0px;
    justify-content: center;
    button{
      margin: 0px 5px;
    }
  }

