<div class="container">
  <div class="actions left">
    <button mat-mini-fab color="warn" aria-label="Back" (click)="onBack()">
      <mat-icon>chevron_left</mat-icon>
    </button>
  </div>
  <div class="content" #contentScroll>
    <img
      *ngFor="let image of images; let i = index"
      class="item"
      [class.active]="activeIndex == i"
      alt="img-list"
      [src]="image"
    />
  </div>
  <div class="actions right" [ngClass]="showNext ? 'show' : 'hide'">
    <button mat-mini-fab color="warn" aria-label="Next" (click)="onNext()">
      <mat-icon>chevron_right</mat-icon>
    </button>
  </div>
</div>
