:host {
  max-width: 420px;

  .sheet-head {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    margin-bottom: 20px;

    * {
      margin: 0;
    }

    img {
      width: 20%;
      margin-right: 20px;
    }

    .set-12 {
      line-height: initial;
    }
  }

  .networks {
    margin: 0 !important;

    .icon {
      margin: 0 5px !important;
    }

    .facebook-net {
      a {
        display: block;
        width: 30px;
        height: 30px;
        border-bottom: 100%;
        overflow: hidden;
      }
    }
  }

  .sheet-media {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.1);
    margin-bottom: 20px !important;
  }
}