<div class="container"  >

  <breadcrumbs-component>
    <li class="breadcrumb-item">Perfil</li>
      
    <li>Documentos</li>
      
  </breadcrumbs-component>

  <div class="set-12" style="padding-bottom: 100px">
    <div class="set-4 col-rgt">
      <mat-card class="doc-description">
        <div class="imghldr">
          <!-- <mat-icon>panorama</mat-icon> -->
          <img src="../../../assets/images/Rectangle 531.png" alt="" style="width: 100%;">
        </div>
        <div class="infohldr">
          <p class="card-title">MATRIZ CIUDADANA</p>
          <p class="card-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
          <span class="card-description link">Leer más</span>
        </div>
      </mat-card>
      <div class="horizontal-stats mt-2"></div>
      <div class="app-map-box mt-2"></div>
    </div>
    <div class="set-8">
      <div class="main-box">
        <div class="main shadow"></div>
      </div>
      <div class="mt-2">
        <div class="select">
          <select required>
            <option value="volvo">Municipio 1</option>
            <option value="saab">Municipio 2</option>
            <option value="mercedes">Municipio 3</option>
            <option value="audi">Municipio 4</option>
          </select>
        </div>
      </div>
      <div class="set-12 mt-2 col-rgt">
        <div class="set-3 col-rgt-1">
          <div class="vertical-stats"></div>
        </div>
        <div class="set-5 col-rgt-1">
          <div class="spider-chart chart"></div>
        </div>
        <div class="set-4">
          <div class="top10-list"></div>
        </div>
      </div>
    </div>
  </div>
</div>



