:host {
  width: 100vw;
  height: 100vh;
  padding: 120px 40px 40px 40px;

  .frmbdy {
    padding-bottom: 40px;
  }

  .set-7 {
    padding-right: 40px;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin-top: 0;
    margin-bottom: 15px;
  }

  mat-hint {
    color: #1e7e7f;
    font-style: italic;
    font-weight: bold;
  }

  ::ng-deep .mat-horizontal-stepper-header-container {
    display: none !important;
  }

  .mat-stepper-horizontal,
  .mat-stepper-vertical {
    background: transparent !important;
  }

  ::ng-deep .mat-horizontal-stepper-content {
    h3 {
      margin-bottom: 20px;
    }
  }

  .usr-auth {
    margin: 30px 0;
    text-align: center;

    .access {
      margin-top: 15px;

      button {
        margin: 0 5px;
      }
    }
  }

  .editor-form {
    margin-bottom: 20px;
    background: #ffffff;
    border-radius: 5px;
  }

  .topicdesc {
    margin-bottom: 20px;

    h3 {
      margin-bottom: 20px;
    }
  }

  .usrlfx {
    display: flex;
    align-items: center;

    ::ng-deep .mat-form-field-wrapper {
      padding: 0;
    }

    * {
      margin: 0;
    }
  }

  .ctrls,
  .ctrlsedt {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    * {
      margin: 0;
    }

    button {
      margin-left: 10px;
    }

    button:first-child {
      margin: 0;
    }

    mat-spinner {
      margin-left: 20px;
    }
  }

  .ctrls {
    margin-top: 20px;
  }

  .collabs {
    margin-top: 20px !important;

    .collabfield {
      margin-top: 20px !important;
    }
  }

  .upldbtn {
    width: 100%;
    height: 270px;
    border-radius: 5px;
    background: #f1f1f1;
    overflow: hidden;
    // display: inline-flex;
    // align-items: center;
    // justify-content: center;
    border: 1px dashed #1f2325;

    mat-icon {
      font-size: 70pt;
      color: rgba($color: #000000, $alpha: 0.7);
    }
  }

  .ctrltpc {
    .set-6:nth-child(odd) {
      padding-right: 10px;
    }

    .set-6:nth-child(even) {
      padding-left: 10px;
    }

    .set-12 {
      margin-top: 20px;
    }

    button {
      width: 100%;
    }
  }

  .sixcombo {
    .set-6:nth-child(odd) {
      padding-right: 10px;
    }

    .set-6:nth-child(even) {
      padding-left: 10px;
    }

    .ctrls {
      margin: 0;
      margin-bottom: 20px !important;
    }
  }

  .loading {
    mat-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  p.hint {
    margin-bottom: 20px;
    font-style: italic;
  }

  p.hint-sm {
    font-size: 80%;
    font-style: italic;
    margin-top: 10px;
    color: #1e7e7f;
    font-weight: bold;
    padding: 0 1em;
  }
}

:host(.fixmobile) {
  padding: 20px;

  .frmbdy {
    .set-7 {
      display: none;
    }

    .set-5 {
      width: 100%;
    }
  }

  .sixcombo {
    .set-6 {
      width: 100%;
      padding: 0;
    }
  }
}