<div class="set-12 page loading" *ngIf="!isDataAvailable">
  <mat-spinner color="accent"></mat-spinner>
</div>

<div class="set-12 page" *ngIf="isDataAvailable" [class.fixmobile]="isMobile">
  <div class="set-12 innerpage">
    <div class="set-12 sliderhldr">
      <div class="set-9 slider">
        <div class="set-12 slide" [class.active]="activeIndex == 0">
          <div class="set-12">
            <span class="txt70">somos</span> una plataforma para recoger e intercambiar <span class="txt70">ideas</span>
          </div>
        </div>

        <div class="set-12 slide" [class.active]="activeIndex == 1">
          <p>conoce nuestro <span class="txt70">Documento</span> Punto <span class="txt70">de Partida</span></p>
          <button type="button" mat-raised-button color="accent" (click)="popPDF()">click aquí</button>
        </div>

        <div class="set-12 slide" [class.active]="activeIndex == 2">
          <p>alineamos nuestra plataforma a la <span class="txt70">agenda 2030</span> de la
            <span class="txt70">ONU</span>
          </p>
          <button type="button" mat-raised-button color="accent" (click)="utilitySrvc.linkMe('/noticias')">leer
            más</button>
        </div>

        <div class="set-12 slide" [class.active]="activeIndex == 3">
          <p>somos una plataforma <span class="txt70">participativa</span>, <span class="txt70">colaborativa</span>
            que respeta los derechos de todes</p>
          <p class="txt15">
            Para ver la intervención de algunas de nuestras ponentes
          </p>
          <button type="button" mat-raised-button color="accent" (click)="popWomenPDF()">haz <strong>click
              aquí</strong></button>
        </div>
      </div>

      <div class="set-3">
        <button type="button" (click)="linkMe('/documentos-publicos/' + document._id)">
          <p>¡quiero participar!</p>
          <p>click aquí</p>
        </button>
      </div>
    </div>

    <div class="set-12 slidectrls">
      <button type="button" class="sldierbtn" (click)="moveSlide(0)" [class.active]="activeIndex == 0">&nbsp;</button>
      <button type="button" class="sldierbtn" (click)="moveSlide(1)" [class.active]="activeIndex == 1">&nbsp;</button>
      <button type="button" class="sldierbtn" (click)="moveSlide(2)" [class.active]="activeIndex == 2">&nbsp;</button>
      <button type="button" class="sldierbtn" (click)="moveSlide(3)" [class.active]="activeIndex == 3">&nbsp;</button>
    </div>

    <div class="tri">&nbsp;</div>
  </div>

  <div class="set-12 videohldr">
    <iframe width="854" height="480" src="https://www.youtube.com/embed/3abjA6X8agw" frameborder="0"
      allowfullscreen></iframe>
  </div>

  <div class="set-12 footer">
    <div class="app-footer"></div>
  </div>
</div>