:host {
  width: 100%;
  height: 100%;
  float: left;

  .datahldr {
    position: relative;
    z-index: 4;
  }

  .img-hldr {
    height: 265px;
    min-height: 265px;
    max-height: 265px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    .overlay {
      position: absolute;
      z-index: 4;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($color: #000000, $alpha: 0.4);
    }

    .description {
      position: relative;
      z-index: 7;
      color: white;
      padding: 20px;

      .txt {
        font-size: 11pt;
        text-align: justify;
      }

      * {
        margin: 0;
      }

      p.title {
        margin-bottom: 20px;
      }

      button {
        color: greenyellow;
        font-size: 9pt;
        margin-top: 20px;
        text-decoration: underline;
      }
    }

    .crumbs-menu {
      position: absolute;
      z-index: 7;
      top: 10px;
      right: 10px;

      mat-icon {
        color: #71F5AD;
      }
    }
  }

  .carddata {
    margin-top: -40px;
    position: relative;
    z-index: 9;

    mat-card {
      width: 90%;
      margin: 0 5%;
      text-align: center;
      zoom: 0.7;
    }

    .image-box {
      width: 45px;
      height: 45px;
      padding: 10px;
      border-radius: 100%;
    }

    .texts-box {
      text-align: start;
      margin-left: 10px;
      margin: 10px 0px;
      text-align: center;

      .name {
        font-size: 17px;
        font-weight: 600;
        letter-spacing: 0.3px;
      }

      .amount {
        font-size: 24px;
        font-weight: 600;
      }
    }

    .gray-icon-color {
      background-color: #E1F2EC;

      mat-icon {
        color: #20C588;
      }
    }

    .red-icon-color {
      background-color: #FCDBC3;

      mat-icon {
        color: #FF6D00;
      }
    }
  }

  .layoutshldr {
    margin-top: 30px;
  }

  .coverage-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    background: white;
    z-index: 201;
    transition: all .2s linear;
    padding: 20px 0;
    overflow: auto;

    .menuhead {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      .set-10 {
        padding-left: 20px;
      }

      .set-2 {
        text-align: right;
        padding-right: 10px;
      }
    }

    .ctrls {
      margin-top: 20px;
      padding: 0 20px;
      text-align: right;
    }
  }

  .menuopen {
    left: 0 !important;
  }

  ::ng-deep .mat-list-base .mat-list-item .mat-list-item-content-reverse,
  .mat-list-base .mat-list-option .mat-list-item-content-reverse {
    padding: 0 20px !important;
  }

  ::ng-deep .mat-list-base .mat-list-item,
  .mat-list-base .mat-list-option {
    height: auto !important;
    padding: 5px 0 !important;
  }
}