<div class="set-12 datahldr">
  <div class="set-12 img-hldr" [ngStyle]="{
    'background-image': document.images.length != 0 ? 
    'url(' + document.images[0] + ')' : 
    'url(' + 'assets/images/1200x-1.jpeg' + ')' 
  }">

    <div class="set-12 description">
      <p class="title">
        <strong>{{document.title}}</strong>
      </p>
      <div class="set-12 txt" *ngIf="document.description != null" [innerHtml]="(document.description.length > 100) ? 
        (document.description | slice: 0 : 100) + '...' : (document.description)"></div>
      <button type="button" (click)="openModalDescription()" *ngIf="document.description != null">Leer más</button>
    </div>

    <button type="button" class="crumbs-menu" mat-icon-button color="accent" [matMenuTriggerFor]="crumbsMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #crumbsMenu="matMenu">
      <button mat-menu-item>
        <mat-icon>location_on</mat-icon>
        <span>Mexicolectivo</span>
      </button>
    </mat-menu>

    <div class="overlay"></div>
  </div>

  <div class="set-12 carddata">
    <mat-card>
      <div class="set-6">
        <div class="image-box gray-icon-color">
          <mat-icon>group</mat-icon>
        </div>
        <div class="set-12 texts-box">
          <p class="name">
            <small>Usuarios</small>
          </p>
          <p class="amount">
            <small>{{document.stats?.users}}</small>
          </p>
        </div>
      </div>

      <div class="set-6">
        <div class="set-12">
          <div class="image-box red-icon-color">
            <mat-icon>front_hand</mat-icon>
          </div>
        </div>
        <div class="set-12 texts-box">
          <p class="name">
            <small>Interacciones</small>
          </p>
          <p class="amount">
            <small>{{document.stats?.interactions}}</small>
          </p>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="set-12 layoutshldr">
    <div class="public-document-mobile-category-bars" [document]="document" [document_id]="document._id"
      [layouts]="document.layouts"></div>
  </div>
</div>

<div class="set-12 chartdata">
  <div class="public-document-mobile-radar-chart" [document]="document"></div>
</div>

<div class="set-12 topten">
  <div class="public-document-mobile-top-ten" [coverage]="document?.coverage" [storedSolutions]="storedSolutions"
    [solutions]="topSolutions" [open]="open" (openMenu)="getCoverageMenuStatus($event)"></div>
</div>

<div class="set-12">
  <div class="app-footer"></div>
</div>

<!-- coverage menu -->
<div class="set-12 coverage-menu" [class.menuopen]="open">
  <div class="set-12 menuhead">
    <div class="set-10">
      Coberturas disponibles:
    </div>
    <div class="set-2">
      <button mat-icon-button color="primary" (click)="displayCoverageMenu()">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
  </div>

  <div class="set-12">
    <mat-selection-list #states [disableRipple]="true"
      (selectionChange)="onCoverageSelected(states.selectedOptions.selected)">
      <mat-list-option *ngFor="let state of document.coverage" color="warn" [value]="state._id">
        <small>{{state.name}}</small>
      </mat-list-option>
    </mat-selection-list>
  </div>

  <div class="set-12 ctrls">
    <button type="button" mat-raised-button color="warn" (click)="onFilterSolutions()">
      <small>Mostrar resultados</small>
    </button>
  </div>
</div>