<div>
  <div class="set-7 txt-right title">Usuarios destacados</div>
  <div class="set-5">
    <ul>
      <div
        *ngFor="let imageUser of visibleUsers; trackBy: trackByFn;let indexUser=index; "
      >
      <div class="set-2">
        <li >
          <img class="profileImage" [src]="imageUser.profileImage" />
        </li>
      </div>
      </div>
      <div class="set-1" *ngIf=" userQuantity >5">
        <li>
          <div>
            <div class="moreUsers">
              <img class="moreUsersImage" src="/assets/images/groupUser.png" />
            </div>
          </div>
        </li>
      </div>
    </ul>
  </div>
</div>
{{console}}
