<div>
  <ul>
    <li>
      <img
        src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg"
      />
    </li>
    <li>
      <img
        src="https://images.pexels.com/photos/2726111/pexels-photo-2726111.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      />
    </li>
    <li>
      <img
        src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      />
    </li>
    <li>
      <img
        src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg"
      />
    </li>
    <li>
      <img
        src="https://images.pexels.com/photos/2726111/pexels-photo-2726111.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      />
    </li>
    <li>
      <img
        src="https://images.pexels.com/photos/220453/pexels-photo-220453.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      />
    </li>
  </ul>
</div>
