:host {
  .fixdesk {
    width: 100%;
    float: left;
    padding: 40px 40px 90px 40px;
    margin-top: 80px;
  }

  .fixmobile {
    width: 100%;
    float: left;
    padding: 0px;
  }

  .lst {
    box-shadow: 0 3px 3px -3px grey;
  }

  .loading {
    mat-spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}