<div class="set-12 loading" *ngIf="!isDataAvailable">
  <mat-spinner diameter="50"></mat-spinner>
</div>

<!-- set document as cover -->
<div class="set-12" *ngIf="isDataAvailable && windowType == 'useAsCover'">
  <div class="set-12 dialog-head">
    <div class="set-12">
      <h3 class="txt-left">{{document.title}}</h3>
      <p class="bycopy">
        <i>
          <small>By: {{document.createdBy.firstname}} {{document.createdBy.lastname}}</small>
        </i>
      </p>
    </div>
  </div>

  <div class="set-12 dialog-body">
    <div class="set-12 alert-txt">
      <h1>¡Alerta!</h1>
      <mat-icon>warning</mat-icon>
    </div>
    <div class="set-12">
      <p>Se usará el documento como portada</p>
      <p>¿Deseas continuar?</p>
    </div>
    <div class="set-12 ctrls">
      <button type="button" mat-raised-button color="accent" (click)="killDialog()" [disabled]="submitted">
        <small>Cancelar</small>
      </button>
      <button type="button" mat-raised-button color="primary" (click)="setAsCover()" [disabled]="submitted">
        <small>Continuar</small>
      </button>
      <mat-spinner diameter="20" *ngIf="submitted"></mat-spinner>
    </div>
  </div>
</div>

<!-- disable layout in document -->
<div class="set-12" *ngIf="isDataAvailable && windowType == 'kill-layout'">
  <div class="set-12 dialog-body">
    <div class="set-12 alert-txt">
      <h1>¡Alerta!</h1>
      <mat-icon>warning</mat-icon>
    </div>
    <div class="set-12">
      <p>Se eliminará la categoría:</p>
      <h1 class="txt-center">{{layout.category.name}}</h1>
      <p>¿Deseas continuar?</p>
    </div>
    <div class="set-12 ctrls">
      <button type="button" mat-raised-button color="accent" (click)="killDialog()" [disabled]="submitted">
        <small>Cancelar</small>
      </button>
      <button type="button" mat-raised-button color="primary" [disabled]="submitted" (click)="killLayout()">
        <small>Continuar</small>
      </button>
      <mat-spinner diameter="20" *ngIf="submitted"></mat-spinner>
    </div>
  </div>
</div>

<!-- kill document collaborator -->
<div class="set-12" *ngIf="isDataAvailable && windowType == 'kill-collaborator'">
  <div class="set-12 dialog-body">
    <div class="set-12 alert-txt">
      <h1>¡Alerta!</h1>
      <mat-icon>warning</mat-icon>
    </div>
    <div class="set-12">
      <p>Se eliminará el usuario:</p>
      <h1 class="txt-center">{{collaborator.firstname}} {{collaborator.lastname}}</h1>
      <p>¿Deseas continuar?</p>
    </div>
    <div class="set-12 ctrls">
      <button type="button" mat-raised-button color="accent" (click)="killDialog()" [disabled]="submitted">
        <small>Cancelar</small>
      </button>
      <button type="button" mat-raised-button color="primary" [disabled]="submitted"
        (click)="killDocumentCollaborator()">
        <small>Continuar</small>
      </button>
      <mat-spinner diameter="20" *ngIf="submitted"></mat-spinner>
    </div>
  </div>
</div>