<div class="set-12">
  <h1>¡Premios!</h1>

  <div class="set-12">
    <p>
      Los 20 equipos mejor calificados recibirán una invitación a la Ciudad de México para que fortalezcan y presenten
      sus
      propuestas en el Senado de la República y ante medios de comunicación.
    </p>
    <p>
      Se apoyará a cada equipo con el transporte y estancia en la Ciudad de México para dos personas por equipo. Sin
      embargo, no se limitará la posibilidad de que todas las personas integrantes del equipo asistan al evento.
    </p>
  </div>

  <div class="set-12 ctrls">
    <button type="button" mat-raised-button color="warn" (click)="killDialog()">
      <small>OK</small>
    </button>
  </div>
</div>