<div class="set-12 loading" *ngIf="!isDataAvailable">
  <mat-spinner></mat-spinner>
</div>
<div class="set-12">
  <div class="container" *ngIf="isDataAvailable">
    <breadcrumbs-component>
      <li>Documentos</li>
      <li
        *ngIf="!!document.title; else noTitle"
        (click)="utilityService.linkMe('/documentos-publicos/' + document._id)"
      >
        {{ document.title }}
      </li>
      <ng-template #noTitle>
        <div>categoria</div>
      </ng-template>
      <li>{{ selectedCategory.category.name }}</li>
    </breadcrumbs-component>
    <div class="set-12 txt-left" style="margin-bottom: 10px">
      <span class="created-by">
        Autor:
        <span class="author"
          >{{ selectedCategory.createdBy.firstname }}
          {{ selectedCategory.createdBy.lastname }}</span
        >
      </span>
    </div>

    <div class="set-12">
      <div class="set-3 col-lft">
        <mat-card class="set-12 doc-description">
          <div class="set-12 imghldr">
            <mat-icon *ngIf="!image">panorama</mat-icon>
            <img *ngIf="image" [src]="image" alt="" />
          </div>

          <div class="set-12 infohldr">
            <p class="set-12 card-title">
              {{ selectedCategory.category.name }}
            </p>
            <expanded-text
              [text]="selectedCategory.description"
              [minLength]="200"
            ></expanded-text>
          </div>
        </mat-card>
        <horizontal-stats [data]="selectedCategory"></horizontal-stats>
      </div>
      <div class="set-9 col-rgt">
        <panel-circles
          [data]="selectedCategory.subLayouts"
          [withBorder]="true"
          [redirectTo]="'SUBCATEGORY'"
        ></panel-circles>

        <div class="mt-2 set-3">
          <mat-form-field appearance="outline">
            <mat-label>Cobertura</mat-label>
            <mat-select formControlName="coverage" multiple>
              <mat-option value="all">
                <small>Nacional</small>
              </mat-option>
              <mat-option> Municipio 1 </mat-option>
              <mat-option> Municipio 2 </mat-option>
              <mat-option> Municipio 3 </mat-option>
              <mat-option> Municipio 4 </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="set-12 mt-2">
          <div class="set-3 col-rgt-2">
            <vertical-stats [data]="selectedCategory.stats"></vertical-stats>
          </div>
          <div class="set-5 col-rgt-2">
            <spider-chart></spider-chart>
          </div>
          <div class="set-4">
            <top10-list [data]="items"></top10-list>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
