<div class="set-12">
  <h3>¡Hola!</h3>
  <p>Para hacer uso de las herramientas del <strong>Muro Colectivo</strong> necesitas una cuenta.</p>

  <div class="set-12 links">
    <p><a href="javascript:void(0)" (click)="killDialog(); utilityService.linkMe('/hub/signin-mobile')">Ingresar</a> |
      <a href="javascript:void(0)" (click)="killDialog(); utilityService.linkMe('/hub/signup-mobile')">Registro</a>
    </p>
  </div>

  <div class="set-12">
    <button type="button" mat-raised-button color="warn" (click)="killDialog()">
      <small>Salir</small>
    </button>
  </div>
</div>