<div class="container">
  <div class="set-12">
    <div class="set-6">
      <breadcrumbs-component>
        <li class="breadcrumb-item">Documento madre</li>
        <li class="breadcrumb-item">Economia</li>

        <li>Empleo</li>
      </breadcrumbs-component>
    </div>
    <div class="set-4 featured-users">
      <featured-users [inputAmount]="5"></featured-users>
    </div>
    <div class="set-2">
      <div class="header-buttons">
        <div class="button-box">
          <button type="button" mat-mini-fab color="warn" class="add-button green">
            <mat-icon>create_new_folder</mat-icon>
          </button>
          <p>Agregar solución</p>
        </div>
        <div class="button-box">
          <button type="button" mat-mini-fab color="warn" class="add-button purple">
            <mat-icon style="color:white">create_new_folder</mat-icon>
          </button>
          <p>Agregar Testimonios</p>
        </div>
      </div>
    </div>
  </div>

  <div class="set-12" style="padding-bottom: 100px;margin-top: 20px;">
    <div class="set-8 col-rgt-3">
      <div class="set-12">
        <mat-card class="doc-description" style="height: 280px">
          <div class="set-12">
            <div class="set-3">
              <div class="imghldr">
                <img src="../../../assets/images/trac.png" alt="" />
              </div>
              <div class="actions-box">
                <div class="set-12">
                  <div class="set-3">
                    <img src="../../../assets/images/like-button.png" alt="" width="70" />
                  </div>
                  <div class="set-9" style="padding-left: 30px">
                    <p class="title">Relevancia ciudadana</p>
                    <p class="value">8</p>
                    <button class="vote-button">Vota</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="set-9">
              <div class="infohldr">
                <p class="card-title">
                  Incorporar informales a traves de cuotas unicas de ISR y
                  Seguridad Social
                </p>
                <p class="card-description">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry. Lorem Ipsum has been the industry's
                  standard dummy text ever since the 1500s, when an unknown
                  printer took a galley of type and scrambled it to make a type
                  specimen book. It has survived not only five centuries, but
                  also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with
                  the release of Letraset sheets containing Lorem Ipsum
                  passages, and more recently with desktop publishing software
                  like Aldus PageMaker including versions of Lorem Ipsum
                </p>
                <span class="card-description link">Leer más</span>
              </div>
            </div>
          </div>
        </mat-card>
      </div>
      <div class="set-12 mt-2">
        <solutions-card [data]="solutions"></solutions-card>
      </div>
    </div>
    <div class="set-4">
      <p style="font-weight: 500; margin-bottom: 20px">Testimonios</p>
      <div class="set-12 testimony-box" style="height: 300px">
        <testimony-card [data]="testimonials"></testimony-card>
      </div>
      <div class="main-box"></div>
    </div>
  </div>
</div>