<div class="set-12 loading" *ngIf="!isDataAvailable">
  <mat-spinner></mat-spinner>
</div>

<div class="set-12" *ngIf="isDataAvailable">
  <div class="set-12">
    <div class="set-6">
      <breadcrumbs-component>
        <li>Documentos</li>
        <li>{{ document.title }}</li>
        <li>{{ category.category.name }}</li>
        <li>{{ subcategory.category.name }}</li>
        <li>{{ solution.title }}</li>
      </breadcrumbs-component>
    </div>
    <div class="set-6 txt-right">
      <span class="created-by">
        Autor: <span class="author">{{category.createdBy.firstname}}
          {{category.createdBy.lastname}}</span>
      </span>
    </div>
  </div>

  <div class="set-12">
    <div class="set-3 col-left">
      <mat-card class="set-12 doc-description">
        <div class="set-12 imghldr">
          <mat-icon *ngIf="solution.images.length == 0">panorama</mat-icon>
          <slider-images [images]="solution.images" *ngIf="solution.images.length != 0"></slider-images>
          <div class="overlay">
            <mat-icon>photo_camera</mat-icon>
            <div class="cover"></div>
          </div>
        </div>

        <div class="set-12 infohldr">
          <div class="set-12 card-title">
            <div class="set-10">{{solution.title}}</div>
            <div class="set-2 txt-right">
              <button type="button" [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>Editar documento</span>
                </button>
                <button mat-menu-item [disabled]="solution.inCover">
                  <mat-icon>home</mat-icon>
                  <span>Usar como portada</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>edit_note</mat-icon>
                  <span>{{solution.coverDescription ? 'Editar' : 'Agregar'}} texto portada</span>
                </button>
                <button mat-menu-item>
                  <mat-icon>lock</mat-icon>
                  <span>Marcar como {{solution.isPublic ? 'Privado' : 'Público'}}</span>
                </button>
              </mat-menu>
            </div>
          </div>
          <p class="card-description" *ngIf="document.description != null">{{document.description}}</p>
          <button type="button" class="toolbtn" *ngIf="document.description == null">
            <small>Agregar descripción</small>
          </button>
          <avatars-row [users]="collaborators"></avatars-row>
        </div>
      </mat-card>
    </div>

    <div class="set-9 col-rgt">
      <div class="set-12">
        <div class="set-4">&nbsp;
          <mat-form-field appearance="outline">
            <mat-label>Cobertura</mat-label>
            <mat-select disabled="">
              <!-- <mat-option *ngFor="let option of solution.coverage" [value]="option._id">
                <small>{{ option.name | titlecase }}</small>
              </mat-option> -->
            </mat-select>
          </mat-form-field>
        </div>
        <div class="set-8 txt-right">
          <button type="button" mat-mini-fab color="accent" class="mini test" matTooltip="Agregar Comentario">
            <mat-icon>forum</mat-icon>
          </button>
          <button type="button" mat-mini-fab color="primary" class="mini test" matTooltip="Agregar Testimonio">
            <mat-icon>forum</mat-icon>
          </button>
          <!-- <button type="button" mat-mini-fab color="warn" class="mini insights" matTooltip="Agregar Solución">
            <mat-icon>insights</mat-icon>
          </button> -->
        </div>
      </div>

      <mat-card class="set-12 about-card">
        <p class="title">{{ solution.title }}</p>
        <p class="description">{{ solution.description }}</p>
      </mat-card>
    </div>
  </div>
</div>