<div class="set-12 loading" *ngIf="!isDataAvailable">
  <mat-spinner></mat-spinner>
</div>

<div class="set-12" *ngIf="isDataAvailable">
  <div class="set-12">
    <breadcrumbs-component>
      <li>Documentos</li>
      <li (click)="utilityService.linkMe('/documentos/' + document._id)">
        {{ document.title }}
      </li>
      <li (click)="utilityService.linkMe('/documentos/' + document._id + '/categoria/' + category._id)">
        {{ category.category.name }}
      </li>
      <li
        (click)="utilityService.linkMe('/documentos/' + document._id + '/categoria/' + category._id + '/subcategoria/' + subcategory._id)">
        {{ subcategory.category.name }}
      </li>
      <li
        (click)="utilityService.linkMe('/documentos/' + document._id + '/categoria/' + category._id + '/subcategoria/' + subcategory._id + '/temas/' + topic._id)">
        {{ topic.title }}
      </li>
      <li>{{ solution.title }}</li>
    </breadcrumbs-component>
  </div>

  <div class="set-12 author-hldr">
    <span class="created-by">
      Autor: <span class="author">{{solution.createdBy.firstname}}
        {{solution.createdBy.lastname}}</span>
    </span>
  </div>

  <div class="set-12">
    <div class="set-3 col-left">
      <mat-card class="set-12 doc-description">
        <div class="set-12 imghldr">
          <mat-icon class="pano" *ngIf="solution.images.length == 0">panorama</mat-icon>
          <slider-images [images]="solution.images" *ngIf="solution.images.length != 0"></slider-images>
          <div class="overlay">
            <mat-icon color="accent">photo_camera</mat-icon>
            <div class="cover"></div>
          </div>
        </div>

        <div class="set-12 infohldr">
          <div class="set-12 card-title">
            <div class="set-10">{{solution.title}}</div>
            <div class="set-2 txt-right">
              <button type="button" [matMenuTriggerFor]="menu"
                [disabled]="!actionControlActivityList.includes(user.activityName)">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button type="button" mat-menu-item>
                  <mat-icon>edit</mat-icon>
                  <span>Editar</span>
                </button>
              </mat-menu>
            </div>
          </div>
          <avatars-row [users]="collaborators" *ngIf="actionControlActivityList.includes(user.activityName)">
          </avatars-row>
        </div>
      </mat-card>
    </div>

    <div class="set-9 col-rgt">
      <div class="set-12">
        <div class="set-4">
          <mat-form-field appearance="outline">
            <mat-label>Cobertura</mat-label>
            <mat-select (selectionChange)="onSelectCoverage($event)">
              <mat-option *ngFor="let option of document.coverage" [value]="option._id" [disabled]="!option.enabled">
                <small>{{ option.name | titlecase }}</small>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="set-8 txt-right">
          <button type="button" mat-mini-fab color="primary" class="mini test" matTooltip="Agregar Comentario"
            (click)="popAddCommentsDialog()">
            <mat-icon>add_comment</mat-icon>
          </button>
          <button type="button" mat-mini-fab color="warn" class="mini test" matTooltip="Agregar Testimonio">
            <mat-icon>insert_comment</mat-icon>
          </button>
          <!-- <button type="button" mat-mini-fab color="warn" class="mini insights" matTooltip="Agregar Solución">
            <mat-icon>insights</mat-icon>
          </button> -->
        </div>
      </div>

      <mat-card class="set-12 about-card">
        <p class="title">{{ solution.title }}</p>
        <p class="description">{{ solution.description }}</p>
      </mat-card>
    </div>
  </div>
</div>