<div class="set-12 loading" *ngIf="!isDataAvailable">
  <mat-spinner></mat-spinner>
</div>

<div class="container" *ngIf="isDataAvailable">
  <div class="container">
    <div class="set-10">
      <breadcrumbs-component>
        <li>...</li>
        <li
          [matTooltip]="document.title"
          matTooltipClass="tooltip"
          (click)="
            utilityService.linkMe('/documentos-publicos/' + document._id)
          "
        >
          <!-- {{ document.title }} -->
          ...
        </li>
        <li
          [matTooltip]="category.category.name"
          matTooltipClass="tooltip"
          (click)="
            utilityService.linkMe(
              '/documentos-publicos/' +
                document._id +
                '/categoria/' +
                category._id
            )
          "
        >
          ...
          <!-- {{ category.category.name }} -->
        </li>
        <li
          [matTooltip]="subcategory.category.name"
          matTooltipClass="tooltip"
          (click)="
            utilityService.linkMe(
              '/documentos-publicos/' +
                document._id +
                '/categoria/' +
                category._id +
                '/subcategoria/' +
                subcategory._id
            )
          "
        >
          {{ subcategory.category.name }}
        </li>
        <li
          [matTooltip]="topic.title"
          matTooltipClass="tooltip"
          (click)="
            utilityService.linkMe(
              '/documentos-publicos/' +
                document._id +
                '/categoria/' +
                category._id +
                '/subcategoria/' +
                subcategory._id +
                '/tema/' +
                topic._id
            )
          "
        >
          {{ topic.shortTitle }}
        </li>
        <li [matTooltip]="solution.title" matTooltipClass="tooltip">
          {{ solution.shortTitle }}
        </li>
      </breadcrumbs-component>
    </div>
    <!-- <div class="set-3 featured-users">
      <featured-users [inputAmount]="3"></featured-users>
    </div> -->

    <div class="set-2 txt-center">
      <button
        type="button"
        mat-mini-fab
        color="primary"
        class="mini"
        matTooltip="Agregar Comentario"
        (click)="openModalComment()"
      >
        <mat-icon>add_comment</mat-icon>
      </button>
      <button
        type="button"
        mat-mini-fab
        color="warn"
        class="mini"
        matTooltip="Agregar Testimonio"
        (click)="openModalTestimony()"
      >
        <mat-icon>book</mat-icon>
      </button>
    </div>
    <div class="set-12 txt-left" style="margin-bottom: 10px">
      <span class="created-by">
        Autor:
        <span class="author"
          >{{ solution.createdBy.firstname }}
          {{ solution.createdBy.lastname }}</span
        >
      </span>
    </div>
    <div class="set-12" style="padding-bottom: 100px">
      <div class="set-8 col-rgt-3">
        <div class="set-12 header-card">
          <mat-card>
            <!-- IMAGE -->
            <div class="set-12 image-box imghldr">
              <mat-icon *ngIf="!image">panorama</mat-icon>
              <img
                *ngIf="image"
                [src]="image"
                style="cursor: pointer"
                (click)="popImageViewer()"
              />
              <div class="info">
                <div class="actions">
                  <p>Relevancia ciudadana</p>
                  <p class="votes">{{ rank.totalPoints }} / 100</p>
                  <button
                    *ngIf="userVoted"
                    mat-raised-button
                    color="primary"
                    disabled
                    style="background-color: #d9d9d9"
                  >
                    Votos: {{ votes }}
                  </button>
                  <button
                    *ngIf="!userVoted"
                    mat-raised-button
                    color="black"
                    style="
                      background-color: #71f5ad;
                      font-weight: 600;
                      font-size: 16px;
                    "
                    (click)="openModalVote()"
                  >
                    Votar
                  </button>
                </div>
              </div>
            </div>
            <!-- DATA -->
            <div class="data-box">
              <p class="title">{{ solution.title }}</p>
              <expanded-text
                [text]="solution.description"
                [title]="solution.title"
              >
              </expanded-text>
            </div>
          </mat-card>
        </div>
        <div class="set-12 mt-2">
          <mat-card
            class="doc-description"
            style="height: 480px; padding: 30px"
          >
            <div class="set-12 mt-2">
              <div class="set-6 col-rgt-2">
                <spider-chart [withBorder]="false"></spider-chart>
              </div>
              <div class="set-6 col-rgt-2">
                <circle-chart></circle-chart>
              </div>
              <div class="set-6"></div>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="set-4">
        <public-documents-testimonials
          [data]="solution.testimonials"
        ></public-documents-testimonials>
      </div>
    </div>
  </div>
</div>
