:host {
  .main {
    height: 450px;
    display: flex;
    flex-flow: column wrap;
    background-color: #00031d;
    border-radius: 5px 5px 0px 0px;
    padding: 25px;

    .random-text {
      margin-bottom: 32px;
      position: relative;

      span {
        border: 3px solid #71f5ad;
        background-color: transparent;
        padding: 6px 20px;
        border-radius: 6px;
        text-transform: uppercase;
        font-weight: 800;
        color: #71f5ad;
        font-size: 16px;
        z-index: 1001;
        position: relative;
      }

      .sb4 {
        position: absolute;
        width: 0px;
        height: 0px;
        border-left: 10px solid transparent;
        border-right: 10px solid #71f5ad;
        border-top: 3px solid #71f5ad;
        border-bottom: 8px solid transparent;
        right: 20px;
        bottom: -14px;
      }
    }

    .message {
      color: #71f5ad;
      font-weight: 600;
      font-size: 20px;
      margin-top: 20%;
      margin-left: 40%;
    }
  }
}
