<div class="msg-host" [ngClass]="{'host-expanded': expanded, 'host-height' : isVisible }">
  <div class="set-12 c-head">
    <div class="row info">
      <div class="avatar"></div>
      <span>Customer Support</span>
    </div>
    <div class="row ctrls">
      <button type="button" (click)="expandBox()" *ngIf="isVisible">
        <mat-icon *ngIf="!expanded">north_west</mat-icon>
        <mat-icon *ngIf="expanded">south_east</mat-icon>
      </button>
      <button type="button" (click)="toggleVisibility()">
        <mat-icon *ngIf="!isVisible">forum</mat-icon>
        <mat-icon *ngIf="isVisible">close</mat-icon>
      </button>
    </div>
  </div>

  <div class="set-12 c-msg-area" *ngIf="isVisible && conversation != null">
    <div class="set-12 msg" *ngFor="let msg of conversation.messages">
      <small>{{msg.text}}</small>
    </div>
  </div>

  <div class="set-12 c-txtarea" *ngIf="isVisible">
    <form [formGroup]="msgFormGroup">
      <textarea cdkTextareaAutosize placeholder="Escribe un mensaje..." formControlName="message"></textarea>
    </form>
    <button type="button">
      <mat-icon>expand_less</mat-icon>
    </button>
  </div>

  <div class="set-12 c-footer" *ngIf="isVisible">
    <button type="button" mat-mini-fab color="primary" (click)="onSendMessage()">
      <mat-icon>send</mat-icon>
    </button>
  </div>
</div>