<div class="set-12 carousel-hldr" *ngIf="documents.length != 0">
  <carousel [cellsToShow]="2" [arrows]="documents.length > 2 ? true : false">
    <div class="carousel-cell" *ngFor="let document of documents">
      <mat-card>
        <div class="set-12 imghldr">
          <mat-icon *ngIf="document.images.length == 0">panorama</mat-icon>
          <img [src]="document.images[0]" alt="" *ngIf="document.images.length != 0">
        </div>

        <div class="set-12 infohldr">
          <div class="set-12 card-row">
            <div class="set-8">
              <h4>{{document.title}}</h4>
            </div>
            <div class="set-4 txt-right">
              <button type="button" matTooltip="Editar">
                <mat-icon>edit</mat-icon>
              </button>
              <button type="button" matTooltip="Abrir" (click)="linkMe('/documentos/' + document._id)">
                <mat-icon>description</mat-icon>
              </button>
              <button type="button" matTooltip="Datos">
                <mat-icon>pie_chart</mat-icon>
              </button>
            </div>
          </div>

          <div class="set-12 card-row counts">
            <mat-icon>person</mat-icon> <small>{{document.collaborators.length}} Usuarios</small>
            <mat-icon>front_hand</mat-icon> <small>0 Interacciones</small>
          </div>

          <div class="set-12 empty-layout" *ngIf="document.layouts.length == 0">
            <div class="set-12 date">
              <small>{{document.createdAt | date: 'mediumDate'}} - {{document.createdAt | date: 'mediumTime'}}</small>
            </div>

            <div class="set-12">
              <mat-icon>folder</mat-icon>
              <p><strong><small>Tu documento esta vacio</small></strong></p>
            </div>

            <div class="set-12 ctrls">
              <button type="button" mat-raised-button color="primary" (click)="popLayoutDialog(document._id)">
                <span>Crear esquema</span>
              </button>
            </div>
          </div>

          <div class="set-12 available-layout" *ngIf="document.layouts.length != 0">
            <h4 class="category-title">Categorías</h4>
            <div class="set-12" *ngFor="let layout of document.layouts">
              <ul>
                <li>
                  <button type="button" (click)="linkMe('/documentos/' + document._id + '/categoria/' + layout._id)"
                    matTooltip="Abrir categoría" matTooltipClass="tooltip" matTooltipPosition="right">
                    <small>{{layout.category.name}}</small>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </carousel>
</div>