:host {
  .carousel-hldr {
    margin-bottom: 20px;
    height: 430px;

    mat-card {
      padding: 0 !important;
      height: 100%;
      box-shadow: none !important;
    }
  }

  .card-row {
    display: flex;
    align-items: center;

    * {
      margin: 0;
    }

    mat-icon {
      font-size: 13pt;
      color: #306EFF;
    }

    button {
      margin-left: 10px;
    }

    button:first-child {
      margin-left: 0;
    }
  }

  .counts {
    margin: 10px 0;

    mat-icon {
      margin-right: 5px;
    }

    small {
      margin-right: 30px;
    }
  }

  .empty-layout {
    text-align: center;
    margin-top: 10px;

    mat-icon {
      font-size: 30pt;
      color: #306EFF;
    }

    .date {
      margin-bottom: 20px;
    }

    .ctrls {
      margin-top: 30px;
    }
  }

  .available-layout {
    margin-top: 20px;

    .category-title {
      margin-bottom: 10px;
    }

    ul {
      list-style-position: inside;
    }
  }

  .imghldr {
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba($color: #CEDDFF, $alpha: 0.4);
    border-bottom: 1px solid rgba($color: #000000, $alpha: 0.05);

    mat-icon {
      font-size: 70pt;
      color: rgba($color: #000000, $alpha: 0.1);
    }
  }

  .infohldr {
    padding: 20px;
  }
}