<div class="set-12 toptools">
  <strong><small>DOCUMENTOS</small></strong>
  <button type="button" class="roundgreen" *ngIf="documents.length != 0" (click)="openAddDocumentDialog()"
    matTooltip="Agregar Documento" matTooltipClass="tooltip">
    <mat-icon>note_add</mat-icon>
  </button>
</div>

<!-- empty documents -->
<div class="set-12 carousel-hldr" *ngIf="documents.length == 0 && isDataAvailable">
  <carousel [cellsToShow]="1" [arrows]="false">
    <div class="carousel-cell">
      <mat-card class="emptycard">
        <div class="set-12 txt-center">
          <h4>Agrega un documento</h4>
          <button type="button" class="roundblue" (click)="openAddDocumentDialog()">
            <mat-icon>note_add</mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
  </carousel>
</div>

<!-- available documents -->
<div class="set-12 carousel-hldr" *ngIf="documents.length != 0 && isDataAvailable">
  <carousel [cellsToShow]="2" [arrows]="documents.length > 2 ? true : false">
    <div class="carousel-cell" *ngFor="let document of documents">
      <mat-card>
        <div class="set-12 imghldr">
          <mat-icon *ngIf="document.images.length == 0">panorama</mat-icon>
          <img [src]="document.images[0]" alt="" *ngIf="document.images.length != 0">
        </div>

        <div class="set-12 infohldr">
          <div class="set-12 card-row">
            <div class="set-8">
              <!-- <h4>{{document.title}}</h4> -->
              {{(document.title.length > 20) ? (document.title | slice: 0:20) + '...' : (document.title)}}
            </div>
            <div class="set-4 txt-right">
              <button type="button" matTooltip="Editar">
                <mat-icon>edit</mat-icon>
              </button>
              <button type="button" matTooltip="Abrir" (click)="linkMe('/documentos/' + document._id)">
                <mat-icon>description</mat-icon>
              </button>
              <button type="button" matTooltip="Datos" (click)="displayDocumentData(document._id)">
                <mat-icon>pie_chart</mat-icon>
              </button>
            </div>
          </div>

          <div class="set-12 card-row editorname">
            <small *ngIf="document.editors[0].user.isFullRegister">
              Editor: {{document.editors[0].user.firstname}} {{document.editors[0].user.lastname}} <span
                *ngIf="document.editors.length > 1">+</span>
            </small>
            <small *ngIf="!document.editors[0].user.isFullRegister">NA</small>
          </div>

          <div class="set-12 card-row counts">
            <mat-icon>person</mat-icon> <small>{{document.collaborators.length}} Usuarios</small>
            <mat-icon>front_hand</mat-icon> <small>0 Interacciones</small>
          </div>

          <div class="set-12 available-layout" *ngIf="document.layouts.length != 0">
            <h4 class="category-title">Categorías</h4>
            <div class="set-12" *ngFor="let layout of document.layouts">
              <ul>
                <li>
                  <button type="button" (click)="linkMe('/documentos/' + document._id + '/categoria/' + layout._id)"
                    matTooltip="Abrir categoría" matTooltipClass="tooltip" matTooltipPosition="right">
                    <small>{{layout.category.name}}</small>
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </carousel>
</div>

<div class="set-12 tabs">
  <mat-card class="set-12">
    <mat-tab-group [disableRipple]="true" [@.disabled]="true">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>analytics</mat-icon>
          <span>BI</span>
        </ng-template>

        <div class="set-12 top-cards">
          <div class="set-6">
            <mat-card class="set-12 inner-card">
              <span class="roundico-green">
                <mat-icon>groups</mat-icon>
              </span>
              <span>Usuarios</span>
            </mat-card>
          </div>

          <div class="set-6">
            <mat-card class="set-12 inner-card">
              <span class="roundico-orange">
                <mat-icon>front_hand</mat-icon>
              </span>
              <span>Interacciones</span>
            </mat-card>
          </div>
        </div>

        <div class="set-12 category-list" *ngIf="selectedDocument != null">
          <div class="set-12 list" *ngIf="selectedDocument.layout.length != 0">
            <div class="set-12 category" *ngFor="let layer of selectedDocument.layout">
              <small>{{layer.name}}</small>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>rss_feed</mat-icon>
          <span>Activity center</span>
        </ng-template>
        <div class="set-12">Hello</div>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>